@charset "UTF-8";
@font-face {
  font-family: "fec-icons";
  src: url("../fonts/fec-icons.eot");
  src: url("../fonts/fec-icons.eot?#iefix") format("eot"), url("../fonts/fec-icons.woff2") format("woff2"), url("../fonts/fec-icons.woff") format("woff"), url("../fonts/fec-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.i::before {
  font-family: "fec-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

.i-info::before {
  content: ""; }

.i-minus-circle::before {
  content: ""; }

.i-plus-circle::before {
  content: ""; }
