html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-family: "Gandhi Serif", serif;
  font-size: 1.4rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  color: #022C53; }

h1 {
  border-bottom: 1px solid #022C53;
  font-family: "Gandhi Serif", serif;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.15; }

h2 {
  font-family: "Gandhi Serif", serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.2; }

h3 {
  font-family: "Gandhi Serif", serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.14; }

h4 {
  font-family: "Karla Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.14; }

h5 {
  font-family: "Gandhi Serif", serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.33; }

h6 {
  border-bottom: 1px solid #022C53;
  font-family: "Karla Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.63;
  text-transform: uppercase; }

p {
  margin-bottom: 1rem; }

hr {
  border-bottom: #000;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1rem 0; }

a {
  border-bottom: 2px dotted #022C53;
  color: #022C53;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active,
  a:focus,
  a:hover {
    border-bottom-color: #36BDBB; }
  a:active,
  a:focus {
    outline: none; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 1rem; }
  dl dt {
    font-weight: bold;
    margin-top: 1rem; }
  dl dd {
    margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

input,
label,
select {
  display: block; }

label {
  margin: 0;
  font-family: "Karla Sans", sans-serif; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea,
select {
  background-color: #EFDECD;
  border-color: #C09C7C;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-family: "Karla Sans", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: border-color;
  width: 100%; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #022C53;
    color: #022C53; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: auto;
  background-image: url("../img/i-arrow-down--primary.png");
  background-image: url("../img/i-arrow-down--primary.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 12px;
  padding: 1rem 3rem 1rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="file"] {
  padding-bottom: 1rem;
  width: 100%; }

.label {
  color: #022C53;
  font-family: "Karla Sans", sans-serif;
  font-weight: bold;
  margin-bottom: .5rem;
  text-transform: uppercase; }

input[type="checkbox"],
input[type="radio"] {
  position: absolute !important;
  top: auto;
  left: -9999px !important; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  line-height: 2rem;
  margin-bottom: 1rem; }

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: #EFDECD;
  border: 2px solid #022C53;
  border-radius: 2px;
  content: '';
  display: inline-block;
  height: 1.6rem;
  margin-right: .6em;
  text-indent: .15em;
  width: 1.6rem;
  vertical-align: -4px; }

input[type="radio"] + label::before {
  height: 1.6rem;
  width: 1.6rem; }

input[type="radio"] + label::before {
  border-radius: 1.6rem; }

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: #022C53; }

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/i-check--neutral.png");
  background-image: url("../img/i-check--neutral.svg");
  background-position: 50%;
  background-size: 12px;
  background-repeat: no-repeat; }

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: 100%; }

th {
  font-weight: 600;
  padding: 0;
  text-align: left; }

td {
  padding: 0; }

tr,
td,
th {
  vertical-align: middle; }

img,
picture {
  margin: 0;
  max-width: 100%; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

.lt-ie9 * {
  filter: none !important; }

[aria-hidden=true] {
  display: none !important; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.bg--neutral {
  background-color: #EFDECD;
  color: #000; }

.bg--primary {
  color: #36BDBB;
  background-color: #022C53; }
  .bg--primary h1,
  .bg--primary h2,
  .bg--primary h3,
  .bg--primary h4,
  .bg--primary h5,
  .bg--primary h6,
  .bg--primary a,
  .bg--primary p,
  .bg--primary span,
  .bg--primary li,
  .bg--primary dt,
  .bg--primary dd,
  .bg--primary label,
  .bg--primary blockquote,
  .bg--primary .label {
    color: #36BDBB; }
  .bg--primary h1,
  .bg--primary h6,
  .bg--primary a {
    border-color: #36BDBB; }
  .bg--primary input[type="color"], .bg--primary input[type="date"], .bg--primary input[type="datetime"], .bg--primary input[type="datetime-local"], .bg--primary input[type="email"], .bg--primary input[type="month"], .bg--primary input[type="number"], .bg--primary input[type="password"], .bg--primary input[type="search"], .bg--primary input[type="tel"], .bg--primary input[type="text"], .bg--primary input[type="time"], .bg--primary input[type="url"], .bg--primary input[type="week"], .bg--primary textarea,
  .bg--primary select,
  .bg--primary select[multiple=multiple],
  .bg--primary textarea {
    color: #36BDBB;
    border-color: #36BDBB;
    background-color: #022C53; }
    .bg--primary input[type="color"]:focus, .bg--primary input[type="date"]:focus, .bg--primary input[type="datetime"]:focus, .bg--primary input[type="datetime-local"]:focus, .bg--primary input[type="email"]:focus, .bg--primary input[type="month"]:focus, .bg--primary input[type="number"]:focus, .bg--primary input[type="password"]:focus, .bg--primary input[type="search"]:focus, .bg--primary input[type="tel"]:focus, .bg--primary input[type="text"]:focus, .bg--primary input[type="time"]:focus, .bg--primary input[type="url"]:focus, .bg--primary input[type="week"]:focus, .bg--primary textarea:focus,
    .bg--primary select:focus,
    .bg--primary select[multiple=multiple]:focus,
    .bg--primary textarea:focus {
      border-color: #EFDECD;
      color: #EFDECD; }
  .bg--primary select {
    background-image: url("../img/i-arrow-down--primary-contrast.png");
    background-image: url("../img/i-arrow-down--primary-contrast.svg"); }
  .bg--primary input[type="checkbox"] + label::before,
  .bg--primary input[type="radio"] + label::before {
    background-color: #022C53;
    border-color: #36BDBB; }
  .bg--primary input[type="checkbox"]:checked + label::before,
  .bg--primary input[type="radio"]:checked + label::before {
    background-color: #36BDBB; }
  .bg--primary input[type="checkbox"]:checked + label::before {
    background-image: url("../img/i-check--primary.png");
    background-image: url("../img/i-check--primary.svg"); }
  .bg--primary a:hover {
    border-bottom-color: #fff; }

.bg--secondary {
  color: #F77B42;
  background-color: #631010; }
  .bg--secondary h1,
  .bg--secondary h2,
  .bg--secondary h3,
  .bg--secondary h4,
  .bg--secondary h5,
  .bg--secondary h6,
  .bg--secondary a,
  .bg--secondary p,
  .bg--secondary span,
  .bg--secondary li,
  .bg--secondary dt,
  .bg--secondary dd,
  .bg--secondary label,
  .bg--secondary blockquote,
  .bg--secondary .label {
    color: #F77B42; }
  .bg--secondary h1,
  .bg--secondary h6,
  .bg--secondary a {
    border-color: #F77B42; }
  .bg--secondary input[type="color"], .bg--secondary input[type="date"], .bg--secondary input[type="datetime"], .bg--secondary input[type="datetime-local"], .bg--secondary input[type="email"], .bg--secondary input[type="month"], .bg--secondary input[type="number"], .bg--secondary input[type="password"], .bg--secondary input[type="search"], .bg--secondary input[type="tel"], .bg--secondary input[type="text"], .bg--secondary input[type="time"], .bg--secondary input[type="url"], .bg--secondary input[type="week"], .bg--secondary textarea,
  .bg--secondary select,
  .bg--secondary select[multiple=multiple],
  .bg--secondary textarea {
    color: #F77B42;
    border-color: #F77B42;
    background-color: #631010; }
    .bg--secondary input[type="color"]:focus, .bg--secondary input[type="date"]:focus, .bg--secondary input[type="datetime"]:focus, .bg--secondary input[type="datetime-local"]:focus, .bg--secondary input[type="email"]:focus, .bg--secondary input[type="month"]:focus, .bg--secondary input[type="number"]:focus, .bg--secondary input[type="password"]:focus, .bg--secondary input[type="search"]:focus, .bg--secondary input[type="tel"]:focus, .bg--secondary input[type="text"]:focus, .bg--secondary input[type="time"]:focus, .bg--secondary input[type="url"]:focus, .bg--secondary input[type="week"]:focus, .bg--secondary textarea:focus,
    .bg--secondary select:focus,
    .bg--secondary select[multiple=multiple]:focus,
    .bg--secondary textarea:focus {
      border-color: #EFDECD;
      color: #EFDECD; }
  .bg--secondary select {
    background-image: url("../img/i-arrow-down--secondary-contrast.png");
    background-image: url("../img/i-arrow-down--secondary-contrast.svg"); }
  .bg--secondary input[type="checkbox"] + label::before,
  .bg--secondary input[type="radio"] + label::before {
    background-color: #631010;
    border-color: #F77B42; }
  .bg--secondary input[type="checkbox"]:checked + label::before,
  .bg--secondary input[type="radio"]:checked + label::before {
    background-color: #F77B42; }
  .bg--secondary input[type="checkbox"]:checked + label::before {
    background-image: url("../img/i-check--secondary.png");
    background-image: url("../img/i-check--secondary.svg"); }
  .bg--secondary a:hover {
    border-bottom-color: #fff; }

.slab {
  padding: 2rem 0; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button,
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: background-color, 0.1s, color, 0.1s, border-color, 0.1s;
  -moz-transition: background-color, 0.1s, color, 0.1s, border-color, 0.1s;
  transition: background-color, 0.1s, color, 0.1s, border-color, 0.1s;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Karla Sans", sans-serif;
  line-height: 1;
  padding: 8px 2rem;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled,
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.button--primary {
  background-color: #36BDBB;
  color: #022C53; }
  .button--primary:hover {
    background-color: #57cfcd; }
  .button--primary:active,
  .button--primary.is-active {
    background-color: #164F85;
    border: 2px solid #36BDBB;
    color: #FCF6EF; }

.button--secondary {
  background-color: #F77B42;
  color: #631010; }
  .button--secondary:hover {
    background-color: #f99d73; }
  .button--secondary:active,
  .button--secondary.is-active {
    background-color: #961A16;
    border: 2px solid #F77B42;
    color: #FCF6EF; }

.button--neutral {
  background-color: #CEB59C;
  color: #022C53; }
  .button--neutral:hover {
    background-color: #dfcfbe; }
  .button--neutral:active,
  .button--neutral.is-active {
    background-color: #C09C7C;
    border: 2px solid #022C53; }

.button--lg {
  border-radius: 4px;
  font-size: 1.6rem;
  padding: 1.4rem 3rem; }

.button--sm {
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 5px 1rem; }

.button--icon img {
  border-right: 1px solid;
  height: 1em;
  margin-right: 5px;
  padding-right: 5px; }

.button--icon--right img {
  border-right: none;
  border-left: 1px solid;
  margin-right: none;
  margin-left: 5px;
  padding-right: none;
  padding-left: 5px; }

.toggles {
  margin-bottom: 2rem; }
  .toggles::after {
    clear: both;
    content: "";
    display: table; }
  .toggles input[type="radio"] {
    position: absolute !important;
    top: auto;
    left: -9999px !important; }
  .toggles input:checked + .button--primary {
    background-color: #164F85;
    border: 2px solid #36BDBB;
    color: #FCF6EF; }
  .toggles input:checked + .button--secondary {
    background-color: #961A16;
    border: 2px solid #F77B42;
    color: #FCF6EF; }
  .toggles input:checked + .button--neutral {
    background-color: #C09C7C;
    border: 2px solid #022C53; }
  .toggles label {
    margin-top: 0;
    float: left; }
  .toggles .button {
    border-radius: 0 0 0 0;
    display: block;
    font-weight: normal;
    margin-right: 1px; }
  .toggles label:first-of-type .button {
    border-radius: 2px 0 0 2px; }
  .toggles label:last-of-type .button {
    border-radius: 0 2px 2px 0;
    margin-right: 0; }

.list--flat {
  padding: 0; }
  .list--flat::after {
    clear: both;
    content: "";
    display: table; }
  .list--flat li {
    float: left; }

.list--check .is-completed {
  list-style-image: url("/static/img/checkbox.svg");
  margin-left: 2.5rem; }

.list--check .is-uncompleted {
  list-style-image: url("/static/img/checkbox--empty.svg");
  margin-left: 2.5rem; }

.site-header {
  position: relative; }

.site-nav {
  background-color: #EFDECD;
  position: relative; }
  .site-nav::after {
    clear: both;
    content: "";
    display: table; }

.site-nav__list {
  background-color: #EFDECD;
  position: absolute;
  left: 0;
  top: 6rem; }
  @media screen and (min-width: 40em) {
    .site-nav__list {
      display: block;
      float: left;
      position: relative;
      top: 0; }
      .site-nav__list::after {
        clear: both;
        content: "";
        display: table; } }

.site-nav__item {
  border-bottom: 1px solid #CEB59C; }
  @media screen and (min-width: 40em) {
    .site-nav__item {
      float: left;
      border-bottom: none; } }

.site-nav__link {
  -webkit-transition: background-color, 0.1s;
  -moz-transition: background-color, 0.1s;
  transition: background-color, 0.1s;
  border-bottom: .5rem solid transparent;
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 2rem 2rem 1.5rem 2rem; }
  .site-nav__link:hover,
  .site-nav__link:active {
    border-bottom-color: transparent;
    background-color: #CEB59C; }
  .site-nav__link.is-current {
    border-bottom-color: #36BDBB; }
  .site-nav__link.is-active {
    background-color: #022C53;
    color: #36BDBB; }
  .site-nav__link.is-disabled {
    opacity: .5;
    cursor: default; }
    .site-nav__link.is-disabled:hover,
    .site-nav__link.is-disabled:active {
      background: none;
      border-bottom-color: transparent; }

.site-nav__dropdown {
  color: #36BDBB;
  background-color: #022C53;
  padding: 2rem;
  position: absolute;
  top: 6rem;
  width: 100%; }
  .site-nav__dropdown h1,
  .site-nav__dropdown h2,
  .site-nav__dropdown h3,
  .site-nav__dropdown h4,
  .site-nav__dropdown h5,
  .site-nav__dropdown h6,
  .site-nav__dropdown a,
  .site-nav__dropdown p,
  .site-nav__dropdown span,
  .site-nav__dropdown li,
  .site-nav__dropdown dt,
  .site-nav__dropdown dd,
  .site-nav__dropdown label,
  .site-nav__dropdown blockquote,
  .site-nav__dropdown .label {
    color: #36BDBB; }
  .site-nav__dropdown h1,
  .site-nav__dropdown h6,
  .site-nav__dropdown a {
    border-color: #36BDBB; }

.site-nav__dropdown__section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .site-nav__dropdown__section:last-child {
    margin-right: 0; }

.site-nav__button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-width: 0;
  border-radius: 0;
  line-height: 2rem;
  padding: 2rem 3rem;
  text-indent: -99999px; }

.site-nav__button--left {
  background-color: #EFDECD;
  background-image: url("../img/i-menu--primary.png");
  background-image: url("../img/i-menu--primary.svg");
  float: left; }
  .site-nav__button--left:hover {
    background-color: #FCF6EF; }
  @media screen and (min-width: 40em) {
    .site-nav__button--left {
      display: none; } }

.site-nav__button--right {
  background-color: #631010;
  background-image: url("../img/i-book--neutral.png");
  background-image: url("../img/i-book--neutral.svg");
  float: right; }
  .site-nav__button--right:hover {
    background-color: #8f1717; }
