// Styles for printers

@media print {
  // Hide the header, footer and asides
  nav,
  .footer,
  .card,
  .sidebar,
  .feedback__toggle,
  aside {
    display: none;
  }

  .dislcaimer {
    padding: 0;
  }

  .disclaimer__left {
    display: block;
    margin: 0;
    padding: 0;
  }

  .disclaimer__right {
    float: right;
    padding: 0;
  }

  .site-title {
    @include u-background-image('wordmark', 0 0);
    background-size: contain;
    width: 100%;
    height: 30px;
    margin: 10px 0;
    display: block;
  }

  .site-header {
    padding: 0;
    border-bottom: 1px solid $gray;
  }

  .page-header {
    @include clearfix();
    display: block;
    background: $inverse;
    border-bottom: 1px solid $gray;
    color: $gray-dark;
  }


  .breadcrumbs {
    display: block;
    float: none;

    .breadcrumbs__link,
    .breadcrumbs__item {
      color: $gray-dark;
      border-bottom: none;
      max-width: 100%;
    }
  }

  .container {
    padding: 0;
  }

  // Reset all slabs to white background
  .slab,
  .slab--neutral,
  .slab--primary,
  .slab--secondary {
    background: $inverse;
    color: $base;
  }

  body {
    color: $base;
  }

  // Hide the glossary icons from terms
  .term {
    background-image: none;
    margin-right: 0;
    padding-right: 0;
  }
}
