// Color swatches
//
// .crimson        - Crimson
// .orange         - Orange
// .federal-blue   - Federal blue
// .aqua           - Aqua
// .base           - Base, black
// .neutral        - Neutral, lightest gray
// .inverse        - Inverse, white
// .bright-red     - Bright red
// .deep-orange    - Deep orange
// .deep-red       - Deep red
// .bright-blue    - Bright blue
// .deep-aqua      - Deep aqua
// .navy           - Navy
// .gray           - Gray
// .gray-light     - Light gray
// .gray-dark      - Dark gray
// .disabled       - Disabled
//
// Markup:
// <div class="sg-swatch {{modifier_class}}"></div>
//
// Styleguide colors

$colors: (
  crimson: $crimson,
  orange: $orange,
  federal-blue: $federal-blue,
  aqua: $aqua,
  base: $base,
  neutral: $gray-lightest,
  inverse: $inverse,
  bright-red: $bright-red,
  deep-orange: $deep-orange,
  deep-red: $deep-red,
  bright-blue: $bright-blue,
  deep-aqua: $deep-aqua,
  navy: $navy,
<<<<<<< HEAD
  beige: $beige,
  beige-light: $beige-light,
  beige-dark: $beige-dark,
  black: $black,
  disabled: $disabled
=======
  gray: $gray,
  gray-light: $gray-light,
  gray-dark: $gray-dark,
  disabled: $disabled,
  cal-deadline: $cal-deadline,
  cal-election: $cal-election,
  cal-meeting: $cal-meeting,
  cal-outreach: $cal-outreach,
  cal-rules: $cal-rules,
  cal-other: $cal-other
>>>>>>> 410f27787e4b8a4dc449d4f65395f78457aca942
);

@each $variable, $color in $colors {
  .sg-swatch.#{$variable} {
    background-color: $color;
    display: block;
    height: 10rem;
    width: 100%;

    &::after {
      content: '#{$color};';
      color: #fff;
      display: block;
      font-family: $sans-serif;
      font-size: 2rem;
      line-height: 4rem;
      padding: 3rem;
      text-align: center;
    }
  }
}

<<<<<<< HEAD
.sg-swatch.ivory,
.sg-swatch.cream {
  &::after {
=======
.sg-swatch.inverse,
.sg-swatch.neutral {
  &:after {
>>>>>>> 410f27787e4b8a4dc449d4f65395f78457aca942
    color: $navy;
  }
}
