// Typography
$serif: 'gandhi', serif;
$sans-serif: 'karla', sans-serif;
$base-font-family: $serif;

// Primary colors
$crimson: #631010;
$orange: #F77B42;

$federal-blue: #022C53;
$aqua: #36BDBB;

$ivory: #EFDECD;
$cream: #FFFFF9;
$ivory-dark: #D8C4B1;

// Accent colors
$bright-red: #DD1400;
$deep-orange: #E36641;
$deep-red: #961A16;

$bright-blue: #0AACFA;
$deep-aqua: #3E8A9A;
$navy: #164F85;

$beige: #CEB59C;
$brown: #C09C7C;
$black: #000205;
$brown-light: #D8C4B1;
$brown-dark: #c09c7c;

// Color aliases
$primary: $federal-blue;
$primary-contrast: $aqua;
$primary-focus: $deep-aqua;

$secondary: $crimson;
$secondary-contrast: $orange;
$secondary-focus: $deep-red;

$neutral: $ivory;
$neutral-contrast: $brown;
$neutral-focus: $primary;

// Z-Indices

$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;

$z-navigation: $z2;
$z-glossary: $z2;