// Typography
$serif: 'gandhi', serif;
$sans-serif: 'karla', sans-serif;
$base-font-family: $serif;

// Primary colors
$crimson: #631010;
$orange: #f77b42;

$federal-blue: #022c53;
$aqua: #36bdbb;

$ivory: #F5F0E4;
$cream: #ffffff;

// Accent colors
$bright-red: #dd1400;
$deep-orange: #e36641;
$deep-red: #961a16;

$bright-blue: #0aacfa;
$deep-aqua: #3e8a9a;
$navy: #164f85;

$beige: #ceb59c;
$beige-light: #d8c4b1;
$beige-dark: #c09c7c;
$black: #000205;

// Color aliases
$primary: $federal-blue;
$primary-contrast: $aqua;
$primary-focus: $deep-aqua;

$secondary: $crimson;
$secondary-contrast: $orange;
$secondary-focus: $deep-red;

$neutral: $ivory;
$neutral-contrast: $beige-dark;
$neutral-focus: $primary;

// Z-Indices

$z1: 100;
$z2: 200;
$z3: 300;
$z4: 400;
$z5: 500;
$z6: 600;
$z-max: 9000000;

$z-overlay: $z2;
$z-tooltip: $z4;
$z-page-controls: $z4;
$z-navigation: $z5;
$z-glossary: $z5;
$z-feedback: $z-max;
