// Typography
$serif: 'Gandhi Serif', serif;
$sans-serif: 'Karla Sans', sans-serif;
$base-font-family: $serif;

// Primary colors
$crimson: #631010;
$orange: #F77B42;

$federal-blue: #022C53;
$aqua: #36BDBB;

$ivory: #EFDECD;
$cream: #FFFFF9;

// Accent colors
$bright-red: #DD1400;
$deep-orange: #E36641;
$deep-red: #961A16;

$bright-blue: #0AACFA;
$deep-aqua: #3E8A9A;
$navy: #164F85;

$beige: #CEB59C;
$brown: #C09C7C;
$black: #000205;

// Color aliases
$primary: $federal-blue;
$primary-contrast: $aqua;

$secondary: $crimson;
$secondary-contrast: $orange;

$neutral: $ivory;
$neutral-contrast: $brown;