{{#if (eq modifier_class 'accordion--neutral')}}
<ul class="js-accordion accordion--neutral" data-content-prefix="first">
  <li>
    <button class="accordion__button">
      First Amendment
    </button>
    <div class="accordion__content">
      <p>
      Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.
      </p>
    </div>
  </li>
  <li>
    <button class="accordion__button">
      Second Amendment
    </button>
    <div class="accordion__content">
      <p>
      A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.
      </p>
    </div>
  </li>
 </ul>
{{/if}}
{{#if (eq modifier_class 'accordion--inverse')}}
 Coming soon
{{/if}}
