<div class="billboard">
  <div class="billboard__image__container">
    <img class="billboard__image" src="img/api@2x.png" alt="API documentation screenshot">
  </div>
  <div class="billboard__content">
    <h2 class="feature__title">The FEC API: Use our data in your project</h2>
    <p>An application programming interface (API)  is an easy way for computers, programs and developers to share and translate large amounts of data in meaningful ways. We recently released the FEC’s first API to help you use the data to tell your own story. This API is the backbone of the campaign finance data on beta.FEC.gov.</p>
    <p>Check out the <a href="https://api.open.fec.gov">API documentation</a>.</p>
  </div>
</div>
