<div class="downloads sg-relative">
  <ul class="container">
    <li class="download is-pending">
      <div class="download__item">
        <span id="download-file-name" class="download__name">Filename</span>
          <a class="button button--cta download__button is-disabled"
                  href="#"
                  aria-describedby="download-file-name">Download</a>
        <button class="js-close button--cancel download__cancel"><span class="u-visually-hidden">Remove</span></button>
      </div>
      <p class="download__message">We're preparing your download. Your wait will vary depending on how many records you requested and how many downloads we're processing.</p>
    </li>
    <li class="download is-complete">
      <div class="download__item">
        <span id="download-file-name" class="download__name">Filename</span>
          <a class="button button--cta download__button"
                  href="#"
                  aria-describedby="download-file-name">Download</a>
        <button class="js-close button--cancel download__cancel"><span class="u-visually-hidden">Remove</span></button>
      </div>
    </li>
  </ul>
</div>
