<fieldset class="js-dropdown">
  <legend class="label">Election Years</legend>
  <ul class="dropdown__selected"></ul>
  <div class="dropdown">
    <button class="dropdown__button button--alt">More</button>
    <div id="cycle-dropdown" class="dropdown__panel" aria-hidden="true">
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <input id="A" name="cycle" type="checkbox" value="A" />
          <label class="dropdown__value" for="A">A</label>
        </li>
        <li class="dropdown__item">
          <input id="B" name="cycle" type="checkbox" value="B" />
          <label class="dropdown__value" for="B">B</label>
        </li>
        <li class="dropdown__item">
          <input id="C" name="cycle" type="checkbox" value="C" />
          <label class="dropdown__value" for="C">C</label>
        </li>
      </ul>
    </div>
  </div>
</fieldset>
