<section class="hero
  {{ modifier_class }}
  {{#if (eq modifier_class 'hero--data')}}hero--primary{{/if}}
  {{#if (eq modifier_class 'hero--legal')}}hero--primary{{/if}}
  {{#if (eq modifier_class 'hero--registration')}}hero--secondary{{/if}}
  {{#if (eq modifier_class 'hero--press')}}hero--secondary{{/if}}
  ">
  <div class="hero__image"></div>
  <div class="container">
    {{#if (eq modifier_class 'hero--data')}}
    <h1 id="hero-heading" class="hero__title">Campaign finance data</h1>
    <p class="hero__content">See how candidates and committees raise and spend money in federal elections. This financial data helps voters make informed decisions.</p>
    {{/if}}
    {{#if (eq modifier_class 'hero--legal')}}
    <h1 id="hero-heading" class="hero__title">Legal resources</h1>
    <p class="hero__content">Explore relevant statutes, regulations, Commission actions and court cases. Making these resources public clarifies campaign finance legal requirements.</p>
    {{/if}}
    {{#if (eq modifier_class 'hero--registration')}}
    <h1 id="hero-heading" class="hero__title">Registration and reporting</h1>
    <p class="hero__content">Federal candidates and political committees must register with the FEC when they reach certain thresholds. Once registered, they file regular reports about their financial activity. Learn more about these groups and the requirements that apply to them.</p>
    {{/if}}
    {{#if (eq modifier_class 'hero--press')}}
    <h1 id="hero-heading" class="hero__title">Press</h1>
    <p class="hero__content">The Press Office educates reporters about Commission actions and campaign finance activity, law and regulations. The Office keeps the public up-to-date on Commission activities through press releases and a Weekly Digest.</p>
    {{/if}}
  </div>
</section>
