// Typography Mixins

@mixin heading($level) {
  margin: 0 0 1em 0;
  color: $base;

  @if $level == display {
    border-bottom: 0;
    font-family: $serif;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1rem 0;
    padding: 1.2rem 0;

    @include media($med) {
      font-size: 4.8rem;
    }
  }

  @if $level == h1 {
    border-bottom: 1px solid $base;
    font-family: $serif;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.15;

    @include media($med) {
      font-size: 3rem;
    }
  }

  @if $level == h2 {
    font-family: $serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;

    @include media($med) {
      font-size: 2.4rem;
    }
  }

  @if $level == h3 {
    font-family: $serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.14;
  }

  @if $level == h4 {
    font-family: $sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 2rem 0 .5rem 0;
    line-height: 1.2;
    letter-spacing: -.3px;
  }

  @if $level == h5 {
    font-family: $serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1.5rem 0 .75rem 0;
    line-height: 1.33;
  }

  @if $level == h6 {
    border-bottom: 1px solid $base;
    font-family: $sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.63;
    text-transform: uppercase;
  }
}

@mixin t-highlight {
  background: $gray-light;
  font-weight: bold;
  padding: 0 0.3em;
}
