@font-face {
  font-family: "fec-icons";
  src: url('../fonts/fec-icons.eot');
  src: url('../fonts/fec-icons.eot?#iefix') format('eot'),
    url('../fonts/fec-icons.woff2') format('woff2'),
    url('../fonts/fec-icons.woff') format('woff'),
    url('../fonts/fec-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
