<div class="mega-container">
  <div class="mega mega--secondary">
    <div class="mega__inner">
      <div class="usa-width-one-third">
        <div class="mega-heading">
          <h3 class="mega-heading__title"><a href="{{cmsUrl}}/candidate-and-committee-services">Services home</a></h3>
        </div>
        <ul class="usa-width-one-half">
          <li class="mega__item"><a href="">Reporting deadlines</a></li>
          <li class="mega__item"><a href="">Forms</a></li>
        </ul>
      </div>
      <div class="usa-width-two-thirds">
        <div class="mega-heading">
          <h3 class="mega-heading__title">Information about</h3>
        </div>
        <ul class="usa-width-one-fourth">
          <li class="mega__item"><a href="">Candidates and their authorized committees</a></li>
          <li class="mega__item"><a href="">Corporations and labor organizations</a></li>
        </ul>
        <ul class="usa-width-one-fourth">
          <li class="mega__item"><a href="">Political action committees (PACs)</a></li>
          <li class="mega__item"><a href="">Political parties</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
