<div class="mega">
  <div class="mega__inner">
    <div class="mega-heading">
      <h3 class="mega-heading__title"><a href="{{cmsUrl}}/legal-resources">Legal resources home</a></h3>
    </div>
    <ul class="usa-width-one-fourth">
      <li class="mega__item"><a href="">Statutes</a></li>
      <li class="mega__item"><a href="">Regulations</a></li>
      <li class="mega__item"><a href="">Advisory opinions</a></li>
    </ul>
    <ul class="usa-width-one-fourth">
      <li class="mega__item"><a href="">Enforcement</a></li>
      <li class="mega__item"><a href="">Court cases</a></li>
      <li class="mega__item"><a href="">Policy</a></li>
    </ul>
  </div>
</div>
