// Backgrounds
//
// Background styles can be applied to any component and will apply background-color, 
// Uses the font-color() mixin to set font and border colors
//
// .bg--neutral      - Ivory background with black text
// .bg--primary      - Federal Blue background with aqua text
// .bg--secondary    - Crimson background with orange text
//
// Styleguide layout.backgrounds

.bg--neutral {
  background-color: $neutral;
  color: #000;
}

.bg--primary {
  @include u-font-color($primary-contrast);
  @include u-form-color($primary, $primary-contrast, $ivory, 'primary');
  background-color: $primary;
  
  a {
    &:hover {
      border-bottom-color: #fff;
    }
  }  
}

.bg--secondary {
  @include u-font-color($secondary-contrast);
  @include u-form-color($secondary, $secondary-contrast, $ivory, 'secondary');
  background-color: $secondary;

  a {
    &:hover {
      border-bottom-color: #fff;
    }
  }
}