// Grids
//
// Utility class for displaying grids of items, such as cards, callouts, images, etc.
//
// .grid--2-wide        - 2 to a row
// .grid--3-wide        - 3 to a row
// .grid--4-wide        - 4 to a row
//
// Markup:
// <div class="grid sg-grid-example {{modifier_class}}">
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
//   <div class="grid__item">
//     Grid item
//   </div>
// </div>
//
// Styleguide layout.grids

.grid {
  @include outer-container;
}

.grid__item {
  margin-bottom: u(2rem);
  width: 100%;
}

// BREAKPOINT: MEDIUM
// We set a max-width to prevent the omega mixins from applying multiple times.
// This is based on $large-screen, but we have to convert to px so that we can
// subtract a pixel. Otherwise, the breakpoints will overlap at 860px (the
// large breakpoint).
@include media(min-width $medium-screen max-width (strip-units($large-screen) * $em-base - 1)) {
  .grid--2-wide,
  .grid--3-wide,
  .grid--4-wide {
    .grid__item {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .grid__item--no-margin {
    margin-bottom: 0;
  }
}

// BREAKPOINT: LARGE
@include media($lg) {
  .grid--2-wide {
    .grid__item {
      @include span-columns(6);
      @include omega(2n);
    }
  }

  .grid--3-wide {
    .grid__item {
      @include span-columns(4);
      @include omega(3n);
    }
  }

  .grid--4-wide {
    .grid__item {
      @include span-columns(3);
      @include omega(4n);
    }
  }
}
