// Layout
//
// These are basic grid and color styles to be applied to components
//
// Weight: -80
//
// Styleguide layout

@import 'slabs';
@import 'grid';

// Layout elements
//
// Used for dividing up and grouping general chunks of content on a page
// Work in progress as we finalize layouts
//
// .container                 - Used to center and group grid items
// .row                       - Clearfixes a group of divs / wraps grid columns
// .main                      - The main content area below heros
// .main__content             - The area below page headers, next to sidebar
// .main__content--full       - Full-width main content area
// .content__section          - Adds padding for breaking up sections of body content
// .content__section--narrow  - Narrow container for text interspersed with other elements
// .content__section--ruled   - Adds a border
//
// Styleguide layout.elements

.container {
  @include outer-container();
  padding: u(0 2rem);

  @include media($lg) {
    padding: 0;
  }
}

.row {
  @include clearfix();
}

.main {
  @include clearfix();
  padding-bottom: u(2rem);
  padding-top: u(2rem);
  position: relative;

  @include media($lg) {
    padding-top: u(3rem);
    padding-bottom: u(3rem);
  }
}

.content--blank {
  border-top: 1px solid $neutral;
  padding: u(4rem 0);
}

.main__content {
  @include clearfix();
  position: relative;

  @include media($med) {
    @include span-columns(8);
  }
}

.main__content--right {
  @include clearfix();
  position: relative;

  @include media($med) {
    @include span-columns(9);
  }
}

.main__content--full {
  @include clearfix();
  position: relative;
}

.content__section {
  @include clearfix();
  padding: u(0 0 2rem 0);
}

.content__section--extra {
  @include clearfix();
  padding: u(2rem 0);

  @include media($lg) {
    padding: u(4rem 0);
  }
}

.content__section--narrow {
  max-width: u(80rem); // matches `p` tags
}

.content__section--ruled {
  border-top: 1px solid $primary;
  margin-top: u(2rem);
  padding-top: u(2rem);

  &.content__section--extra {
    padding-top: u(4rem);
  }

  & + .content__section--ruled {
    margin-top: 0;
  }
}

// Utility padding classes

.u-padding--top {
  padding-top: u(2rem);
}

.u-padding--bottom {
  padding-bottom: u(2rem);
}

.u-padding-left {
  padding-left: u(2rem);
}

.u-padding--right {
  padding-right: u(2rem);
}

// Class applied to candidate and committee pages with tabs
.tab-interface {
  overflow-x: hidden;
  position: relative;
}

@media print {
  .container {
    padding: 0;
  }
}
