// Layout
//
// These are basic grid and color styles to be applied to components
//
// Weight: -80
//
// Styleguide layout

@import "slabs";

// Layout elements
//
// Used for dividing up and grouping general chunks of content on a page
// Work in progress as we finalize layouts
//
// .container                 - Used to center and group grid items
// .row                       - Clearfixes a group of divs / wraps grid columns
// .main                      - The main content area below heros
// .main__content             - The area below page headers, next to sidebar
// .main__content--full       - Full-width main content area
// .content__section          - Adds padding for breaking up sections of body content
// .content__section--ruled   - Adds a border
// 
// Styleguide layout.elements

.container {
  @include outer-container();
  padding: 0 2rem;

  @include media($lg) {
    padding: 0;
  }
}

.row {
  @include clearfix();
}

.main {
  @include clearfix();
  padding: 2rem 0;
  position: relative;
  
  @include media($lg) {
    padding: 4rem 0;
  }
}

.content--blank {
  border-top: 1px solid $neutral;
  padding: 4rem 0;
}

.main__content {
  @include clearfix();
  position: relative;

  @include media($med) {
    @include span-columns(9);
  }
}

.main__content--full {
  @include clearfix();
  position: relative;
} 

.content__section {
  @include clearfix();
  padding: 0 0 2rem 0;
}

.content__section--extra {
  @include clearfix();
  padding: 2rem 0;

  @include media($lg) {
    padding: 4rem 0;
  }
}

.content__section--ruled {
  border-top: 1px solid $primary;
  margin-top: 2rem;
  padding-top: 2rem;

  &.content__section--extra {
    padding-top: 4rem;
  }

  & + .content__section--ruled {
    margin-top: 0;
  }
}

// Class applied to candidate and committee pages with tabs
.tab-interface {
  overflow-x: hidden;
  position: relative;
} 