// Slabs
//
// Slabs are full-width blocks of color. Slabs should contain containers to center content.
// Slabs can can have background color styles applied. By default is a neutral background.
//
// .slab--primary     - Primary background with primary-contrast accents and type
// .slab--secondary   - Secondary background with secondary-contrast accents and type
// .slab--dark        - Dark gray background with gray-lightest accents and type
// .slab--neutral     - Neutral gray background with base accents and type
//
// Markup:
// <div class="slab {{ modifier_class }}">
//   <div class="container">
//     <h1>Heading in a slab</h1>
//     This is a slab <a>with a link</a>
//   </div>
// </div>
//
// Styleguide layout.slabs

.slab {
  @include clearfix();
  padding: u(2rem 0);
}

.slab--primary {
  @include u-bg--primary();
}

.slab--secondary {
  @include u-bg--secondary();
}

.slab--dark {
  @include u-bg--dark();
}

.slab--neutral {
  @include u-bg--neutral();
}

.slab--spacious {
  padding: u(4rem 0);
}

.slab--inline {
  border-radius: 4px;
  margin: u(2rem 0);
}

@include media($lg) {
  .slab--inline .container {
    padding-left: u(2rem);
    padding-right: u(2rem);
  }
}

// Reset all slab colors on print
@media print {
  .slab,
  .slab--neutral,
  .slab--primary,
  .slab--secondary {
    background: $inverse;
    color: $base;
  }
}
