// Accordions
//
// Markup:
// <div class="js-accordion">
//   <div class="js-accordion_header accordion__header">
//     <h2 class="accordion__title">Acccordion header</h2>
//     <button class="js-accordion_button accordion__button button--primary"><span class="js-accordion_text u-visually-hidden">Expand</span></button>
//   </div>
//   <div class="js-accordion_item accordion__item">
//     <p>Accordion content</p>
//   </div>
// </div>
//
// Styleguide components.accordions

.accordion__button {
  @include u-background-image('i-accordion-closed--primary', 100% 50%);
  border-bottom: 1px solid $primary;
  color: $primary;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 4rem 1rem 0;
  text-align: left;
  width: 100%;

  &[aria-expanded='true'] {
    @include u-background-image('i-accordion-open--primary', 100% 50%);
  }
}

.accordion__content {
  border-bottom: 1px solid $primary;
  padding: 1rem .5rem;
}

.accordion--secondary {
  .accordion__button {
    @include u-background-image('i-accordion-closed--secondary-contrast', 100% 50%);
    border-color: $secondary-contrast;
    color: $secondary-contrast;

    &[aria-expanded='true'] {
      @include u-background-image('i-accordion-open--secondary-contrast', 100% 50%);
    }
  }

  .accordion__content {
    border-color: $secondary-contrast;
    color: $secondary-contrast;
  }
}
