// Accordions
//
// Markup:
// <div class="js-accordion">
//   <button class="js-accordion-trigger accordion__button">Accordion button</button>
//   <div class="accordion__content">
//     <p>Accordion content</p>
//   </div>
// </div>
//
// Styleguide components.accordions

.accordion__button {
  @include u-background-image('i-accordion-closed--primary', 95% 50%);
  border-bottom: 1px solid $primary;
  margin: 0 0 -1px 0;
  color: $primary;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 4rem 1rem 1rem;
  text-align: left;
  width: 100%;

  &[aria-expanded='true'] {
    @include u-background-image('i-accordion-open--primary', 95% 50%);
    border-bottom: none;
  }
}

.accordion__content {
  border-bottom: 1px solid $primary;
  padding: 1rem;
}

.accordion--neutral {
  .accordion__button {
    border-color: $beige;
    border-top: 1px solid $beige;

    &[aria-expanded='true'] {
      background-color: rgba($beige, .5);
      border-top: 1px solid $primary;
    }
  }

  .accordion__content {
    background-color: rgba($beige, .5);
    border-bottom-color: $primary;
    border-top-color: $beige;
  }
}

.accordion--secondary {
  .accordion__button {
    @include u-background-image('i-accordion-closed--secondary-contrast', 100% 50%);
    border-color: $secondary-contrast;
    color: $secondary-contrast;

    &[aria-expanded='true'] {
      @include u-background-image('i-accordion-open--secondary-contrast', 100% 50%);
    }
  }

  .accordion__content {
    @include u-font-color($secondary-contrast);
    border-color: $secondary-contrast;
  }
}
