// Accordions
//
// Markup:
// <div class="js-accordion">
//   <div class="js-accordion_header accordion__header">
//     <h2 class="accordion__title">Acccordion header</h2>
//     <button class="js-accordion_button accordion__button button--primary"></button>
//   </div>
//   <div class="js-accordion_item accordion__item">
//     <p>Accordion content</p>
//   </div>
// </div>
//
// Styleguide components.accordions

.accordion__header {
  position: relative;
  clear: both;
  padding: 1rem 0;
}

.accordion__title {
  margin: 0;
}

.accordion__button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.accordion--collapsed {
  .accordion__button {
     &.button {
       @include u-background-image('i-plus--neutral');
     }

     &.button--primary {
       @include u-background-image('i-plus--primary');
     }

    &.button--secondary {
      @include u-background-image('i-plus--secondary');
    }   
  }
}

.accordion__button {
  &.button {
    @include u-background-image('i-minus--neutral');
    border-radius: 3rem;
    height: 3rem;
    padding: 0;
    width: 3rem;
  }

  &.button--primary {
    @include u-background-image('i-minus--primary');
  }

  &.button--secondary {
    @include u-background-image('i-minus--secondary');
  }
}

.accordion--secondary {
  .accordion__header {
    border-top: 2px solid $primary;
    border-bottom: 2px solid $primary;
    padding: 1rem;
  }
  
  .accordion__item {
    padding: 2rem;
    background-color: $ivory;
  }
}