// Billboards
//
// Full-width sections for promoting specific features.
// Used on home page.
//
// <div class="billboard">
//   <div class="billboard__image__container">
//     <img class="billboard__image" src="/img/api@2x.png" alt="API documentation screenshot">
//   </div>
//   <div class="billboard__content">
//     <h2 class="feature__title">The FEC API: Use our data in your project</h2>
//     <p>An application programming interface (API) is an easy way for computers, programs and developers to share and translate large amounts of data in meaningful ways.</p>
//   </div>
// </div>
//

.billboard {
  padding: u(3rem 0);
}

.billboard__image {
  max-width: u(10rem);
}

@include media($med) {
  @include display-context(table) {
    .billboard__image__container {
      @include span-columns(3);
    }

    .billboard__image {
      max-width: u(19rem);
    }

    .billboard__content {
      @include span-columns(8);
      vertical-align: middle;
    }
  }
}
