// Billboards
//
// Full-width sections for promoting specific features
//
// Markup: billboard.hbs
//
// Styleguide components.billboards

.billboard {
  padding: u(3rem 0);
}

.billboard__image {
  max-width: u(10rem);
}

.billboard__content {
}

@include media($med) {
  @include display-context(table) {
    .billboard__image__container {
      @include span-columns(3);
    }

    .billboard__image {
      max-width: u(19rem);
    }

    .billboard__content {
      @include span-columns(8);
      vertical-align: middle;
    }
  }
}
