// Buttons
//
// .button      - The basic styled button that contains the properties that get extended by more specific classes
//
// Markup:
// <button>Basic button</button>
//
// Styleguide components.buttons

.button {
  @include transition(background-color, .1s, color, .1s, border-color, .1s);
  border-radius: 2px;
  border: 2px solid transparent;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  padding: 8px 2rem;
  text-align: center;
  vertical-align: middle;

  &:hover {
    border-color: transparent;
  }

  &.disabled {
    opacity: .3;
    cursor: default;
  }

  &.form-element--inline {
    min-height: 3.6rem;
  }
}

// Primary buttons
//
// .button--lg      - Large button
// .button--sm      - Small button
// .is-active       - Darkens with a border when active it's active
//
// Markup:
// <button class="button--primary {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.primary

.button--primary {
  @extend .button;
  background-color: $primary-contrast;
  color: $primary;

  &:hover {
    background-color: lighten($primary-contrast, 10%);
  }

  &:active,
  &.is-active {
    background-color: $navy;
    border: 2px solid $primary-contrast;
    color: $cream;
  }
}

// Secondary buttons
//
// .button--lg      - Large button
// .button--sm      - Small button
// .is-active       - Darkens with a border when active it's active
//
// Markup:
// <button class="button--secondary {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.secondary

.button--secondary {
  @extend .button;
  background-color: $secondary-contrast;
  color: $secondary;

  &:hover {
    background-color: lighten($secondary-contrast, 10%);
  }

  &:active,
  &.is-active {
    background-color: $deep-red;
    border: 2px solid $secondary-contrast;
    color: $cream;
  }
}

// Neutral buttons
//
// .button--lg      - Large button
// .button--sm      - Small button
// .is-active       - Darkens with a border when active it's active
//
// Markup:
// <button class="button--neutral {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.neutral

.button--neutral {
  @extend .button;
  background-color: $beige;
  color: $primary;

  &:hover {
    background-color: $brown-light;
  }

  &:active,
  &.is-active {
    background-color: $brown;
    border: 2px solid $primary;
  }
}

// Empty buttons
//
// .button--lg      - Large button
// .button--sm      - Small button
// .is-active       - Darkens with a border when active it's active
//
// Markup:
// <button class="button--empty {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.empty

.button--empty {
  @extend .button;
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    border-color: $primary-contrast;
  }

  &:active,
  &.is-active {
    background-color: $primary;
    color: $cream;
  }
}

// Alt sizes

.button--lg {
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: $sans-serif;
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
}

.button--sm {
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: $sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 5px 1rem;

  &:active {
    border: 1px solid;
  }
}

// Primary Contrast buttons
//
// .button--lg      - Large button
// .button--sm      - Small button
// .is-active       - Darkens with a border when active it's active
//
// Markup:
// <button class="button--primary {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.primary-contrast

.button--primary-contrast {
  @extend .button;
  background-color: $primary;
  color: $primary-contrast;

  &:hover {
    background-color: lighten($primary, 10%);
  }

  &:active,
  &.is-active {
    background-color: $navy;
    border: 2px solid $primary-contrast;
    color: $cream;
  }
}

// Navy buttons
// Specialty button for the feedback widget
//
// .button--lg      - Large button
// .button--sm      - Small button
// .is-active       - Darkens with a border when active it's active
//
// Markup:
// <button class="button--navy {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.navy

.button--navy {
  @extend .button;
  background-color: $navy;
  color: $cream;

  &:hover {
    background-color: lighten($navy, 10%);
  }

  &:active,
  &.is-active {
    background-color: $primary;
    border: 2px solid $primary-contrast;
    color: $cream;
  }
}

// Icon Buttons
//
// Icon color matches text color and small vertical line between icon and text. Uses the u-icon-button mixin.
// Defaults to the styles for button--neutral and button--primary, with overrides for other classes
//
// .button--previous    - Go back
// .button--next        - Go next
// .button--browse      - For links to the datatable view
//
// Markup:
// <button class="button--neutral {{ modifier_class }}">Button</button>
// <button class="button--primary {{ modifier_class }}">Button</button>
// <button class="button--secondary {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.icon-buttons

.button--previous {
  @include u-icon-button('i-left--primary', $primary);

  &.button--secondary {
    @include u-icon-button('i-left--secondary', $secondary);
  }
}

.button--next {
  @include u-icon-button('i-right--primary', $primary, right);

  &.button--secondary {
    @include u-icon-button('i-right--secondary', $secondary, right);
  }
}

.button--browse {
  @include u-icon-button('i-browse--primary', $primary, left, 4rem, 2rem);
}

.button--map {
  @include u-icon-button('i-map--primary', transparent)
}

.button--table {
  @include u-icon-button('i-table--primary', transparent, left, 2.5rem)
}

.button--two-candidates {
  @include u-icon-button('i-two-candidates--primary', transparent, left, 2.5rem);
}

.button--search {
  &.button--primary,
  &.button--neutral {
    @include u-background-image('i-search--primary');
  }

  &.button--primary-contrast {
    @include u-background-image('i-search--primary-contrast');
  }

  &.secondary {
    @include u-background-image('i-search--secondary');
  }

  &.button--secondary-contrast {
    @include u-background-image('i-search--primary-contrast');
  }
}

// .button--search--text    - Positions the icon correctly when showing the "search" word in the button

.button--search--text {
  &.button--primary,
  &.button--neutral {
    @include u-icon-button('i-search--primary', transparent, left);
  }

  &.button--primary-contrast {
    @include u-icon-button('i-search--primary-contrast', transparent, left);
  }
}

.button--election {
  @include u-icon-button('i-election--primary', $primary, left, 4rem);
}

// Remove button
//
// For clearing form inputs
//
// <div class="input--removable is-active">
//  <input type="text" value="Input">
//  <button type="button" class="button--remove button" data-removes="{{ name }}"><span class="u-visually-hidden">Remove</span></button>
// </div>
//
// Styleguide components.buttons.remove

.button--remove {
  @include u-background-image('i-x--primary');
  display: none;
  height: 4rem;
  padding: .6rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;

  &:hover {
    padding: .6rem;
    text-decoration: none;
  }

  &:focus {
    @include u-background-image('i-x--primary-contrast');
    border: none;
  }
}

.input--removable {
  position: relative;

  input[type="text"] {
    padding-right: 5rem;
  }

  &.is-active {
    .button--remove {
      display: block;
    }
  }
}

// Special Buttons
//
// Common icon buttons for various purposes
//
// <button class="button button--close"><span class="u-visually-hidden">Hide glossary</span></button>
//
// Styleguide components.buttons.special-buttons

.button--close {
  @include u-background-image('../img/i-x--secondary-contrast');
  height: 4rem;
  width: 4rem;
}

.button--close--primary {
  @include u-background-image('../img/i-x--primary');
  height: 4rem;  
  width: 4rem;
}

.button--close--primary-contrast {
  @include u-background-image('../img/i-x--primary-contrast');
  height: 4rem;  
  width: 4rem;
}

.button--down {
  @include u-background-image('../img/i-down-2--primary-contrast');
  background-position: 50%;
  height: 4rem;
  width: 4rem;
}
