// Buttons
//
// Styleguide components.buttons

// Buttons: Neutral background
//
// .button--standard              - Standard button
// .button--cta                   - Call to action button
// .button--alt                   - Alternate button
//
// Markup:
// <div class="slab slab--neutral" style="padding: 2rem">
//   <button class="{{modifier_class}}">Basic button</button>
//   <button class="is-active {{modifier_class}}">Active button</button>
//   <button class="is-disabled {{modifier_class}}">Active button</button>
// </div>
//
// Styleguide components.buttons.1-neutral

.button {
  @include transition(background-color, .1s, color, .1s, border-color, .1s);
  border: none;
  border-radius: 2px;
  color: $primary;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  padding: 8px 2rem;
  text-align: center;
  vertical-align: middle;

  &.is-disabled {
    opacity: .5;
    cursor: default;
  }

  &.form-element--inline {
    min-height: 3.6rem;
  }
}

.button--standard {
  @extend .button;
  background-color: $gray;
  color: $base;

  &:hover:not(.is-disabled):not(.is-active) {
    background-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $gray-dark;
    color: $inverse;
  }
}

.button--cta {
  @extend .button;
  background-color: $primary;
  color: $inverse;

  &:hover:not(.is-disabled):not(.is-active) {
    background-color: $navy;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $bright-blue;
    color: $primary;
  }
}

.button--alt {
  @extend .button;
  background-color: none;
  border: 2px solid $gray;
  color: $base;

  &:hover:not(.is-disabled):not(.is-active) {
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $gray-medium;
    border-color: $gray-dark;
    color: $base;
  }
}

// Buttons: Primary background
//
// .button--standard              - Standard button
// .button--cta-primary           - Call to action button
// .button--alt-primary           - Alternate button
//
// Markup:
// <div class="slab slab--primary" style="padding: 2rem">
//   <button class="{{modifier_class}}">Basic button</button>
//   <button class="is-active {{modifier_class}}">Active button</button>
//   <button class="is-disabled {{modifier_class}}">Active button</button>
// </div>
//
// Styleguide components.buttons.2-primary

.button--cta-primary {
  @extend .button;
  background-color: $primary-contrast;
  color: $primary;

  &:hover:not(.is-disabled):not(.is-active) {
    background-color: lighten($primary-contrast, 5%);
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $navy;
    color: $inverse;
  }
}

.button--alt-primary {
  @extend .button;
  border: 2px solid $inverse;
  color: $inverse;

  &:hover:not(.is-disabled):not(.is-active) {
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: rgba($inverse, .3);
    border-color: $primary-contrast;
    color: $inverse;
  }

  &:focus {
    color: $inverse;
  }
}

// Buttons: Secondary background
//
// .button--standard              - Standard button
// .button--cta-secondary         - Call to action button
// .button--alt-secondary         - Alternate button
//
// Markup:
// <div class="slab slab--secondary" style="padding: 2rem">
//   <button class="{{modifier_class}}">Basic button</button>
//   <button class="is-active {{modifier_class}}">Active button</button>
//   <button class="is-disabled {{modifier_class}}">Active button</button>
// </div>
//
// Styleguide components.buttons.3-secondary

.button--cta-secondary {
  @extend .button;
  background-color: $secondary-contrast;
  color: $secondary;

  &:hover:not(.is-disabled):not(.is-active) {
    background-color: lighten($secondary-contrast, 5%);
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: $deep-orange;
    color: $inverse;
  }
}

.button--alt-secondary {
  @extend .button;
  border: 2px solid $inverse;
  color: $inverse;

  &:hover:not(.is-disabled):not(.is-active) {
    border-color: $gray-medium;
  }

  &:active:not(.is-disabled),
  &.is-active {
    background-color: rgba($inverse, .3);
    border-color: $secondary-contrast;
    color: $inverse;
  }

  &:focus {
    color: $inverse;
  }
}

// Buttons: Size variations
//
// .button--lg    - Large button
// .button--sm    - Small button
//
// Markup:
// <button class="button--standard {{modifier_class}}">Button</button>
//
// Styleguide components.buttons.size-variations

.button--lg {
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: $sans-serif;
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
}

.button--sm {
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: $sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  padding: 5px 1rem;

  &:active {
    border: 1px solid;
  }
}

// Buttons: Remove button
//
// For clearing form inputs
//
// Markup:
// <div class="input--removable is-active">
//  <input type="text" value="Input">
//  <button type="button" class="button--remove button" data-removes="{{ name }}"><span class="u-visually-hidden">Remove</span></button>
// </div>
//
// Styleguide components.buttons.remove

.button--remove {
  @include u-background-image('i-x--primary');
  display: none;
  height: 4rem;
  padding: .6rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;

  &:hover {
    padding: .6rem;
    text-decoration: none;
  }

  &:focus {
    @include u-background-image('i-x--primary-contrast');
    border: none;
  }
}

.input--removable {
  position: relative;

  input[type="text"] {
    padding-right: 5rem;
  }

  &.is-active {
    .button--remove {
      display: block;
    }
  }
}

// Buttons: Search button
//
// .button--search                  - Search button
//
// Markup:
// <button class="button--standard {{modifier_class}}"></button>
// <button class="button--cta {{modifier_class}}"></button>
// <button class="button--cta-primary {{modifier_class}}"></button>
// <button class="button--cta-secondary {{modifier_class}}"></button>
//
// Styleguide components.buttons.icon-buttons

.button--search {
  @include u-background-image('i-search--primary');

  &.button--cta {
    @include u-background-image('i-search--inverse');
  }

  &.button--cta-secondary {
    @include u-background-image('i-search--secondary');
  }
}

// Buttons: Calendar dropdown buttons
//
// .button--calendar                - Add calendar button
// .button--calendar--mini          - Mini add calendar button
//
// Markup:
// <button class="dropdown__button button--alt">Add to calendar</button>
//
// Styleguide components.buttons.calendar-dropdown-buttons

.button--calendar {
  @include u-background-image('../img/i-addcalendar--primary', 1rem 1rem);
  padding-left: 4rem;
  padding-right: 6rem;
}


.button--calendar--mini {
  @include u-background-image('../img/i-addcalendar--primary', 1rem 1rem);
  max-width: 7.4rem;
  padding-left: 5rem;
}

// Buttons: Icon and text buttons
//
// Icon color matches text color and small vertical line between icon and text. Uses the u-icon-button mixin.
// Defaults to the styles for button--alt and button--standard, with overrides for other classes
//
// .button--add         - Add
// .button--previous    - Go back
// .button--next        - Go next
// .button--go          - Go
// .button--browse      - For links to the datatable view
// .button--map         - Map button
// .button--table       - Table button
// .button--two-candidates          - Toggle two-candidate view on map comparison
// .button--export                  - Export button
// .button--download                - Download button
// .button--subscribe               - Subscribe button
// .button--cal                     - Calendar view button
// .button--list                    - List view button
// .button--search--text            - Search with text
//
// Markup:
// <button class="button--standard {{ modifier_class }}">Button</button>
// <button class="button--cta {{ modifier_class }}">Button</button>
// <button class="button--alt {{ modifier_class }}">Button</button>
// <button class="button--cta-primary {{ modifier_class }}">Button</button>
// <button class="button--alt-primary {{ modifier_class }}">Button</button>
// <button class="button--cta-secondary {{ modifier_class }}">Button</button>
// <button class="button--alt-secondary {{ modifier_class }}">Button</button>
//
// Styleguide components.buttons.icon-and-text-buttons

.button--add {
  @include u-icon-button($plus-circle, left);
}

.button--previous {
  @include u-icon-button($arrow-left, left);
}

.button--next {
  @include u-icon-button($arrow-right, right);
}

.button--go {
  @include u-icon-button($arrow-right-border, right);
}

.button--browse {
  @include u-icon-button($table, left);
}

.button--map {
  @include u-icon-button($map-pin, left)
}

.button--table {
  @include u-icon-button($table, left)
}

.button--two-candidates {
  @include u-icon-button($two-candidates, left);
}

.button--election {
  @include u-icon-button($person-location, left);
}

.button--export,
.button--download {
  @include u-icon-button($download, left);
}

.button--subscribe {
  @include u-icon-button($signal, left);
}

.button--cal {
  @include u-icon-button($calendar, left);
  height: 3.4rem;
  width: 9rem;
}

.button--list {
  @include u-icon-button($list, left);
  height: 3.4rem;
  width: 9rem;
}

.button--search--text {
  @include u-icon-button($magnifying-glass);
}

// Special Buttons
//
// Common icon buttons for various purposes
//
// .button--close--base             - Base close button
// .button--close--inverse          - Inverse close button
// .button--close--primary          - Primary close button
// .button--close--primary-contrast - Primary contrast close button
// .button--down                    - Down button
// .button--cancel                  - Cancel button
// .button--panel                   - Panel trigger button
//
// Markup:
// <button class="{{modifier_class}}"></button>
//
// Styleguide components.buttons.special-buttons
.button--close--base {
  @include u-background-image('../img/i-x--base');
  height: 4rem;
  width: 4rem;
}

.button--close--inverse {
  @include u-background-image('../img/i-x--inverse');
  height: 4rem;
  width: 4rem;
}

.button--close--primary {
  @include u-background-image('../img/i-x--primary');
  height: 4rem;
  width: 4rem;
}

.button--close--neutral {
  @include u-background-image('../img/i-x--neutral');
  height: 4rem;
  width: 4rem;
}

.button--close--primary-contrast {
  @include u-background-image('../img/i-x--primary-contrast');
  height: 4rem;
  width: 4rem;
}

.button--down {
  @include u-background-image('../img/i-down-2--primary-contrast');
  background-size: 50%;
  height: 4rem;
  width: 4rem;
}

.button--cancel {
  @include u-background-image('../img/i-x--primary-contrast');
  background-color: $primary;
  border-radius: 2rem;
  height: 2rem;
  width: 2rem;
}

.button--panel {
  @include u-background-image('../img/i-right--primary');
  display: block;
  height: 2rem;
  width: 2rem;
}
