// Calendar

.fc-view-container {
  font-family: $sans-serif;
}

// Controls
.fc-toolbar {
  @include clearfix();
  padding: 2rem 0 1.5rem 0;
}

.fc-left {
  float: left;

  .fc-button-group {
    float: left;
    margin-right: 1rem;
  }

  .fc-today-button {
    float: left;
  }

  .fc-prev-button,
  .fc-next-button {
    margin-right: 1px;
    text-indent: -9999px;
    padding: .8rem 1rem;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }

    &:after {
      left: .5rem;
      right: .5rem;
    }
  }
}

.fc-state-active.button--neutral {
  background-color: $beige-dark;
  border: 2px solid $primary;
}

.fc-right {
  float: right;
}

.fc-center {
  text-align: center;

  h2 {
    margin: 0;
  }
}

// Body
.fc-head {
  border-top: 2px solid $neutral;
}

.fc-day-header {
  color: $primary;
  font-weight: normal;
  padding-top: .5rem;
}

.fc-content-skeleton {
  height: 100%;

  table {
    height: 100%;
  }
}

.fc-week {
  td:not(.fc-day-number) {
    border-width: 0 2px;
    border-style: solid;
    border-color: $neutral;
    border-top: none;
  }

  &:last-child {
    border-bottom: 2px solid $neutral;
  }
}

.fc-day-number {
  border: 2px solid $neutral;
  border-bottom: none;
  color: $primary;
  font-weight: bold;
  padding: .5rem 1rem;
}

.fc-today {
  background-color: $neutral;
}

.fc-event-container {
  padding: 2px;
  vertical-align: top;
}

.fc-content {
  @include u-truncate();
  color: $primary;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 4px;
}

.fc-limited {
  display: none;
}

// Events
.fc--allday {
  .fc-content {
    background: $beige;
    border-radius: 4px;
    color: $cream;
  }
}

.fc--election {
  color: $cal-election;

  &.fc--allday {
    .fc-content {
      background: $cal-election;
    }
  }
}

.fc--deadline {
  color: $cal-deadline;

  &.fc--allday {
    .fc-content {
      background: $cal-deadline;
    }
  }
}

.fc--outreach {
 color: $cal-outreach;

  &.fc--allday {
    .fc-content {
      background: $cal-outreach;
    }
  }
}

.fc--rules {
 color: $cal-rules;

  &.fc--allday {
    .fc-content {
      background: $cal-rules;
    }
  }
}

.fc--meeting {
  color: $cal-meeting;

  &.fc--allday {
    .fc-content {
      background: $cal-meeting;
    }
  }
}

.fc--other {
  color: $cal-other;

  &.fc--allday {
    .fc-content {
      background: $cal-other;
    }
  }
}

// Week view
.fc-slats {
  tr:not(.fc-minor) {
    border: 2px solid $neutral;
    border-bottom: none;
  }
}

// Event details
.calendar__details {
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 2rem;
  text-align: left;

  .button--close--primary {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.fc-popup {
  background: $cream;
  border: 2px solid $neutral;
  position: absolute;
  max-width: 20rem;

  .button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
  }
}

.fc-popup__header {
  background: $neutral;
  color: $primary;
  font-weight: bold;
  padding: 4px;
  position: relative;
}

// Week view
.fc-time-grid {
  .fc-content-skeleton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

// List view
.ev-list {
  margin-bottom: 1rem;
  h5 {
    margin: 0;
  }
}
