// Calendar

.fc-view-container {
  font-family: $sans-serif;
}

.fc-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .fc-day {
    font-weight: bold;
    padding: .7rem 1rem 0 2rem;
  }
}

.fc-row {
  position: relative;
}

// Controls
.fc-toolbar {
  @include clearfix();
  border-bottom: 2px solid $primary;
  padding: 2rem 0 1.5rem 0;
}

.fc-left {
  float: right;

  .fc-button-group {
    float: left;
    margin-right: 1rem;
  }

  .fc-today-button {
    margin-left: 1rem;
  }

  .fc-prev-button,
  .fc-next-button {
    margin-right: 1px;
    text-indent: -9999px;
    padding: .8rem 1rem;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }

    &::after {
      left: .5rem;
      right: .5rem;
    }
  }
}

.fc-state-active.button--neutral {
  background-color: $beige-dark;
  border: 2px solid $primary;
}

.fc-right {
  display: none;
}

.fc-center {
  text-align: left;

  h2 {
    margin: 0;
  }
}

// Body

.fc-day-header {
  color: $primary;
  font-weight: normal;
  padding-top: .5rem;
}

.fc-content-skeleton {
  height: 100%;

  table {
    min-height: 12rem;
  }
}

.fc-other-month {
  &.fc-day-number,
  &.fc-day {
    opacity: .5;
  }
}

.fc-week {
  td:not(.fc-day-number) {
    border-width: 0 2px;
    border-style: solid;
    border-color: $neutral;
    border-top: none;
  }

  &:last-child {
    border-bottom: 2px solid $neutral;
  }
}

.fc-day-number {
  border: 2px solid $neutral;
  border-bottom: none;
  color: $primary;
  font-weight: bold;
  padding: .3rem 1rem;
}

.fc-day-number.fc-today {
  background-color: $primary;
  color: $cream;
}

.fc-event-container {
  padding: 2px;
  vertical-align: top;
}

.fc-more {
  margin: 0 4px;
}

.fc-content {
  @include u-truncate();
  background: none;
  color: $primary;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 2px 4px;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: .6rem;
    height: .6rem;
    background-color: $primary;
    border-radius: .8rem;
    float: left;
    margin: 5px 5px 5px 0;
  }
}

.is-active {
  .fc-content {
    background-color: $primary;
    border-radius: 4px;
    color: $cream;

    &::before {
      background-color: $cream;
    }
  }
}

.fc-title {
  display: inline-block;
  vertical-align: top;
}

.fc-time {
  display: inline-block;
}

.fc-limited {
  display: none;
}

.cal__category {
  border-radius: 3px;
  padding: .5rem;
}

// Event details
.cal-details {
  font-size: 1.4rem;
  margin-top: 1rem;
  padding: 0;
  text-align: left;
  width: 26rem;
  white-space: initial;

  .button--close--primary {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.fc-event-container:last-child {
  .cal-details {
    right: 0;

    &::before {
      left: auto;
      right: 1rem;
    }

    &::after {
      left: auto;
      right: 1.2rem;
    }
  }
}

.cal-details__date {
  display: block;
  font-weight: bold;
  padding-bottom: 1rem;
}

.cal-details__title {
  display: block;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: .5rem;
}

.cal-details__summary {
  display: block;
  line-height: 1.2;
  padding-bottom: .5rem;
}

.cal-details__location {
  display: block;
  line-height: 1.2;
  padding-bottom: .5rem;
}

.cal-details__add {
  margin-top: 1rem;
}

.fc-popup {
  background: $cream;
  border: 2px solid $neutral;
  position: absolute;
  max-width: 20rem;

  .button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
  }
}

.fc-popup__header {
  background: $neutral;
  color: $primary;
  font-weight: bold;
  padding: 4px;
  position: relative;
}

// Week view
.fc-time-grid-container {
  overflow: scroll;
}

.fc-time-grid {
  position: relative;

  .fc-content-skeleton {
    border-bottom: 2px solid $neutral;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.fc-slats {
  td {
    height: 1.5rem;
  }

  tr {
    border: 2px solid $neutral;
    border-bottom: none;
  }

  .fc-minor {
    border-bottom: none;
    border-top: none;
  }
}

.fc-agenda-view {
  .fc-bg {
    display: none;   // Temporary hack to remove mis-aligned background in agenda view
  }

  .fc-axis {
    padding: .5rem 1rem 0 1rem;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
  }

  .fc-divider {
    display: none;
  }

  .fc-week {
    border-top: 2px solid $neutral;
  }
}

.cal-view__toggles {
  float: right;
  padding-left: 1rem;
}

// List view
.cal-list__toggles {
  padding-top: 2rem;
}

.cal-list__group {
  border-bottom: 1px solid $primary;

  &:last-child {
    border-bottom: none;
    padding-top: 2rem;
  }
}

.cal-list {
  padding-top: 2rem;
}

.cal-list__title {
  margin: 0;
  padding-top: 2rem;
}

.cal-list__event {
  @include clearfix();
  border-bottom: 1px solid $neutral;
  padding: 2rem 0;
}

.cal-list__details {
  @include span-columns(8);
}

.cal-list__add {
  @include span-columns(4);

  .button {
    float: right;
  }
}

.cal-list__date {
  @include span-columns(4 of 8);
  font-weight: bold;
}

.cal-list__time {
  @include span-columns(4 of 8);
  @include omega();
}

.cal-list__description {
  @include span-columns(8 of 8);
  padding-top: 2rem;

  p {
    font-size: 1.4rem;
  }
}

.cal-list__category {
  float: left;
}

.cal-list__category-title {
  display: inline-block;
  border: 1px solid;
  border-color: $primary;
  padding: 0 .5rem;
  border-radius: 3px;
}

.cal-list__event-title {
  margin: 0;
}

.cal-list__location {
  display: block;
}

.cal-list__details {
  margin-bottom: 1rem;
}

// Popover
.fc-popover {
  background-color: $cream;
  border: 2px solid $neutral;
  position: absolute;
  width: 22rem;

  .fc-header {
    background: $neutral;
    padding: 3px .5rem;

    .fc-title {
      float: left;
      font-weight: bold;
      height: auto;
      line-height: 2rem;
      width: auto;
    }
  }

  .fc-close {
    @include u-background-image('../img/i-x--primary');
    color: $primary;
    cursor: pointer;
    float: right;
    height: 2rem;
    width: 2rem;
  }

  .fc-event-container {
    padding: .5rem;
  }

  .fc-content {
    margin-bottom: .5rem;
  }
}

.fc-clear {
  clear: both;
}

// BREAKPOINT: MEDIUM
// - Navigation buttons on the left
// - Title in the center
// - View buttons on the right

@include media($med) {
  .fc-left {
    float: left;
  }

  .fc-center {
    text-align: center;
  }

  .fc-right {
    display: block;
    float: right;

    .fc-button-group {
      float: right;
    }
  }
}

// BREAKPOINT: LARGE
// - List events line up horizontally

@include media($lg) {
  .cal-list {
    font-size: 1.6rem;

    p {
      font-size: 1.6rem;
    }
  }

  .cal-list--time {
    .cal-list__date {
      display: none;
    }
  }

  .cal-list--category {
    .cal-list__category {
      visibility: hidden;
    }
  }

  .cal-list__event {
    @include clearfix();
    padding: 2rem;
  }

  .cal-list__details {
    @include span-columns(10);
    margin-bottom: 0;
  }

  .cal-list__add {
    @include span-columns(2);
  }

  .cal-list__date {
    @include span-columns(2 of 10);
    font-weight: bold;
  }

  .cal-list__time {
    @include span-columns(1 of 10);
  }

  .cal-list__description {
    @include span-columns(6 of 10);
    padding-top: 0;
  }

  .cal-list__category {
    @include span-columns(2 of 10);
  }
}
