// Callout
// 
// Action-oriented components
//
// Styleguide components.callouts

.callout {
  @include clearfix();
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}

.callout--primary {
  @include u-bg--primary();
}

.callout--secondary {
  @include u-bg--secondary();
}

.callout--neutral {
  @include u-bg--neutral();
}

.callout__content {
  float: left;
  width: 80%;
}

.callout__icon {
  float: left;
  width: 20%;
}

.callout__title {
  font-weight: bold;
  margin-bottom: 0;
}

.callout__sublinks {
  font-family: $sans-serif;
  padding-top: 1rem;

  a {
    border-bottom: none;
  }
}