// Cards
//
// Small boxes that contain content
// Default layout is image stacked on text
//
// .card--mini            - For use in sidebars
// .card--horizontal      - Image next to text
// .card--feature         - Image in a block next to content
// .card--wide            - Card takes up half of grid
//
// Markup:
// <div class="container">
//   <aside class="card {{modifier_class}}">
//    <img alt="" src="../img/i-calendar--primary.svg" class="icon--complex card__image">
//    <div class="card__content">
//      <a href="#">Take this action</a>
//    </div>
//  </aside>
// </div>
//
// Styleguide components.cards

.card {
  @include clearfix();
  background-color: $neutral;
  border-radius: 4px;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;

  @include media($med) {
    @include span-columns(2)
  }
}

.card__image-link {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}

.card--full {
  width: 100%;
  margin: 0;
}

.card__content {
  text-align: left;
  padding: 2rem 0 0 0;
  font-family: $serif;
  font-weight: normal;
}

.card__content--small {
  font-size: 1.4rem;
}

.card--mini {
  font-size: 1.4rem;
  padding: 1rem;
  text-align: left;

  .card__image {
    @include span-columns(1 of 3);
  }

  .card__content {
    @include span-columns(2 of 3);
    padding: 0;
  }

  @include media($med) {
    @include span-columns(3)
  }
}

.card--horizontal {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  text-align: left;

  .card__image {
    @include span-columns(2 of 4);
  }

  .card__content {
    float: left;
    padding: 0;
    width: calc(100% - 8rem); // Minus the max-width + gutter of the icons
  }

  @include media($med) {
    @include span-columns(4)
  }
}

.card--vertical {
  font-size: 1.4rem;

  .card__content {
    padding: 0;
  }
}

.card--feature {
  border-radius: 4px;
  border: none;
  padding: 0;

  .card__image__container {
    @include span-columns(1 of 4);
    border-radius: 4px 0 0 4px;
  }

  .card__image {
    max-width: 100%;
  }

  .card__content {
    @include span-columns(3 of 4);
    padding: 1rem 1rem 1rem 0;
  }
}

.card--wide {
  padding: 0;
  text-align: left;

  .card__image__container {
    @include clearfix();
    background-color: $primary;
    border-radius: 4px 4px 0 0;
    padding: 1rem;
    text-align: center;

    .card__title {
      float: left;
      color: $primary-contrast;
      padding: 1rem;
      margin: 0;
    }
  }

  .card__content {
    padding: 2rem;

    .card__title {
      display: none;
    }
  }

  .icon--complex {
    max-height: 4rem;
    max-width: 4rem;
    display: block;
    float: left;
  }

  @include media($med) {
    @include span-columns(6);
  }

  @include media($lg) {
    min-height: 26rem;

    .card__image__container {
      @include span-columns(2 of 6);
      border-radius: 4px 0 0 4px;
      padding: 9rem 2rem;

      .card__title {
        display: none;
        margin: 0;
      }
    }

    .card__content {
      @include span-columns(4 of 6);
      padding-left: 0;

      .card__title {
        display: block;
      }
    }

    .icon--complex {
      max-height: 10rem;
      max-width: 10rem;
      display: inline;
      float: none;
    }
  }
}

// For lists of links, such as on data landing page cards
.card__links {
  font-family: $sans-serif;
  font-weight: normal;
  margin-bottom: 2rem;
}

// Primary cards
//
// .card--horizontal      - Image next to text
// .card--wide            - Card takes up half of grid
//
// Markup:
// <div class="container">
//   <aside class="card card--primary {{modifier_class}}">
//    <img alt="" src="../img/i-register--neutral.svg" class="icon--complex card__image">
//    <div class="card__content">
//      <a href="#">Take this action</a>
//    </div>
//  </aside>
// </div>
//
// Styleguide components.cards.primary

.card--primary {
  @include u-bg--primary();
  @include u-font-color($ivory);
  font-weight: bold;
}


// Secondary cards
//
// Different styles of cards require different icons
//
// .card--horizontal      - Image next to text
// .card--wide            - Card takes up half of grid
//
// Markup:
// <div class="container">
//   <aside class="card card--secondary {{modifier_class}}">
//    <img alt="" src="../img/i-register--neutral.svg" class="icon--complex card__image">
//    <div class="card__content">
//      <a href="#">Take this action</a>
//    </div>
//  </aside>
// </div>
//
// Styleguide components.cards.alternate-colors

.card--secondary {
  @include u-bg--secondary();
  @include u-font-color($ivory);
  font-weight: bold;
}

// Neutral cards

.card--neutral {
  background-color: $beige;

  .card__image__container {
    background-color: $primary;
  }
}

// Tiled cards
//
// For showing multiple rows of cards, use:
//
// .tiled-cards
//
// Styleguide components.cards.tiled-cards


.tiled-cards--2-wide {
  .card:nth-child(even) {
    margin-right: 0;
  }
}

.tiled-cards--3-wide {
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
