// the amount of padding at the bottom of vertical bar charts
$chart-bottom: 30px;
// the width of the axis for vertical bar charts
$chart-axis-width: 120px;

$tooltip-arrow-size: 8px;
$tooltip-border-color: #999;

.chart-container {
  font-family: $sans-serif;

  .chart-series {
    margin: u(1rem);
  }

  & + .chart-container {
    margin-top: u(4rem);
  }
}

.chart__key__item {
  &:nth-of-type(1) .swatch {
    background: $primary;
  }

  &:nth-of-type(2) .swatch {
    background: $primary-contrast;
  }
}

.chart-series__bar {
  background: $primary;
  position: relative;

  &:nth-of-type(1) {
    background: $primary;
    .chart-series__bar__tooltip {
      color: $primary;
    }
  }

  &:nth-of-type(2) {
    background: $primary-contrast;
    .chart-series__bar__tooltip {
      color: $primary-contrast;
    }
  }
}

.chart-series {
  position: relative;
  margin: 1em 0;
}

// horizontal bar charts
.chart-series--horizontal {

  .chart-series__bar {
    padding: 1px;
    white-space: nowrap;
    min-height: 1.5rem;
  }

  .chart-series__group {
    margin-bottom: 2em;
  }

  .chart-series__axis {
    display: none;
  }
}

// vertical bar charts use flexbox
// see: <http://caniuse.com/#feat=flexbox>
.chart-series--vertical {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(flex-end);
  padding-bottom: $chart-bottom;
  padding-left: 0;
  height: 200px;

  @include media($med) {
    padding-left: $chart-axis-width;
  }

  &.chart-series--short {
    height: 100px;
  }

  .chart-series__bar,
  .chart-series__group {
    @include flex(1);

    // for positioning labels
    padding-top: 1px;
    position: relative;
    height: 100%;

    margin-left: 10%;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .chart-series__bar {
    // XXX
  }

  .chart-series__group {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(flex-end);
    max-width: 90px;
    z-index: 9;

    .chart-series__bar + .chart-series__bar {
      margin-left: .5em;
    }
  }

  .chart-series__axis {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: $chart-bottom;

    @include media($med) {
      left: $chart-axis-width;
      right: 20px;
    }
  }

  .chart-series__axis__tick {
    position: absolute;
    text-align: right;
    width: $chart-axis-width;
    left: 0;
    width: 100%;
    height: 1em;

    .chart-series__axis__tick__text {
      display: none;
      position: absolute;
      right: 100%;
      top: .2em;
      padding-right: 1em;

      @include media($med) {
        display: block;
      }
    }

    &::after {
      content: " ";
      display: block;
      height: 0;
      position: absolute;
      left: -.5em;
      right: 0;
      bottom: 0;
      border-top: 1px solid $neutral;
    }
  }
}

.chart-series__group__label {
  font-size: u(1rem);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: .25em;
  text-align: center;

  @include media($med) {
    font-size: u(1.2rem);
  }
}

.chart-series__bar__tooltip {
  position: absolute;
  left: 50%;
  margin-bottom: $tooltip-arrow-size - 1;
  // XXX the margin-left is handled in JavaScript

  background: #fff;
  border: 1px solid $tooltip-border-color;
  padding: .5em .75em .25em;

  display: none;
  bottom: 120%;
  opacity: 0;
  @include transition(bottom .5s);
  @include transition(opacity .5s);

  .chart-series__bar__tooltip__title {
    white-space: nowrap;
  }

  &::after,
  &::before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: transparent;
    border-top-color: #fff;
    border-width: $tooltip-arrow-size;
    margin-left: -$tooltip-arrow-size;
  }

  &::before {
    border-color: transparent;
    border-top-color: $tooltip-border-color;
    border-width: $tooltip-arrow-size + 1;
    margin-left: -($tooltip-arrow-size + 1);
  }
}

.chart-series__bar:hover,
.chart-series__bar:focus,
.chart-series__bar:active {
  .chart-series__bar__tooltip {
    display: block;
    bottom: 100%;
    opacity: 1;
    z-index: 1000;
  }
}

// For charts in tables
.chart-series--horizontal.table--simple {
  .chart-series__bar__label {
    @include span-columns(6, block-collapse);
  }

  .chart-series__bar__value {
    @include span-columns(2, block-collapse);
  }

  .chart-series__bar {
    margin-bottom: 0;
  }

  .table__cell--bar {
    @include span-columns(16, block-collapse);
  }
}

// Key
.chart__header {
  @extend .results-info;
  @extend .results-info--simple;
  @include clearfix();
}

.chart__title {
  float: left;
  margin-bottom: 0;
}

.chart__key {
  float: left;
  margin-top: 2px;

  .swatch {
    border-radius: 20px;
    display: inline-block;
    height: u(2rem);
    margin-right: u(1rem);
    padding: 0;
    width: u(2rem);
    vertical-align: middle;
  }

  @include media($med) {
    float: right;
  }
}

.chart__key__item {
  margin-left: u(2rem);
  float: none;

  @include media($med) {
    float: left;
  }
}

// Styles shared by the jinja bars and the datatables bars
.bar-container {
  width: 100%;
  background: $gray-lightest;
}

.value-bar {
  background-color: $primary;
}

// New SVG bar chart styles
.bar-chart {
  .axis,
  .axis {
    path,
    line {
      fill: none;
      stroke: $base;
      shape-rendering: crispEdges;
    }
  }

  .domain {
    display: none;
  }

  .bar {
    &.candidates {
      fill: $deep-aqua;
    }

    &.pacs {
      fill: $gray;
    }

    &.parties {
      fill: $aqua;
    }

    &.other {
      fill: $gray-dark;
    }
  }

  .bar--empty,
  .bar--in-progress {
    fill: url('#stripes');
  }

  .tick line {
    stroke: $gray-light;
    stroke-style: dashed;
  }
}

// Line charts
.line--candidate {
  stroke: $deep-aqua;

  circle {
    fill: $deep-aqua;
  }
}

.line--pac {
  stroke: $gray;

  circle {
    fill: $gray;
  }
}

.line--party {
  stroke: $aqua;

  circle {
    fill: $aqua;
  }
}

.line--other {
  stroke: $gray-dark;

  circle: {
    fill: $gray-dark;
  }
}

.cursor {
  stroke: $gray;
}

// Bottom x axis
.y .tick:first-child line {
  stroke: $primary;
}

// Snapshot component
// Accompanies a line chart to show the totals at a given point
.snapshot {
  border-bottom: 2px solid $primary;

  @include media($med) {
    @include span-columns(4);
  }

  @include media($lg) {
    @include span-columns(3);
  }
}

.snapshot__item-title {
  font-weight: bold;
}

.snapshot__item {
  font-family: $sans-serif;
  font-size: u(1.4rem);
  padding: u(.5rem 0);
  border-bottom: 1px solid $gray-light;
}

.snapshot__controls {
  @include clearfix();
  border-width: 2px 0;
  border-style: solid;
  border-color: $primary;
  padding: 2px 0;
  text-align: center;

  h5 {
    display: inline-block;
    font-family: $sans-serif;
    font-size: u(1.3rem);
    font-weight: bold;
    padding: u(.8rem 0);
    margin: 0;
  }

  .button--previous {
    float: left;
    padding: u(1.5rem 1rem);
  }

  .button--next {
    float: right;
    padding: u(1.5rem 1rem);
  }
}

// Swatches
.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: .4em;
  vertical-align: middle;

  &.candidates {
    background-color: $deep-aqua;
  }

  &.pacs {
    background-color: $gray;
  }

  &.parties {
    background-color: $aqua;
  }

  &.other {
    background-color: $gray-dark;
  }
}
