.contact-item {
  @include clearfix();
  margin-bottom: u(4rem);
}

.contact-item--half {
  @include media($med) {
    @include span-columns(6);

    &:nth-child(even) {
      @include omega();
    }
  }
}

.contact-item__title {
  margin-bottom: u(.5rem);
  margin-top: 0;
}

.contact-item__icon {
  float: left;
  margin-right: u(2rem);
}

.contact-item__content {
  float: left;
}

.contact-item__content--offset {
  margin-left: u(5.4rem);
}

.contact-item__phone {
  display: block;
  padding-top: u(1rem);
}

.contact-item--email {
  @include u-icon-bg($moving-envelope-circle, $primary);
  background-size: 3.4rem;
  padding-left: 4rem;
}

.contact-item--fax {
  display: table;

  .contact-item__content {
    display: table-cell;
    float: none;
    vertical-align: top;
  }

  &::before {
    @include u-icon-circle($fax, $primary, $inverse, 3.4rem);
    content: '';
    background-size: 90%;
    margin-right: 1rem;
  }
}

.contact-item--hand {
  display: table;

  .contact-item__content {
    display: table-cell;
    float: none;
    vertical-align: top;
  }

  &::before {
    @include u-icon-circle($hand-envelope, $primary, $inverse, 3.4rem);
    content: '';
    background-size: 90%;
    margin-right: 1rem;
    float: left;
  }
}
