// Contact items
// List items on the contact page

.contact-item {
  @include clearfix();
  margin-bottom: 4rem;
}

.contact-item--half {
  @include media($med) {
    @include span-columns(6);

    &:nth-child(even) {
      @include omega();
    }
  }
}

.contact-item__title {
  margin-bottom: .5rem;
}

.contact-item__icon {
  float: left;
  margin-right: 2rem;
}

.contact-item__content {
  float: left;
}

.contact-item__content--offset {
  margin-left: 5.4rem;
}

.contact-item__phone {
  display: block;
  padding-top: 1rem;
}