// Cycle Select
//
// Markup: cycle-select.hbs
//
// Styleguide components.cycle-select

.cycle-select {
  @include span-columns(6);

  select {
    width: 100%;
  }
}

.cycle-select__label {
  font-family: $sans-serif;
  font-weight: bold;
}

.subcycle-select {
  @include span-columns(6);
  font-family: $sans-serif;

  .toggles {
    clear: both;

    .button {
      padding: u(.9rem 1rem);
    }
  }
}

// BREAKPOINT: MEDIUm
@include media($med) {
  .cycle-select {
    @include span-columns(2 of 12);
  }

  .subcycle-select {
    @include span-columns(10 of 12);
  }
}

// BREAKPOINT: LARGE
@include media($lg) {
  .cycle-select {
    @include span-columns(2 of 8);
  }

  .subcycle-select {
    @include span-columns(6 of 8);
  }
}
