// Date Range Calendar Grid Date Picker
//
// Filter interaction for filter date fields
//

.date-range-grid {
  @include clearfix();
  font-family: $sans-serif;
  padding: u(2rem 0);
  display: none;

  &.pick-min li:hover div {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: $aqua;
    color: $base !important;
  }

  &.pick-max li:hover div {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $aqua;
    color: $base !important;
  }

  &.pick-min,
  &.pick-max {
    li {
      cursor: pointer;
    }
  }
}

.date-range-year {
  line-height: u(3rem);
  float: left;
  clear: both;
}

.date-range-months {
  width: 220px;
  float: right;

  li {
    width: 35px;
    color: $base !important;
    font-size: u(1.2rem);
    text-align: center;
    padding: u(0 0 .2rem .1rem);
    float: left;

    div {
      background-color: $gray;
      padding: u(.75rem .5rem);
    }

    &.begin div {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &.end div {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &.selected div {
      background-color: $gray-dark;
      color: $inverse !important;
    }

    &.active div {
      background-color: $aqua;
      color: $base !important;
    }
  }
}
