// Downloads

.downloads {
  background-color: $neutral;
  border-top: 3px solid $primary;
  bottom: 0;
  color: $primary;
  font-family: $sans-serif;
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
}

.downloads__title {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.download {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 2rem;

  &.is-pending {
    @include u-background-image('../img/i-ellipsis--primary', 0% 30%);
  }

  &.is-complete {
    @include u-background-image('../img/i-check--primary', 0% 30%);
  }
}

.download__name {
  text-decoration: underline;
}

.download__button {
  margin: 0 2rem;
  padding: .5rem;
}

.download__cancel {
  position: relative;
  top: 4px;
}

.download__message {
  display: inline-block;
  margin-left: 4rem;
  width: auto;
}
