// Dropdowns
//
// Default styling is for the filter panels
//
// Markup:
// <fieldset class="js-dropdown">
//   <legend class="label">Election Years</legend>
//   <ul class="dropdown__selected"></ul>
//   <div class="dropdown">
//     <button class="dropdown__button button--neutral">More</button>
//     <div id="cycle-dropdown" class="dropdown__panel" aria-hidden="true">
//       <ul class="dropdown__list">
//         <li class="dropdown__item">
//           <input id="A" name="cycle" type="checkbox" value="A" />
//           <label class="dropdown__value" for="A">A</label>
//         </li>
//         <li class="dropdown__item">
//           <input id="B" name="cycle" type="checkbox" value="B" />
//           <label class="dropdown__value" for="B">B</label>
//         </li>
//         <li class="dropdown__item">
//           <input id="C" name="cycle" type="checkbox" value="C" />
//           <label class="dropdown__value" for="C">C</label>
//         </li>
//       </ul>
//     </div>
//   </div>
// </fieldset>
//
// Styleguide components.dropdowns

.dropdown {
  font-family: $sans-serif;
  position: relative;
  max-width: 21rem;
  width: 100%;
}

.dropdown__button {
  position: relative;
  text-align: left;
  min-height: 3.4rem;
  width: 100%;

  &:after {
    background-image: url('../img/i-down--primary.png');
    background-image: url('../img/i-down--primary.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-size: 12px;
    border-left: 1px solid $primary;
    content: '';
    display: block;
    padding: 1rem 2rem 1rem 1rem;
    position: absolute;
    right: 1.5rem;
    top: .5rem;
  }

  &.button--secondary:after {
    background-image: url('../img/i-down--secondary.png');
    background-image: url('../img/i-down--secondary.svg');
    border-left: 1px solid $secondary;
  }

  &.button--primary-contrast:after {
    background-image: url('../img/i-down--primary-contrast.png');
    background-image: url('../img/i-down--primary-contrast.svg');
    border-left: 1px solid $primary-contrast;
  }
}

.dropdown__button--mini {
  &:after {
    padding: 1rem .5rem 1rem 1.5rem;
    right: .5rem;
  }
}

.dropdown__value {
  display: block;
  margin: 0;
}

.dropdown__panel {
  position: absolute;
  min-width: 100%;
  background: $white;
  border: 2px solid $primary;
  max-height: 30rem;
  overflow: hidden;
  text-align: left;
  top: 3.4rem;
  z-index: 999;

  .dropdown__value {
    border-bottom: 1px solid $primary;
    margin: 0;
    padding: .5rem 1rem;
    white-space: nowrap;

    &:hover {
      background-color: $gray-light;
      cursor: pointer;
    }

    &:before {
      display: none;
    }
  }

  input:focus + .dropdown__value {
    background-color: $gray-light;
  }

  .dropdown__item:last-of-type {
    .dropdown__value {
      border-bottom: none;
    }
  }

  // For labeling a group of options
  .dropdown__subhead {
    font-size: 1.4rem;
    font-weight: bold;

    &:hover {
      background-color: $white;
    }
  }
}

.dropdown--secondary {
  .dropdown__panel {
    background: lighten($secondary-contrast, 10%);
    border-color: $deep-orange;

    .dropdown__value {
      border-color: $deep-orange;
      color: $secondary;

      &:hover {
        background-color: $deep-orange;
      }
    }
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown__selected {
  margin-bottom: .5rem;

  .dropdown__item {
    @include animation(fadeIn .2s ease-in);
  }

  input {
    margin-left: 0;
  }

  @include media($med) {
    &.list--flat .dropdown__item {
      width: 30%;
    }
  }
}

.ps-scrollbar-y-rail {
  position: absolute;
  background: $gray-light;
  width: 4px;
  border-left: 1px solid $primary;
}

.ps-scrollbar-y {
  position: absolute;
  width: 4px;
  background: $primary;
}
