// Feature callouts
//
// Used on the home page
// Use .feature--no-title to add extra padding to items that don't have a title above the card to get them to line up
//
// Styleguide components.features

.feature {
  padding-top: 2rem;
}

.feature__title {
  @include heading(h1);
  border-bottom: none;
  margin-bottom: 1rem;
}

.feature--bulleted {
  display: list-item;
  list-style-type: disc;
  padding: 0 2rem 0 0;
}

.feature-list {
  @include clearfix();
  padding-left: 2rem;
}

// BREAKPOINT: MEDIUM
// Features span half the screen

@include media($med) {
  .feature {
    @include span-columns(6);

    &:nth-child(2) {
      margin-right: 0;
    }

    .card {
      @include span-columns(6 of 6);
      min-height: 19.5rem;
    }
  }

  .feature--no-title {
    padding-top: 6.2rem;
  }

  &.feature--bulleted {
    display: list-item;
  }
}

// BREAKPOIN: LARGE
// Features go four to a row

@include media($lg) {
  .feature {
    @include span-columns(3);
    padding-top: 0;

    &:nth-child(2) {
      margin-right: flex-gutter();
    }

    .card {
      @include span-columns(3 of 3);
      min-height: 34rem;
    }

    .card__image {
      margin-top: 2rem;
      width: 12rem;
    }
  }    

  .feature--no-title {
    padding-top: 4.2rem;
  }  

  &.feature--bulleted {
    display: list-item;
  }
}

