.figure--zero-pad {
  .figure__label {
    @include u-truncate();
    display: block;
    font-weight: bold;
  }

  .figure__item {
    display: inline-block;
    margin-bottom: u(1rem);
  }
}

.figure__decimals {
  color: $gray;
  letter-spacing: 3px;
}
