// Form styles
//
// For fancy form styling
//
// Styleguide components.form-styles

// Selects
//
// Styleguide components.form-styles.selects

.select--neutral {
  background-color: $neutral;
}

// Labels
//
// .label     - Bold, uppercase, with a bottom margin
//
// Styleguide components.form-styles.labels

.label {
  color: $primary;
  display: block;
  font-family: $sans-serif;
  font-weight: bold;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

// Combo
//
// On medium and up, displays input and button right next to each other. On small screens they're stacked.
//
// Markup:
// <div class="slab slab--primary">
//   <div class="container">
//   <div class="combo">
//     <input type="text" class="combo__input">
//     <button class="button--primary combo__button">Go</button>
//   </div>
// </div>
// </div>
//
// Styleguide components.form-styles.combo

.combo {
  @include clearfix();

  .combo__input {
    height: 3.6rem;
  }

  .combo__button {
    height: 3.6rem;
    margin-top: 1rem;
    width: 100%;
  }

  @include media($med) {
    .combo__input {
      height: 3.6rem;
      border-radius: 2px 0 0 2px;
      float: left;
      width: 80%;
    }

    .combo__button {
      border-radius: 0 4px 4px 0;
      float: left;
      margin-top: 0;
      width: 20%;
    }
  }
}

// Inline forms
//
// For displaying multiple form elements in a row
//
// Markup:
//  <div class="row">
//  <input class="form-element--inline" type="text">
//  <select class="form-element--inline" ><option>Select an option</option></select>
//  <button class="form-element--inline button--primary">Submit</button>
// </div>
//
// Styleguide components.form-styles.inline-form

.form-element--inline {
  vertical-align: top;

  @include media($med) {
    display: inline;
    margin: 0 1rem 0 0;
    width: auto;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Date range inputs
// Combination of radio buttons and text inputs for selecting date ranges

.date-range-input {
  padding-left: 2.5rem;
}
