
// Labels
//
// .label     - Bold, uppercase, with a bottom margin
//
// Styleguide elements.forms.labels

.label {
  color: $primary;
  font-family: $sans-serif;
  font-weight: bold;
  margin-bottom: .5rem;
  text-transform: uppercase;
}