// Hero
//
// Hero units are special slabs that have a thick bottom border and centered content.
// They are used on landing pages for top-level sections
//
// .hero--primary      - Blue background
// .hero--secondary    - Crimson background
//
// Markup:
// <section class="hero {{modifier_class}}">
//  <div class="container">
//    <h1 class="t-display">Explore campaign finance data</h1>
//    <h2 class="t-ruled">See how money is raised and spent in federal elections</h2>
//    <div class="hero__content">
//      <a class="hero__action hero__down">Centered call out component</a>
//    </div>
//    </div>
//  </div>
// </section>
//
// Styleguide components.hero

.hero {
  padding: 3rem 0;
  text-align: center;

  .t-display {
    margin-bottom: 0;
  }

  @include media($med) {
    padding: 7rem 0;
  }
}

.hero--primary {
  @include u-bg--primary();
  @include u-font-color($gray-lightest);
  border-bottom: 10px solid $primary-contrast;
}

.hero--secondary {
  @include u-bg--secondary();
  @include u-font-color($gray-lightest);
  border-bottom: 10px solid $secondary-contrast;

  .hero__action {
    color: $secondary-contrast;
  }
}

.hero__action {
  @include span-columns(10);
  @include shift(1);
  border: none;
  font-family: $sans-serif;
  text-align: center;
  text-transform: uppercase;

  @include media($lg) {
    @include span-columns(3 of 8);
    @include shift(2.5);
  }
}

.hero__down {
  @include u-background-image('i-arrow--down--secondary-contrast', 50% 100%);
  padding-bottom: 3rem;
}

.hero__content {
  padding-top: 2rem;

  @include media($lg) {
    @include span-columns(8);
    @include shift(2);
    padding-top: 4rem;

    .combo--search {
      @include span-columns(8 of 8);
    }

    .search__radio__button {
      font-size: 2rem;
      height: 6rem;
      line-height: 1;
      padding: 2rem;
    }
  }
}

.hero--home {
  @include u-bg--neutral();
  padding: 0;

  .hero__content {
    padding: 2rem 0;
  }
}

.hero__banner {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32rem;
  position: relative;

  .hero__title {
    border-bottom: 2px solid $primary;
  }

  .hero__subtitle {
    padding: 2rem 0;
  }

  .hero__heading {
    padding-top: 4rem;
  }

  .photo-credit {
    background: rgba($gray-lightest, .6);
    font-size: 1rem;
    font-family: $sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5rem;
  }

  @include media($lg) {
    .hero__heading {
      @include span-columns(6);
      @include shift(3);
    }
  }
}

.hero__banner--monument {
  background-image: url('../img/monument.jpg');
}

.hero__banner--office {
  display: none;

  @include media($med) {
    display: block;
    background-image: url('../img/fec-office.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
  }

  @include media($lg) {
    background-size: cover;
    height: 28rem;
  }
}
