// Icons
//
// Simple classes to set the size and spacing of <img> icons
//
// .icon                  - Sets size of an icon img
// .icon--complex         - Sets size of complex icons
// .icon--inline--right   - Vertically centering and adding slight margin to inline icons
// .icon--inline--left    - Vertically centering and adding slight margin to inline icons

.icon {
  display: block;
  height: 2rem;
  width: 2rem;
}

.icon--complex {
  max-height: 6rem;
  max-width: 6rem;
}

.icon--inline--right {
  margin-left: 1rem;
  vertical-align: middle;
}

.icon--inline--left {
  margin-right: 1rem;
  vertical-align: middle;
}
