// Icon headings
//
// NOTE: This component is evolving as we adopt new icons. Will update
// the documentation all at oncce.
//
// .icon-heading        - 4 columns wide on large screens
// .icon-heading--full  - Full-width on large screens
//
// Markup:
// <div class="{{modifier_class}}">
//   <img class="icon-heading__image" src="img/i-elections--primary.svg" alt="Icon representing elections">
//   <h2 class="icon-heading__title widget__title"><span class="t-short">Find candidates running near you</span></h2>
// </div>
//
//  Styleguide components.icon-headings

.icon-heading__image {
  @include span-columns(3);
}

.icon-heading__title {
  @include span-columns(9);
}

@include media($med) {
  .icon-heading__image {
    @include span-columns(1);
  }

  .icon-heading__title {
    @include span-columns(11);
  }
}

@include media($lg) {
  .icon-heading {
    @include span-columns(4);
  }

  .icon-heading__image {
    @include span-columns(1 of 4);
  }

  .icon-heading__title {
    @include span-columns(3 of 4);
  }

  .icon-heading--full {
    width: 100%;

    .icon-heading__image {
      @include span-columns(1 of 6);
    }

    .icon-heading__title {
      @include span-columns(5 of 6);
    }

    &:nth-child(2) {
      border-left: 1px solid $gray;
      border-top: none;
    }
  }
}

// Temporary
// Refactor after introducing icon font

@mixin u-icon-heading() {
  padding-left: u(3rem);
}

.icon-heading--profiles {
  @include u-icon-bg($folder-with-person, $inverse);
  background-size: u(2rem);
  padding-left: u(3rem);
}

.icon-heading--overviews {
  @include u-icon-bg($graph, $inverse);
  padding-left: u(3rem);
}

.icon-heading--location {
  @include u-icon-bg($map-pin, $inverse);
  padding-left: u(3rem);
}

.icon-heading--candidates {
  @include u-icon-bg($candidate, $inverse);
  background-size: u(2rem);
  padding-left: u(3rem);
}

.icon-heading--committees {
  @include u-icon-bg($committee, $inverse);
  background-size: u(2rem);
  padding-left: u(3rem);
}

.icon-heading--receipts {
  @include u-icon-bg($piggy-bank, $inverse);
  background-size: u(2rem);
  padding-left: u(3rem);
}

.icon-heading--disbursements {
  @include u-icon-bg($disbursement, $inverse);
  background-size: u(2rem);
  padding-left: u(3rem);
}

.icon-heading--filings {
  @include u-icon-bg($papers, $inverse);
  background-size: u(2rem);
  padding-left: u(3rem);
}

.icon-heading--table {
  @include u-icon-bg($table, $inverse);
  background-position: 0 50%;
  padding-left: u(3rem);
}

// Icon headings in circles
@mixin icon-heading--circle($background, $icon) {
  background-image: none;
  padding-bottom: .2em;
  position: relative;

  &::before {
    @include u-icon-bg($icon, $inverse);
    background-size: 50%;
    background-position: 50% 50%;
    content: '';
    display: block;
    float: left;
    background-color: $background;
    margin-right: .2em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1.2em;
  }
}

.icon-heading--circle-table {
  @include icon-heading--circle($primary, $table);
}


