// Legal search
//
// Styles for legal search results. On desktop, they take a tabular layout but
// compress to a more compact display for mobile.
//
// Markup:
// <div class="legal-search-results">
//   <div class="legal-search-results__header-row">
//     <div class="legal-search-results__header cell--15">Section</div>
//     <div class="legal-search-results__header">Description</div>
//   </div>
//   <div class="legal-search-results__list">
//     <div class="legal-search-result">
//       <div class="legal-search-result__field"><a title="" href="/regulations/5-6/2016-annual-5#5-6">§ 5.6</a></div>
//       <div class="legal-search-result__field">
//         <strong>Fees.</strong>
//         <div class="t-serif legal-search-result__hit">
//           … per copy, including reproduction and binding).  Cost ($.0006 per
//           <em>Computer</em> Resource Unit Utilized—CRU … ) to process the
//           request plus the cost of the <em>computer</em> tape ($25) and
//           professional staff time (see … Research Time). The cost varies based
//           upon request.  No charge for 20 or fewer requests for
//           <em>computer</em> … ID numbers will cost $2.00 for each ID number
//           requested. Other <em>computer</em> index requests for more … than 20
//           ID numbers will cost $.0006 per CRU (<em>Computer</em> Resource Unit)
//           utilized. Name Search—A <em>computer</em> …
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide components.search-results-legal


.legal-search-results__header-row {
  border-bottom: 1px solid $primary;
  font-family: $sans-serif;
  font-weight: 600;

}

.legal-search-results__header {
  display: none; // Hide all but the first header cell
  padding: u(0.5rem 1rem);
  text-align: left;

  &:first-child {
    display: table-cell;
  }
}

.legal-search-results__subtext {
  font-weight: normal;
}

.legal-search-result {
  border-bottom: 1px solid $neutral;
  padding: u(1rem);

  &:last-child {
    border-bottom: none;
  }

  &:nth-child(even) {
    background-color: rgba($gray-lightest, .5);
  }
}

.legal-search-result__name {
  font-family: $sans-serif;
  font-weight: 600;
}

.legal-search-result__hit {
  font-style: italic;

  em {
    @include t-highlight;
  }
}

// Table-style display
@include media($med) {
  .legal-search-results {
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
  }

  .legal-search-results__header-row {
    display: table-header-group;
  }

  .legal-search-results__header {
    display: table-cell;
  }

  .legal-search-results__list {
    display: table-row-group;
  }

  .legal-search-result {
    display: table-row;
  }

  .legal-search-result__field {
    display: table-cell;
    padding: u(1rem);
  }

  .legal-search-results__header,
  .legal-search-result__field {
    border-left: 1px solid $neutral;

    &:first-child {
      border-left: none;
    }
  }
}
