.election-map {
  border: 1px solid $beige;
  height: 40rem;

  svg path {
    stroke-width: 1px;
  }
}

.choropleths {
  position: relative;
}

.state-map {
  padding-top: 2rem;

  .button--close {
    float: right;
  }

  .candidate-select {
    float: left;
    margin-bottom: 1rem;
  }

  @include media($lg) {
    @include span-columns(6);

    .candidate-select {
      margin-bottom: 0;
    }

    .button--two-candidates {
      position: absolute;
      right: 0;
      top: 1rem;
    }
  }
}

path.shape {
  stroke: $primary;
  stroke-width: .5px;

  &.active {
    fill: rgba($primary, .5);
    stroke: $primary;
    stroke-width: 2px;
  }
}

.state--hover {
  &:hover {
    stroke: $primary;
    stroke-width: 2px;
    cursor: pointer;
  }
}

.legend-container {
  font-family: $sans-serif;

  rect {
    stroke: $primary;
  }

  svg {
    height: 40px;
  }
}

.map-table,
.map-panel {
  @include media($med) {
    @include span-columns(6, block-collapse);
  }
}

.map-table {
  border-bottom: 1px solid $ivory;

  tr {
    cursor: pointer;
  }

  .row-active {
    border-left: .5rem solid $primary;
  }
}

.map-toggles {
  margin-top: 1rem;
}

.map-panel {
  padding: 2rem;
  position: relative;

  .state-map {
    width: 100%;
  }

  @include media($med) {
    background-color: rgba($ivory, .3);
    border: 1px solid $ivory;
    height: 432px;
  }
}

@include media($med) {
  .map-toggles {
    float: right;
    margin-top: 0;
  }
}
