.election-map {
  border: 1px solid $beige;
  height: 40rem;
}

.state-map {
  padding-top: 2rem;

  .button {
    float: right;
  }

  .candidate-select {
    float: left;
  }

  @include media($lg) {
    @include span-columns(6);
  }
}

path.shape {
  stroke: #ccc;
  &.active {
    fill: $primary-contrast;
  }
  &:hover {
    stroke: $secondary-contrast;
  }
}

.legend {
  rect {
    stroke: $primary;
  }
}

.legend svg {
  height: 75px;
}
