// Mega menu

.mega {
  a {
    border-bottom: none;

    &:hover {
      border-bottom: 1px dotted $inverse;
    }
  }

  ul {
    margin-left: 0;
  }
}

@include media($lg) {
  .mega {
    @include u-font-color($inverse);
    @include clearfix();
    display: block !important; // Important to override [aria-hidden] styles
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;

    &.is-open {
      top: u(4rem);
      visibility: visible;
      padding-bottom: u(8rem); // Padding so that the shadow doesn't get cut off
      z-index: $z-navigation;

      .mega__inner {
        @include transition(all .4s ease-out);
        @include transform(translateY(0));
        box-shadow: 0 6px 8px 2px rgba(0, 0, 0, .3);
        transform: translateY(0);
      }
    }

    a {
      border-color: $inverse;
    }
  }

  .mega__inner {
    @include clearfix();
    @include transition(all .4s ease-out);
    @include transform(translateY(-100%));
    background-color: $primary;
    font-family: $sans-serif;
    font-size: u(1.4rem);
    color: $inverse;
    padding: u(1rem 4rem 2rem 4rem);

    .button--standard {
      color: $base;
      border: 1px solid $gray;
    }
  }

  .mega-heading {
    border-bottom: 2px solid $inverse;
    padding-bottom: u(.8rem);
    margin: u(1rem 0);
  }

  .mega-heading--sub {
    border-bottom: 1px solid $gray-light;
    margin-bottom: u(1rem);

    .mega-heading__title {
      font-size: u(1.6rem);
      line-height: 1.5;
      margin: 0;
      padding-bottom: u(.5rem);
    }
  }

  .mega-heading__title {
    margin-bottom: 0;

    a {
      border-bottom: 1px dotted $inverse;
    }
  }

  .mega__group {
    @include clearfix();
    padding-bottom: u(2rem);
  }

  .mega__column {
    @include span-columns(3);
  }

  .mega__item {
    line-height: 1;
    margin-bottom: u(1rem);
  }

  .mega__item__sub {
    margin-left: u(2rem);
  }
}
