// Mega menu

.mega {
  @include u-font-color($inverse);
  @include transition(max-height .5s $ease-out-cubic);
  @include clearfix();
  background-color: $primary;
  font-family: $sans-serif;
  font-size: 1.6rem;
  display: block !important;
  color: $inverse;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;

  &.is-open {
    @include transition(max-height .5s $ease-out-cubic);
    max-height: 500px;
    display: block;
    top: 6rem;
    z-index: $z-navigation;
  }
}

.mega__inner {
  padding: 2rem;
}

.mega-heading {
  border-bottom: 2px solid $inverse;
  margin-bottom: 1rem;
}

.mega-heading--sub {
  border-bottom: 1px solid $inverse;
  margin-bottom: 1rem;
}

.mega-heading__title {
  margin-bottom: 0;
}

.mega-heading__image {

}

.mega__group {
  @include clearfix();
  padding-bottom: 4rem;
}

@include media($lg) {
  .mega__column-container--1 {
    @include span-columns(3);
  }

  .mega__column-container--2 {
    @include span-columns(6);
  }

  .mega__column-container--3 {
    @include span-columns(9);

    .mega__column {
      @include span-columns(3 of 9);
    }
  }
}
