// Messages
//
// Banners and alerts
//
// .message--no-icon    - Results message. Communicates information about search results that don't return data.
// .message--success    - Success message. The user has taken an action that successfully completes. Always help them find what to do next, including confirming their previous action.
// .message--error      - Error message. The user has taken an action that the system cannot accept. Always offer guidance to correcting their action.
// .message--alert      - Warning message. The user has reached a dead end through their navigation. Either they’ve entered a search which returns no results, or there is no data available in this entry. Offer users igational assistance to get them back on the main trail. Be careful not to treat this like an error. It’s the site that has returned no data, not an error on the user’s part.
// .message--info       - Informational alert. The user needs this information, but does not need to take any action. This should be used sparingly, as it interrupts the viewing flow intentionally.
//
// Markup: messages.hbs
//
// Styleguide components.messages

.message {
  @include clearfix();
  background-size: u(2rem);
  background-position: u(2rem 2rem);
  background-color: $neutral;
  border-color: $gray;
  border-style: solid;
  border-width: 0 0 0 3px;
  margin: u(2rem 0);
  padding: u(5rem 2rem 2rem 2rem);
}

.message--success {
  @include u-icon-bg($check-circle, $primary);
  border-color: $primary-contrast;
}

.message--error {
  @include u-icon-bg($x-circle, $primary);
  border-color: $secondary-contrast;
}

.message--alert {
  @include u-icon-bg($bang-circle, $primary);
}

.message--info {
  @include u-icon-bg($info-circle, $primary);
}

.message--alert__bottom {
  border-top: 1px solid $gray;
  margin-top: u(1rem);
  padding-top: u(2rem);
}

.message__title {
  border-bottom: none;
  margin-bottom: u(1rem);
}

.message__content {
  display: table-cell;
}

// Messages: Big
//
// .message--big      - Big message, for error pages
//
// Markup:
// <div class="message message--alert {{ modifier_class }}">
//   <h2 id="section-1-header" tabindex="0">Oops!</h2>
//   <p>We couldn't find what you're looking for. Please double-check the URL and try again.</p>
//   <div class="message--alert__bottom">
//       <p>Still can't find what you're looking for?</p>
//       <ul class="list--buttons">
//         <li><a class="button button--cta" href="#">Return home</a></li>
//         <li><a class="button button--standard" href="#">File an issue</a></li>
//         <li><a class="button button--standard" href="#">Email our team</a></li>
//       </ul>
//   </div>
// </div>
//
// Styleguide components.messages.big

.message--big {
  @include media($lg) {
    @include span-columns(8);
    @include shift(2);
  }
}

// Messages: Small
//
// .message--small      - Big message, for error pages
//
// Markup:
// <div class="message message--info {{ modifier_class }}">
//   <p>This entity has no financial data for the 2011-2012 election cycle in OpenFEC.</p>
// </div>
//
// Styleguide components.messages.small

.message--small {
  background-position: u(1rem 1rem);
  padding: u(4rem 1rem 1rem 1rem);

  &.message {
    min-height: 0;
  }
}

// Messages: Inverse
//
// Use this style against a dark background
//
// .message--success  - Success message
// .message--error    - Error message
// .message--alert   - Alert message
// .message--info     - Info messages
//
// Markup:
// <div class="slab slab--primary" style="padding: 2rem;">
// <div class="message message--inverse {{ modifier_class }}">
//   <p>Sample message content.</p>
// </div>
// </div>
//
// Styleguide components.messages.inverse

.message--inverse {
  color: $inverse;
  background-color: rgba($inverse, .1);
  background-position: u(50% 2rem);
  border-color: $inverse;

  &.message--success {
    @include u-icon-bg($check-circle, $inverse);
    border-color: $primary-contrast;
  }

  &.message--error {
    @include u-icon-bg($x-circle, $inverse);
    border-color: $secondary-contrast;
  }

  &.message--alert {
    @include u-icon-bg($bang-circle, $inverse);
  }

  &.message--info {
    @include u-icon-bg($info-circle, $inverse);
  }
}

// Messages: Inverse (Alt)
//
// Use this style against a light neutral background (e.g. a filter panel)
//
// .message--success  - Success message
// .message--error    - Error message
// .message--alert   - Alert message
// .message--info     - Info messages
//
// Markup:
// <div class="slab slab--neutral" style="padding: 2rem;">
// <div class="message message--inverse-alt {{ modifier_class }}">
//   <p>Sample message content.</p>
// </div>
// </div>
//
// Styleguide components.messages.inverse-alt

.message--inverse-alt {
  background-color: $inverse-translucent;
}

@include media($med) {
  .message {
    background-position: u(2rem 2rem);
    background-size: u(3rem);
    min-height: u(8rem);
    padding: u(2rem 2rem 2rem 6rem);

    &.message--inverse {
      background-position: u(2rem 2rem);
    }
  }

  .message--small {
    background-size: u(2rem);
    background-position: u(1rem 1rem);
    padding: u(1rem 1rem 1rem 4rem);
  }

}
