// Messages
//
// Banners and alerts
//
// .message--no-icon  - No icon
// .message--success  - Success message
// .message--error    - Error message
// .message--alert    - Alert message
// .message--info     - Info messages
//
// Markup:
// <div class="message {{ modifier_class }}">
//   <h2 id="section-1-header" tabindex="0">No results</h2>
//   <p>This entity has no financial data for the 2011-2012 election cycle in OpenFEC.</p>
//   <p>For complete data, search the <a href="http://www.fec.gov/finance/disclosure/candcmte_info.shtml">FEC Candidate and Committee Viewer</a>.</p>
//   <div class="message--alert__bottom">
//       <h4>Is this information incorrect? Let us know.</h4>
//       <a class="button button--neutral" href="mailto:{{ contact_email }}">Contact support <i class="ti-email"></i></a>
//   </div>
// </div>
//
// Styleguide components.messages

.message {
  @include clearfix();
  background-size: 2rem;
  background-color: $gray-light;
  border-color: $gray;
  border-style: solid;
  border-width: 0 0 0 3px;
  margin: 2rem 0;
  padding: 5rem 2rem 2rem 2rem;
}

.message--success {
  @include u-background-image('i-success', 2rem 2rem);
  border-color: $primary-contrast;
}

.message--error {
  @include u-background-image('i-error', 2rem 2rem);
  border-color: $secondary-contrast;
}

.message--alert {
  @include u-background-image('i-alert', 2rem 2rem);
}

.message--info {
  @include u-background-image('i-info', 2rem 2rem);
}

.message--alert__bottom {
  border-top: 1px solid $gray;
  margin-top: 1rem;
  padding-top: 1rem;
}

.message--small {
  background-position: 1rem 1rem;
  padding: 4rem 1rem 1rem 1rem;
}

.message__title {
  border-bottom: none;
}

.message__content {
  display: table-cell;
}

.message--big {
  @include media($lg) {
    @include span-columns(8);
    @include shift(2);
  }
}

.message--no-icon {
  padding: 2rem;
}

// Primary messages
//
// Use this style for secondary messages as well
//
// .message--success  - Success message
// .message--error    - Error message
// .message--alert   - Alert message
// .message--info     - Info messages
//
// Markup:
// <div class="slab slab--primary" style="padding: 2rem;">
// <div class="message message--primary {{ modifier_class }}">
//   <p>Sample message content.</p>
// </div>
// </div>
//
// Styleguide components.messages.primary-messages

.message--primary,
.message--secondary {
  @include u-font-color($inverse);
  background-color: rgba($inverse, .1);
  border-color: $inverse;

  &.message--success {
    @include u-background-image('i-success--inverse', 50% 2rem);
    border-color: $primary-contrast;
  }

  &.message--error {
    @include u-background-image('i-error--inverse', 50% 2rem);
    border-color: $secondary-contrast;
  }

  &.message--alert {
    @include u-background-image('i-alert--inverse', 50% 2rem);
  }

  &.message--info {
    @include u-background-image('i-info--inverse', 50% 2rem);
  }
}


@include media($med) {
  .message {
    background-position: 2rem 2rem;
    background-size: 3rem;
    min-height: 8rem;
    padding: 2rem 2rem 2rem 6rem;

    &.message--primary,
    &.message--secondary {
      background-position: 2rem 2rem;
    }
  }

  .message--small {
    background-size: 2rem;
    background-position: 1rem 1rem;
    padding: 1rem 1rem 1rem 4rem;
  }

  .message--no-icon {
    padding: 2rem;
  }
}
