.modal {
  bottom: 1rem;
  font-family: $sans-serif;
  left: 1rem;
  padding: 2rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: $z-max;

  .button--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.modal__title {
  border-bottom: 1px solid;
  font-family: $sans-serif;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.modal--primary {
  @include u-bg--primary();
}

@include media($lg) {
  .modal {
    padding: 4rem;
    bottom: auto;
    left: 50%;
    margin-left: -30rem;
    max-width: 60rem;
    top: 10rem;
  }
}
