// Overlay
//
// An absolutely positioned overlay over any relatively positioned area
// Adding .is-loading adds the loading gif
//
// Styleguide components.overlay

.overlay {
  background-color: rgba($primary, .7);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: $z-overlay;

  &.is-loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
}

.overlay--neutral {
  background-color: transparent;

  &.is-loading {
    background-image: url('../img/loading--primary.gif');
    background-repeat: no-repeat;
    background-position: 50% 40%;
  }
}

.overlay__container {
  position: relative;
  min-height: 50rem;
}