.overview {
  @include clearfix();
  padding: u(2rem) 0;
}

.overview__total {
  font-family: $sans-serif;
  font-size: u(1.4rem);
  padding: u(.5rem 0);
  border-bottom: 1px solid $gray-light;
}

.overview__total-title {
  font-weight: bold;
}

.overview__chart {
  position: relative;

  svg {
    font-size: u(1rem);
    font-family: $sans-serif;
  }
}

.overview__methodology {
  max-height: u(30rem);
  overflow-y: scroll;

  p,
  li {
    font-size: 1.4rem;
  }
}

.top-list {
  border-style: solid;
  border-color: $base;
  border-width: 1px 0;
  font-family: $sans-serif;
  padding: u(1rem) 0;

  ol {
    padding-top: u(1rem);
  }
}

.top-list__title {
  margin-bottom: u(1.5rem);
}

.top-list__subtitle {
  margin-bottom: u(.5rem);
}

@include media($med) {
  .overview__totals {
    @include span-columns(4);
  }

  .overview__chart {
    @include span-columns(8);
    @include omega();
  }

  .overview__feedback {
    width: 100%;
    clear: both;
  }
}

@include media($lg) {
  .overview__totals {
    @include span-columns(3);
  }

  .overview__chart {
    @include span-columns(9);
  }

  .top-list {
    @include span-columns(4);
  }
}

// Swatches
.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: .4em;
  vertical-align: middle;

  &.candidates {
    background-color: $deep-aqua;
  }

  &.pacs {
    background-color: $gray;
  }

  &.parties {
    background-color: $aqua;
  }

  &.other {
    background-color: $gray-dark;
  }
}
