// Page Header
//
// The band of color at the top of a page that contains the parent category. 
// Consists of an h1 within a container within a slab. h1 may have an icon.
//
// .slab--primary     - Primary background with primary-contrast accents and type
// .slab--secondary   - Secondary background with secondary-contrast accents and type
//
// Markup:
// <div class="page-header {{ modifier_class }}">
//  <div class="container">
//    <h1 class="page-header__title">Page heading</h1>
//  </div>
// </div>
//
// Styleguide components.page-header

.page-header {
  @include clearfix();
  padding: 1rem 2rem;

  .search__container {
    display: none;
  }
}

.page-header__title {
  border-bottom: none;
  font-family: $sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
  line-height: 1;
}

.page-header__icon {
  float: left;
  margin-right: 0;
  width: 4rem;  
}

.page-header--primary {
  @include u-bg--primary();
  @include u-font-color($primary-contrast);
}

// BREAKPOINT: MEDIUM
// Add padding
// Show the search bar in line with the page title

@include media($med) {
  .page-header {
    padding: 1rem 4rem;

    .search__container {
      display: block;
      float: right;
      width: 50%;
    }  
  }

  .page-header__title {
    @include media($med) {
    float: left;
    line-height: 4rem;
    width: calc(50% - 4rem);
  }
  }
}