// Latest update posts

.post-feed {
  padding: u(1rem 0 1rem 2rem);
}

.post {
  border-bottom: 1px solid $gray-light;
  padding: u(2rem 0);

  h3 {
    margin-bottom: u(1rem);
  }
}

.post__pre {
  @include clearfix();
  color: $gray-dark;
  font-family: $sans-serif;
  padding-bottom: 5px;
}

.post__meta {
  .tag {
    margin-right: 5px;
    text-transform: uppercase;

    &:hover {
      border-color: $secondary;
    }
  }
}
