// Rich Text styles
//
// These are styles specifically for content output by the CMS

.rich-text {

  li {
    font-size: u(1.6rem);
  }

  ul {
    margin-bottom: u(1rem);

    li {
      list-style-type: disc;
      margin-left: u(2rem);
      padding: u(0 0 .5rem 0);
      margin-bottom: 0;

      // Hack because the editor is putting all text in <p>s
      p {
        margin-bottom: 0;
      }
    }
  }

  ol {
    li {
      list-style-type: decimal;
      margin: 0;
      padding-left: u(1rem);
    }
  }

  table {
    @extend .simple-table;
  }

  thead {
    @extend .simple-table__header;
  }

  tr {
    @extend .simple-table__row;
  }

  td {
    @extend .simple-table__cell;
  }
}

@media print {
  .rich-text table {
    page-break-inside: avoid;
  }
}
