// Search Bar
//
// .combo--search--large      - 6rem tall
//
// Markup:
// <div class="slab slab--primary">
//   <div class="container">
//     <form id="large-search" autocomplete="off" class="search__container js-search">
//       <div class="combo combo--search {{modifier_class}}">
//         <select class="search__select js-search-type" name="search_type">
//           <option value="candidates">Candidates</option>
//           <option value="committees">Committees</option>
//         </select>
//         <input type="text" class="combo__input js-search-input">
//         <button type="submit" class="button--primary combo__button">
//          <span class="u-visually-hidden">Search</span>
//         </button>
//       </div>
//     </form>
//   </div>
// </div>
//
// Styleguide components.search-bar

.search__select {
  border-radius: 4px 0 0 4px;
  margin-right: -2px;
  height: 3.6rem;
  width: 14rem;
  float: left;
}

.combo--search {
  .combo__input {
    border-radius: 0 4px 4px 0;
    width: calc(100% - 14rem);
  }
}

.combo--search--mini {
  .combo__input {
    border-radius: 4px 0 0 4px;
    float: left;
    width: calc(100% - 5.6rem);
  }

  .combo__button {
    border-radius: 0 4px 4px 0;
    float: left;
    height: 3.6rem;
    width: 5.6rem;
  }
}

// BREAKPOINT: MEDIUM
@include media($med) {
  .combo--search {
    .combo__input {
      border-radius: 0 0 0 0;
      width: calc(100% - 20.6rem);
    }

    .combo__button {
      width: 5.6rem;
    }

    .tt-menu {
      width: calc(100% - 6.8rem);
    }
  }

  .combo--search--large {
    height: 6rem;

    .combo__input {
      font-size: 1.8rem;
      height: 6rem;
      line-height: 1;
      width: calc(100% - 26rem);
    }

    .combo__button {
      height: 6rem;
      width: 10rem;
    }

    .search__select {
      height: 6rem;
      width: 16rem;
      font-size: 1.8rem;
    }

    .tt-menu {
      font-size: 1.6rem;
      top: 5.9rem !important;
      width: calc(100% - 10.2rem);
    }
  }
}

// Typeahead styles
.twitter-typeahead {
  height: 0;
  width: 100%;
}

.tt-menu {
  background-color: $cream;
  border: 1px solid $primary;
  font-family: $sans-serif;
  font-size: 1.2rem;
  left: 0;
  text-align: left;
  position: absolute;
  width: 100%;
}

.tt-menu {
  font-size: 1.6rem;
  top: 3.5rem !important;
}

.tt-suggestion {
  display: table;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 0;
  line-height: 1;
  border-bottom: 1px solid $ivory;
  width: 100%;

  .tt-suggestion__name,
  .tt-suggestion__office {
    display: table-cell;
  }
}

span.tt-suggestion__name {
  color: $primary;
}

span.tt-suggestion__office {
  color: $primary;
  font-size: 1.2rem;
  text-align: right;
  font-style: italic;
}

.tt-cursor,
.tt-suggestion:hover {
  cursor: pointer;
  background: $ivory;

  .tt-suggestion__name {
    color: $primary;
  }

  .tt-suggestion__office {
    color: $primary;
  }
}

// Mini Search Bar
//
// Mini search bar without the button
//
// Markup:
// <div class="slab slab--neutral">
//   <div class="container">
//     <div class="filter js-typeahead-filter usa-width-one-fourth" data-dataset="committees">
//       <label class="label">Committee</label>
//       <ul class="dropdown__selected"></ul>
//       <input type="text" name="committee_id" class="search-input--mini">
//     </div>
//   </div>
// </div>
//
// Styleguide components.search-bar-mini

.search-input--mini {
  @include u-background-image('i-search--neutral', 1rem 50%);
  width: 100%;
  height: 3.6rem;

  &:focus {
    background-image: none;
  }

  &.tt-hint {
    background-image: none !important; // !important to override typeahead inline style
  }
}
