.results__title {
  margin: 2rem 0 0 0;
}

.results__count {
  margin-bottom: 2rem;
}

.result__title {
  margin-top: 2rem;
  margin-bottom: 0;
}

.result__years {
  display: block;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.result {
  border-top: 2px solid $beige;
  padding: 2rem 0;

  &:first-of-type {
    border-top: none;
    padding-top: 0;
  }
}

.result__header {
  @include clearfix();
}

.result__column {
}

.result__left {
  @include span-columns(5 of 9);
  border-right: 1px solid $beige;
}

.result__right {
  @include span-columns(4 of 9);
}

.result__related {
  padding: 1rem 0;
}

.result__term {
  display: inline-block;
  font-family: $sans-serif;
  margin-right: 2%;
  width: 50%;
}

.result__definition {
  display: inline-block;
  font-family: $sans-serif;
}

@include media($lg) {
  .result {
    padding: 3rem 0;
  }

  .result__title {
    @include span-columns(6 of 9);
  }

  .result__years {
    @include span-columns(3 of 9);
    margin-bottom: 0;
  }

  .result__term {
    width: 30%;
  }

  .result__column {
    @include span-columns(3 of 9);
    border-right: 1px solid $beige;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }
  }
}