// Search Bar
//
// .combo--search--large      - 6rem tall
//
// Markup:
// <div class="slab slab--primary">
//   <div class="container">
//     <form id="large-search" autocomplete="off" class="search__container js-search">
//       <div class="combo combo--search {{modifier_class}}">
//         <select class="search__select select--alt-primary js-search-type" name="search_type">
//           <option value="candidates">Candidates</option>
//           <option value="committees">Committees</option>
//         </select>
//         <input type="text" class="combo__input js-search-input">
//         <button type="submit" class="button--standard combo__button button--search">
//          <span class="u-visually-hidden">Search</span>
//         </button>
//       </div>
//     </form>
//   </div>
// </div>
//
// Styleguide components.search-bar

.search__select {
  border-radius: 4px 0 0 4px;
  margin-right: -2px;
  height: 3.6rem;
  width: 14rem;
  float: left;
}

.combo--search {
  .combo__input {
    border-radius: 0 4px 4px 0;
    width: calc(100% - 14rem);
  }
}

.combo--search--mini {
  .twitter-typeahead,
  .combo__input {
    border-radius: 4px 0 0 4px;
    float: left;
    width: calc(100% - 5.6rem);

    .combo__input {
      width: 100%;
    }
  }

  .combo__button {
    border-radius: 0 4px 4px 0;
    margin-top: 0;
    float: left;
    height: 3.6rem;
    width: 5.6rem;
  }
}

// BREAKPOINT: MEDIUM
@include media($med) {
  .combo--search {
    .combo__input {
      border-radius: 0 0 0 0;
      width: calc(100% - 20.6rem);
    }

    .combo__button {
      width: 5.6rem;
    }

    .tt-menu {
      width: calc(100% - 6.8rem);
    }
  }

  .combo--search--large {
    height: 6rem;

    .combo__input {
      font-size: 1.8rem;
      height: 6rem;
      line-height: 1;
      width: calc(100% - 26rem);
    }

    .combo__button {
      height: 6rem;
      width: 10rem;
    }

    .search__select {
      height: 6rem;
      width: 16rem;
      font-size: 1.8rem;
    }

    .tt-menu {
      font-size: 1.6rem;
      top: 5.9rem !important;
      width: calc(100% - 10.2rem);
    }

    .tt-suggestion__header {
      display: none;
    }
  }
}

// Typeahead styles
.twitter-typeahead {
  height: 0;
  width: 100%;
}

.tt-menu {
  background-color: $inverse;
  border: 1px solid $primary;
  font-family: $sans-serif;
  font-size: 1.2rem;
  left: 0;
  position: absolute;
  text-align: left;
  top: 3.5rem !important;
  width: 100%;
}

.tt-suggestion {
  display: table;
  position: relative;
  padding: 1rem;
  margin-bottom: 0;
  line-height: 1;
  border-top: 1px solid $gray-lightest;
  width: 100%;

  .tt-suggestion__name,
  .tt-suggestion__office {
    display: table-cell;
  }
}

.tt-suggestion__name.tt-suggestion__name {
  color: $base;
}

.tt-suggestion__office.tt-suggestion__office {
  color: $base;
  font-size: 1.2rem;
  text-align: right;
  font-style: italic;
}

.tt-cursor,
.tt-suggestion:hover {
  cursor: pointer;
  background: $gray-lightest;

  .tt-suggestion__name {
    color: $base;
  }

  .tt-suggestion__office {
    color: $base;
  }
}

.tt-suggestion__header.tt-suggestion__header {
  color: $base;
  display: block;
  font-weight: bold;
  padding: 1rem .5rem;
}

.tt-suggestion__loading.tt-suggestion__loading {
  color: $primary;
  display: block;
  font-weight: bold;
  padding: 1rem .5rem;
}

.tt-dataset-0 {
  border-bottom: 1px solid $base;
}
