// Search Controls
//
// Used at the top of election lookpu page
//
// Styleguide components.search-controls

.search-controls__row {
  @include clearfix();
  border-bottom: 1px solid $beige;
  padding: 1rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  .cycle-select {
    margin-bottom: 0;
  }
}

// Either / Or
//
// Component with two halves, separated by an "or"

.search-controls__or {
  margin: 1rem 0;
  position: relative;
  text-align: center;
  width: 100%;

  &:before,
  &:after {
    background-color: $beige;
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 45%;
    top: 1rem;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

}

.search-controls__submit {
  @include span-columns(6);
}

.search-controls__zip {
  @include span-columns(6);

  input {
    width: 100%;
  }
}

.search-controls__state {
  @include span-columns(6);
  margin-bottom: 1rem;

  select {
    width: 100%;
  }
}

.search-controls__district {
  @include span-columns(6);

  select {
    width: 100%;
  }
}

@include media($med) {
  .search-controls__row {
    padding: 2rem 0;
  }

  .search-controls__either {
    @include span-columns(5.5);
  }

  .search-controls__submit {
    @include span-columns(1.5 of 5.5);
  }

  .search-controls__zip {
    @include span-columns(3.5 of 5.5);
  }

  .search-controls__state {
  }

  .search-controls__or--vertical {
    @include span-columns(1);
    margin: 5.5rem 0;
    text-align: center;

    &:before,
    &:after {
      height: 6.5rem;
      left: 50%;
      width: 1px;
    }

    &:before {
      top: -6.5rem;
    }

    &:after {
      top: auto;
      bottom: -6.5rem;
    }
  }  
}

@include media($lg) {
  .search-controls__state,
  .search-controls__district {
    @include span-columns(2 of 5.5);
  }
}