// Sidebar
//
// Sidebars are asides with .bg--* classes applied to color the text and forms.
// Sidebars can contain .sidebar__sections which provide a bottom rule
//
// .sidebar--primary    - Blue background sidebar
// .sidebar--secondary  - Crimson background sidebar
//
// Markup:
// <div class="container">
// <div class="sidebar-container">
// <aside class="sidebar {{modifier_class}}">
//  <h4 class="sidebar__title">Sidebar title</h4>
//  <div class="sidebar__content">
//  <h2>Legal Resources</h2>
//  <ul>
//    <li><a href="#">102.2(a) »</a></li>
//    <li><a href="#">102.7(a), (b), (c) »</a></li>
//    <li><a href="#">102.9(c)  »</a></li>
//  </ul>
//  </div>
// </aside>
// </div>
// </div>
//
// Styleguide components.sidebar

.sidebar-container {
  @include clearfix();
  position: relative;
  min-height: 1px;

  @include media($med) {
    @include span-columns(3);
    @include shift(1);

    .card {
      width: 100%;
      margin: 0;
    }
  }
}

.sidebar {
  &.is-fixed {
    position: fixed;
    top: 2rem;
    left: auto;
  }
}

.sidebar__title {
  margin: 0;
  padding: 2rem;
}

.sidebar__content {
  @include clearfix();
  background-color: $neutral;
  padding: 2rem;
}

.sidebar-container--left {
  @include media($med) {
    @include shift(0);
  }
}

.sidebar--primary {
  .sidebar__title {
    @include u-bg--primary();
    @include u-font-color($primary-contrast);
  }

  .sidebar__section {
    border-bottom-color: $primary-contrast;
  }
}

.sidebar--secondary {
  .sidebar__title {
    @include u-bg--secondary();
    @include u-font-color($secondary-contrast);
  }

  .sidebar__section {
    border-bottom-color: $secondary-contrast;
  }

  .card {
    @include u-font-color($cream);
    background-color: #dd3700;
  }
}

.sidebar--neutral {
  @include u-bg--neutral();
  border-top: 4px solid $primary;
}
