// Side nav
//
// Sticky side nav that tracks the user's scroll progress through a page
//
// Markup:
// <div class="sidebar-container sidebar-container--left">
//   <nav class="sidebar sidebar--neutral sidebar--left side-nav">
//     <ul class="sidebar__content">
//       <li class="side-nav__item"><a class="side-nav__link is-active" href="#">Link (active)</a></li>
//       <li class="side-nav__item"><a class="side-nav__link" href="#">Link</a></li>
//       <li class="side-nav__item"><a class="side-nav__link" href="#">Link</a></li>
//       <li class="is-disabled side-nav__item"><span class="side-nav__link" href="#">TBD</span></li>
//     </ul>
//   </nav>
// </div>
//
// Styleguide components.side-nav

.side-nav {
  display: none;
}

.side-nav__item {
  padding: u(1rem 0);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &.is-disabled {
    .side-nav__link {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }
}

.side-nav__link {
  border-bottom: none;
  display: block;
  font-family: $sans-serif;
  padding: 4px;
  text-transform: uppercase;

  &:hover,
  &.is-active {
    background-color: $gray;
  }

  &.is-active {
    font-weight: bold;
  }
}

@include media($med) {
  .side-nav {
    display: block;
  }
}
