// Tags

.tag  {
  display: inline-block;
  background-color: $neutral;
  border-radius: 4px;
  color: $primary;
  margin: 0 2px 2px 0;
  padding: .5rem;
  font-family: $sans-serif;
}

.tag__remove {
  @include u-background-image('../img/i-x--primary');
  padding: 1rem;
}

.data-container__widgets--secondary {
  .tag {
    color: $secondary;
  }

  .tag__remove {
    @include u-background-image('../img/i-x--secondary');
  }
}
