// Grid items that are also links

.tile {
  background-color: $gray-lightest;
  border-top: 1rem solid $primary;
  border-bottom: none;
  display: block;
  padding: 2rem 1.5rem;
  position: relative;
  transition: border-top-color .2s ease-out;

  @include media($med) {
    min-height: 20rem;
  }

  @include media($lg) {
    min-height: 27rem;
  }

  &:hover,
  &:focus {
    border-top-color: $primary-contrast;

    .tile__title h2 {
      border-bottom: 1px dotted $base;
    }
  }
}

.tile__title {
  margin-bottom: 2rem;

  h2 {
    display: inline;
    border-bottom: 1px solid transparent;
  }
}

@include media($lg) {
  .tile__count {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
  }
}
