// Toggles
//
// We use radio buttons for toggles, wrapped in a fieldset with a legend to label them.
// Apply standard button classes to the .button span to style them
// 
// Markup:
// <fieldset class="toggles">
//   <legend class="label">View by:</legend>
//   <label for="toggle-state">
//     <input id="toggle-state" type="radio" name="receipt-aggregate" value="by-state" checked>
//     <span class="button button--primary">State</span>
//   </label>
//   <label for="toggle-contribution-size">
//     <input id="toggle-contribution-size" type="radio" name="receipt-aggregate" value="by-contribution-size">
//     <span class="button button--primary">Contribution Size</span>
//   </label>
//   <label for="toggle-employer">
//     <input id="toggle-employer" type="radio" name="receipt-aggregate" value="by-employer">
//     <span class="button button--primary">Employer</span>
//   </label>
//   <label for="toggle-occupation">
//     <input id="toggle-occupation" type="radio" name="receipt-aggregate" value="by-occupation">
//     <span class="button button--primary">Occupation</span>
//   </label>
// </fieldset>
//
// Styleguide toggles

.toggles {
  @include clearfix();
  margin-bottom: 2rem;

  input[type="radio"] {
    @include u-visually-hidden();
  }

  input:checked {
    & + .button--primary {
      background-color: $navy;
      border: 2px solid $primary-contrast; 
      color: $cream;
    }

    & + .button--secondary {
      background-color: $deep-red;
      border: 2px solid $secondary-contrast; 
      color: $cream;
    }

    & + .button--neutral {
      background-color: $brown;
      border: 2px solid $primary; 
    }
  }

  label {
    margin-top: 0;
    float: left;
  }

  .button {
    border-radius: 0 0 0 0;
    display: block;
    font-weight: normal;
    margin-right: 1px;
  }

  label:first-of-type {
    .button {
      border-radius: 2px 0 0 2px;
    }
  }

  label:last-of-type {
    .button {
      border-radius: 0 2px 2px 0;
      margin-right: 0;
    }
  }
}