//
// Tooltips for maps
//
// .tooltip--above        - When the tooltip is above the content. Puts the arrow at the bottom center of the tooltip
// .tooltip--under        - When the tooltip is under the content. Puts the arrow at the top left of the tooltip
//
// Markup:
// <div class="tooltip">
//  <div class="tooltip__title">Michigan</div>
//  <div class="tooltip__value">$100,000</div>
// </div>
//
// Styleguide components.tooltips

.tooltip {
  border-radius: 4px;
  border: 2px solid $primary;
  background-color: $cream;
  color: $primary;
  font-family: $sans-serif;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
  z-index: $z-tooltip;
}

.tooltip__title {
  border-bottom: 1px solid $primary;
  text-transform: uppercase;
  font-weight: bold;
}

// .tooltip__content      - Use to left align a paragraph of text in a tooltip
.tooltip__content.tooltip__content { // Hack to override any font color styles on the parent element
  color: $primary;
  text-align: left;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0;

  a {
    border-bottom-color: $primary;
    color: $primary;
  }
}

.tooltip--above {
  width: 12rem;

  &::before {
    @include triangle(2rem, $primary, down);
    bottom: -1rem;
    content: '';
    display: block;
    left: 5rem;
    position: absolute;
  }

  &::after {
    @include triangle(1.6rem, $cream, down);
    content: '';
    display: block;
    position: absolute;
    left: 5.2rem;
    bottom: -.7rem;
  }
}

.tooltip--under {
  max-width: 30rem;

  &::before {
    @include triangle(2rem, $primary, up);
    content: '';
    display: block;
    position: absolute;
    left: 4rem;
    top: -1rem;
  }

  &::after {
    @include triangle(1.6rem, $cream, up);
    content: '';
    display: block;
    position: absolute;
    left: 4.2rem;
    top: -.7rem;
  }
}

// Tooltips to learn more
//
// For tooltips on regular DOM elements (rather than on maps) that contain additional info
//
// Markup:
// <div class="tooltip__container">
//   <label class="label tooltip__trigger-text">Select something</label>
//   <button class="tooltip__trigger"><span class="u-visually-hidden">Learn more</span></button>
//   <div class="tooltip tooltip--under">
//     <p class="tooltip__content">Learn more about this thing!</p>
//   </div>
//   <select><option>Select one</option></select>
// </div>
//
// Styleguide components.learn-tooltips

.tooltip__container {
  display: block;

  .tooltip__trigger-text {
    display: inline-block;
  }

  .tooltip {
    display: none;
  }
}

.tooltip__trigger {
  @include u-background-image('i-info--primary--small', 100% 50%);
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  padding-right: 1.5em;
  vertical-align: middle;
  width: 1.5em;

  &:hover + .tooltip,
  &:focus + .tooltip {
    display: block;
  }
}

// Calendar tooltips
.cal-details {
  &::after {
    display: none;
  }

  .tooltip__heading {
    @include clearfix();
    background: $primary;
    color: $cream;

    .button {
      float: right;
    }
  }

  .tooltip__title {
    line-height: 4rem;
    padding-left: 1rem;
    float: left;
  }

  .tooltip__content {
    padding: 1rem;
  }
}
