// Type Styles
//
// For classes that define type styles
// Prefix these styles with t-
//
// Styleguide type-styles

// Display
//
// Large type with top and bottom borders for major page headings. In order to have rules, apply .t-ruled
//
// .t-ruled     - Apply top and bottom rules to the heading
//
// Markup:
// <h2 class="t-display {{modifier_class}}">Some great heading</h2>
//
// Styleguide type-styles.display

.t-display {
  @include heading(display);

  &.t-ruled {
    border-width: 2px;
  }
}

// Display sans
//
// Used for showing large numbers. Sans-serif and no border
//
// Markup:
// <span class="t-display--sans">$2,010</span>
//
// Styleguide type-styles.display-sans

.t-display--sans {
  @include heading(display);
  border: none;
  font-family: $sans-serif;
  margin-bottom: 0;
}

// Ruled Headings
//
// Adds top and bottom borders; color changed by u-font-color
//
// .t-ruled           - 1px top and bottom rule
// .t-ruled--bold     - 2px weight borders
// .t-ruled--bottom   - Only rule on the bottom
// .t-no-rules        - Removes a rule on an item that has one by default
//
// Markup:
// <h2 class="t-ruled {{ modifier_class }}">Another heading</h2>
//
// Styleguide type-styles.ruled-headings

.t-ruled {
  @include clearfix();
  border-bottom: 1px solid $base;
  border-top: 1px solid $base;
  padding: u(1rem 0);
}

.t-ruled--bottom {
  border-bottom: 1px solid $base;
  padding-bottom: u(1rem);
}

.t-ruled--bold {
  border-width: 2px;

  &.h1 {
    border-width: 2px;
  }
}

.t-no-rules {
  border-bottom: none;
  border-top: none;

  &.h1 {
    border-bottom: none;
    border-top: none;
  }
}

// Miscellaneous
//
// .t-note          - Small text for adding a note somewhere
// .t-block         - Force display: block
// .t-inline-block  - Force display: inline-block
// .t-sans          - Force sans serif
// .t-serif         - Force serif
// .t-italic        - Italicize
// .t-bold          - Embolden!
// .t-normal        - Normal weight
// .t-highlight     - Highlight
// .t-upper         - Transform to uppercase
// .t-data-header   - Small header above a big data number
// .t-big-data      - Big number
// .t-secondary-contrast    - Force secondary contrast color
// .t-lead          - Set a bigger size to lead paragraphs
// .t-short         - Used when we want a heading to break onto two lines
// .h1              - Fake h1 style
// .h2              - Fake h2 style
// .h3              - Fake h3 style
// .h4              - Fake h4 style
// .h5              - Fake h5 style
//
// Markup:
// <p class="{{ modifier_class }}">Sample text</p>
//
// Styleguide type-styles.miscellaneous

.t-note {
  display: inline-block;
  font-family: $serif;
  font-weight: normal;
  font-style: italic;
  font-size: u(1.4rem);
}

.t-block {
  display: block;
}

.t-inline-block {
  display: inline-block;
}

.t-sans {
  font-family: $sans-serif;
  letter-spacing: -.3px;
}

.t-serif {
  font-family: $serif;
}

.t-italic {
  font-style: italic;
}

.t-bold {
  font-weight: bold;
}

.t-normal {
  font-weight: normal;
}

.t-hightlight {
  @include t-highlight;
}

.t-upper {
  text-transform: uppercase;
}

.t-data-header {
  display: inline-block;
  font-family: $sans-serif;
  font-weight: bold;
  letter-spacing: -.3px;
  margin-bottom: 0;
}

.t-data {
  font-family: $sans-serif;
  text-transform: uppercase;
  color: $base;
}

.t-big-data {
  display: block;
  color: $base;
  font-family: $sans-serif;
  font-size: u(3.6rem);
  margin-bottom: u(1rem);
}

.t-secondary-contrast.t-secondary-contrast {
  color: $secondary-contrast;
}

.t-lead {
  font-weight: regular;
  font-size: u(1.8rem);
  line-height: u(2.8rem);
}

.t-short {
  @include media($lg) {
    display: block;
    width: 70%;
  }
}

.h1 {
  @include heading(h1);
}

.h2 {
  @include heading(h2);
}

.h3 {
  @include heading(h3);
}

.h4 {
  @include heading(h4);
}

.h5 {
  @include heading(h5);
}

// Modifier styles for text
//
// .t-centered       - Center the text
// .t-right-aligned  - Right-align the text
// .t-left-aligned   - Left-align the text
//
// Markup:
// <p class="{{ modifier_class }}"">Some sample text</p>
//
// Styleguide type-styles.modifiers

.t-centered {
  text-align: center;
}

.t-right-aligned {
  text-align: right;
}

.t-left-aligned {
  text-align: left;
}

// .t-all-data      - Adds an icon to signify a master table
.t-all-data {
  @include u-icon-bg($all-files, $base);
  display: inline-block;
  background-size: 1em;
  background-position: 0 30%;
  padding-left: u(2rem);
}
