// Type Styles
//
// For classes that define type styles
// Prefix these styles with t-
//
// Styleguide components.type-styles

// Display
//
// Large type with top and bottom borders for major page headings. In order to have rules, apply .t-ruled
// 
// .t-ruled     - Apply top and bottom rules to the heading
//
// Markup:
// <h2 class="t-display {{modifier_class}}">Some great heading</h2>
//
// Styleguide components.type-styles.display

.t-display {
  @include heading(display);
  
  &.t-ruled {
    border-width: 2px;
  }
}

// Display sans
//
// Used for showing large numbers. Sans-serif and no border
//
// Markup:
// <span class="t-display--sans">$2,010</span>
//
// Styleguide components.type-styles.display-sans

.t-display--sans {
  @include heading(display);
  border: none;
  font-family: $sans-serif;
  margin-bottom: 0;
}

// Ruled Headings
//
// Adds top and bottom borders; color changed by u-font-color
//
// .t-ruled--bold     - 2px weight borders
//
// Markup:
// <h2 class="t-ruled {{ modifier_class }}">Another heading</h2>
//
// Styleguide components.type-styles.ruled-headings

.t-ruled {
  @include clearfix();
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  padding: 1rem 0;
}

.t-ruled--bold {
  border-width: 2px;

  &.h1 {
    border-width: 2px;
  }
}

.t-ruled--bottom {
  border-bottom: 1px solid $primary;
  padding-bottom: 1rem;
}

.t-no-rules {
  border-bottom: none;
  border-top: none;

  &.h1 {
    border-bottom: none;
    border-top: none;
  }
}

// Miscellaneous

.t-note {
  display: inline-block;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 1.4rem;   
  line-height: 1;
}

.t-block {
  display: block;
}

.t-inline-block {
  display: inline-block;
}

.t-sans {
  font-family: $sans-serif;
}

.t-italic {
  font-style: italic;
}

.t-bold {
  font-weight: bold;
}

.t-upper {
  text-transform: uppercase;
}

.t-data-header {
  display: inline-block;
  font-family: $sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.t-data {
  font-family: $sans-serif;
  text-transform: uppercase;
}

.t-big-data {
  display: block;
  color: $primary;
  font-family: $sans-serif;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

// .t-short: Used when we want a heading to break onto two lines

.t-short {
  @include media($lg) {
    display: block;
    width: 70%;
  }
}

// Modifier styles for text
//
// .is-centered       - Center the text
// .is-right-aligned  - Right-align the text
// .is-left-aligned   - Left-align the text
//
// Markup:
// <p class="{{ modifier_class }}"">Some sample text</p>
//
// Styleguide components.type-styles.modifiers

.is-centered {
  text-align: center;
}

.is-right-aligned {
  text-align: right;
}

.is-left-aligned {
  text-align: left;
}

// Pseudo-Header styles

.h1 {
  @include heading(h1);
}

.h2 {
  @include heading(h2);
}

.h3 {
  @include heading(h3);
}

.h4 {
  @include heading(h4);
}

.h5 {
  @include heading(h5);
}

// Alternate paragraph styles
.p--lead {
  font-weight: regular;
  font-size: 1.8rem;
  line-height: 2.8rem;
}