// Widgets
//
// Large components such as the election lookup on the data landing page
//
// Styleguide component.widgets

.widget {
  padding: 1rem;

  &:nth-child(2) {
    border-top: 1px solid $beige;
    padding-top: 2rem;
  }
}

.widget__title {
  border-bottom: 2px solid;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.widget__content {
  padding: 2rem 0;
}

.widget--neutral {
  @include u-bg--neutral();

  .widget__title {
    border-bottom-color: $primary;
  }
}

@include media($lg) {
  .widget {
    width: 50%;
    float: left;
    padding: 3rem;

    .icon-heading {
      width: 100%;
    }

    .icon-heading__image {
      @include span-columns(1 of 6);
    }

    .icon-heading__title {
      @include span-columns(5 of 6);
    }

    &:nth-child(2) {
      border-left: 1px solid $beige;
      border-top: none;
    }    
  }

  .widget:nth-child(2) {
    padding-top: 3rem;
  }

  .widget__content {
    padding: 3rem 0 0 0;
  }
}