// Widgets
//
// Large components such as the election lookup on the data landing page
//
// Styleguide component.widgets

.widget {
  padding: u(1rem);

  &:nth-child(2) {
    border-top: 1px solid $gray;
    padding-top: u(2rem);
  }
}

.widget__title {
  border-bottom: 2px solid;
  margin-bottom: 0;
  padding-bottom: u(1rem);
}

.widget__content {
  padding: u(2rem 0);
}

.widget--neutral {
  @include u-bg--neutral();

  .widget__title {
    border-bottom-color: $primary;
  }
}

@include media($lg) {
  .widget {
    width: 50%;
    float: left;
    padding: u(3rem);
  }

  .widget:nth-child(2) {
    border-top: none;
    padding-top: u(3rem);
  }

  .widget__content {
    padding: u(3rem 0 0 0);
  }
}
