// Data Container module
//
// The body area that goes with the filter panels
// Contains a widget area for tags and export controls
// And a body area for the datatable or calendar

.data-container {
  @include clearfix();
  border-top: 2px solid $neutral;
  position: relative;
  width: 100%;
  padding-top: 2rem;
}

.is-showing-filters {
  padding-top: 0;
}

.data-container__widgets {
  @include clearfix();
  color: $inverse;
  background-color: $primary;
  font-family: $sans-serif;
  padding: 5rem 2rem 2rem 2rem;
}

.data-container__widgets--secondary {
  background-color: $secondary;
}

.data-container__body {
  padding: 0 1rem;

  &.fade-in {
    opacity: 0;
  }
}

.data-container__tags {
  @include clearfix();
}

.data-container__export {
  margin-top: 1rem;
}

.export-widget {
  @include span-columns(6);
}

// BREAKPOINT: LARGE
// Data-container shrinks and floats

@include media($lg) {
  .data-container {
    float: left;
    padding: 0;
  }

  .is-showing-filters {
    .data-container {
      width: calc(100% - 30rem);
    }
  }

  .data-container__body {
    border-top: 0;
    padding: 0 2rem 2rem 2rem;
  }

  .data-container__export {
    @include span-columns(4);
    float: right;
    margin-top: 1rem;
    text-align: right;
  }

  .data-container__tags {
    @include span-columns(8);
    margin-top: 3rem;
  }

  .export-widget {
    clear: right;
    float: right;
    margin: 0 0 1rem 0;
    width: 100%;

    &:last-of-type {
      margin: 0;
    }

    .dropdown ,
    .button {
      float: right;
      width: 100%;
    }
  }

}
