// Datatable Panel
// 
// Styleguide modules.datatable-panel

.panel__main {
  @include transform(translate3D(0%, 0, 0));
  @include transition-property(transform);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in);
  clear: both;
  position: relative;
  overflow: hidden;
  width: 200%;

  .data-table {
    width: 50% !important;
  }
}

.panel__overlay {
  @include transition(opacity .2s);
  background-color: $cream;
  display: block !important; // Overriding default [aria-hidden=true] styling
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  opacity: 0;
}

// Open panel
.panel-active {
  .dataTables_wrapper {
    height: auto;
    overflow: hidden;
    position: relative;
  }

  .panel__overlay {
    min-height: 70vh;
    opacity: 1;
  }

  .panel__main {
    @include transform(translate3D(-50%, 0, 0));
    height: 100vh;
    overflow: hidden;
  }    
}

.panel {
  font-family: $sans-serif;
  padding: 1rem;
}

.panel__row {
  margin-top: 3px;
  padding: .65rem 1.5rem;
}

// BREAKPOINT: MEDIUM
// Panel slides next to the table

@include media($med) {
  .panel__main {
    @include transform(translateX(0));
    height: 100%;
    width: 100%;

    .data-table {
      width: 100% !important;
    }
  }

  .panel__overlay {
    background-color: rgba($ivory, .3);
    border-left: 1px solid $ivory;
    min-height: 70vh;
    height: 100%;
    width: 50%;
    left: 100%;

    &[aria-hidden="false"] {
      left: 50%;
    }
  }

  .panel {
    padding: 0;
  }

  .panel-active {
    .panel__main {
      @include transform(translateX(0%));
      width: 100%;
      min-height: 70vh;
      height: auto;
      overflow: visible;
    }  

    .data-table {
      @include transform(translateX(0));
      width: 50% !important;
    }

    .dataTables_wrapper {
      overflow: visible;
    }
  }

  .panel__row {
    border-bottom: 1px solid $neutral;
    padding: 10px 18px;
    margin-top: 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

// Specifying in order to override datatable styles

.data-table .panel__row {
  table {
    border: 0;
  }

  tr {
    background-color: transparent;
    border-bottom: none;
  }

  td {
    border-bottom: 0;
    padding: .3rem 0;
    white-space: pre-wrap;
    overflow: visible;

    &:first-child {
      font-weight: bold;
    }
  }
}

#datatable-modal .panel .panel__row {
  // TODO This selector is overly specific because of a very specific selector in the tables.scss
  // file which has to be refactored.
  @include media($med) {
    td {
      padding-left: 0 !important;
    }
  }
}

// Panel Navigation
// 
// The top bar of the panel
// 
// .panel__link   - Link to source page or document. Floats to the left on desktop and to the right on mobile 
// .panel__close  - Closes the panel. Shows up as a back arrow on the left on mobile and an x on the right on desktop

.panel__navigation {
  @include clearfix();
  border-bottom: 1px solid $ivory;
  text-align: right;
  padding: 0;

  @include media($med) {
    padding: .6rem 2rem .6rem 2rem;
    text-align: left;
  }
}

.panel__link {
  float: right;

  @include media($med) {
    float: left;
  }
}

.panel__close {
  background-image: url('../img/i-left-2--primary.png');
  background-image: url('../img/i-left-2--primary.svg');  
  background-position: 1rem;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  padding-left: 3rem;

  &:after {
    content: "View all";
  }

  @include media($med) {
    background-image: url('../img/i-x--primary.png');
    background-image: url('../img/i-x--primary.svg');
    float: right;

    &:after {
      content: "Close";
    }

    &:focus {
      background-image: url('../img/i-x--primary-contrast.png');
      background-image: url('../img/i-x--primary-contrast.svg');
    }

  }
}