// Datatables
//
// .is-showing-filters    - Class applied to body when the filters are open, causing the datatable to shrink slightly
//
// Styleguide modules.datatables

// Wraps the datatable on browse pages

.datatable__container {
  @include clearfix();
  width: 100%;

  @include media($lg) {
    @include transition(width .5s);
    border-top: 0;
    padding: 2rem 2rem 2rem 5rem;
  }
}

.is-showing-filters {
  .datatable__container {

  }

  @include media($lg) {
    .datatable__container {
      // width: 76%;
      // float: left;
      display: table-cell;
    }
  }
}

.data-table {
  font-family: $sans-serif;
  position: relative;
  border-top: 2px solid $primary;
  
  th {
    padding: 2rem 0 .5rem 0;
    border-bottom: 1px solid $primary;

    &:focus {
      outline: none;
      border: 2px solid $primary-contrast;
    }
  }

  tr {
    @include transition(border-left-width, .2s);
    border-left-width: 0;
    background-color: $cream;
    cursor: pointer;
    border-bottom: 1px solid $neutral;

    &:focus {
      outline: none;

      td {
        background-color: rgba($ivory, .3);
      }
    }

    &.row-active {
      td {
        background-color: rgba($ivory, .3);
        border-top: 1px solid $ivory;
        border-bottom: 1px solid $ivory;
      }

      td:first-child {
        padding-left: 1rem;
        border-left: 1px solid $ivory;
      }
    }
  }

  td {
    @include transition(padding-left, .2s);
    @include u-truncate();
    padding: 1rem 0;
  }

  .sorting,
  .sorting_asc,
  .sorting_desc {
    background-position: 0 2.5rem;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 1rem;
  }

  .value-bar {
    height: 5px;
    background-color: $primary;
  }
}

// Sortable headers
.sorting {
  background-image: url('../img/i-sort--neutral.png');
  background-image: url('../img/i-sort--neutral.svg');
}

.sorting_asc {
  background-image: url('../img/i-sort-up--neutral.png');
  background-image: url('../img/i-sort-up--neutral.svg');
}

.sorting_desc {
  background-image: url('../img/i-sort-down--neutral.png');
  background-image: url('../img/i-sort-down--neutral.svg');
}