// Datatables
//
// .is-showing-filters    - Class applied to body when the filters are open, causing the datatable to shrink slightly
//
// Styleguide modules.datatables

// Wraps the datatable on browse pages

.dataTables_wrapper {
  overflow-x: scroll;
  position: relative;
}

.dataTables_wrapper--panel {
  overflow-x: hidden;
}

.data-table {
  @include transform(translateX(0%));
  @include transition-property(transform);
  @include transition-duration(.5s);
  height: 100%;
  font-family: $sans-serif;
  position: relative;

  th {
    padding: .5rem 1rem;
    border-bottom: 1px solid $primary;
  }

  tr {
    border-left-width: 0;
    background-color: $inverse;
    border-bottom: 1px solid $neutral;

    &.row-active {
      border-left: .5rem solid $primary;
    }
  }

  td {
    @include transition(padding-left, .2s);
    @include u-truncate();
    padding: 1rem;
  }

  .sorting,
  .sorting_asc,
  .sorting_desc {
    background-position: 0 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 1rem;
  }

  .sorting_disabled {
    cursor: default;
  }

  .value-bar {
    margin-top: .5rem;
    height: .5rem;
  }

  @include media($lg) {
    th,
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  // Special styles for tables that use `offsetX: true`
  &.scrollX {
    border-collapse: separate;
    table-layout: auto;
  }
}

// Special styles for rows that trigger panels
.row--has-panel {
    @include transition(border-left-width, .2s);
    cursor: pointer;
}

.row-active {

  td {
    background-color: rgba($gray-lightest, .3);
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;
  }

  td:first-child {
    padding-left: 1rem;
    border-left: 1px solid $gray-lightest;
  }
}

// Sortable headers
.sorting {
  background-image: url('../img/i-sort--neutral.png');
  background-image: url('../img/i-sort--neutral.svg');
}

.sorting_asc {
  background-image: url('../img/i-sort-up--neutral.png');
  background-image: url('../img/i-sort-up--neutral.svg');
}

.sorting_desc {
  background-image: url('../img/i-sort-down--neutral.png');
  background-image: url('../img/i-sort-down--neutral.svg');
}

// Miscellaneous classes
//
// .is-incumbent      - If used, applied to candidate that currently holds the office in election tables

.is-incumbent {
  margin-left: 1.5rem;
  position: relative;

  &::before {
    background-color: $primary;
    border-radius: 1rem;
    content: '';
    display: block;
    height: 1rem;
    left: -1.5rem;
    margin-top: -.5rem;
    position: absolute;
    top: 50%;
    width: 1rem;
  }
}

// For wrapping long table cells instead of truncating
.data-table--wrapped {
  td {
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: visible;
  }
}

// Scrolling tables
.dataTables_scroll {
  position: relative;
}

.dataTables_scrollBody {

  .data-table {
    position: static;
  }
}

// Notes
.datatable__note {
  padding: 1rem 0;

  @include media($med) {
    @include span-columns(9);
  }
}
