// Data Container module
//
// The body area that goes with the filter panels
// Contains a widget area for tags and export controls
// And a body area for the datatable or calendar

.data-container {
  @include clearfix();
  border-top: 2px solid $neutral;
  position: relative;
  width: 100%;
  padding-top: u(2rem);
}

.is-showing-filters {
  padding-top: 0;
}

.data-container__widgets {
  @include clearfix();
  color: $inverse;
  background-color: $primary;
  border-top: 1px solid $inverse;
  font-family: $sans-serif;
  padding: u(2rem);
}

.data-container__widgets--secondary {
  background-color: $secondary;
}

.data-container__body {
  padding: u(0 1rem);

  &.fade-in {
    opacity: 0;
  }
}

.data-container__tags {
  @include clearfix();
}

.data-container__export {
  margin-top: u(1rem);
}

.export-widget {
  @include span-columns(6);
}

.panel__controls {
  @include clearfix();
  clear: both;
  padding-top: u(.5rem);
}


// BREAKPOINT: LARGE
// Data-container shrinks and floats

@include media($lg) {
  .data-container {
    padding: 0;
  }

  .is-showing-filters {
    .data-container {
      width: calc(100% - 30rem);
      display: table-cell;
    }
  }

  .data-container__body {
    border-top: 0;
    padding: u(0 2rem 2rem 2rem);
  }

  .data-container__widgets {
    padding: u(1rem 2rem);
  }

  .data-container__export {
    @include span-columns(4);
    float: right;
    margin-top: 0;
    text-align: right;
  }

  .data-container__tags {
    @include span-columns(8);
  }

  .export-widget {
    float: left;
    margin-right: u(1rem);
    width: calc(50% - .5rem);

    &:last-of-type {
      margin: 0;
    }

    .dropdown ,
    .button {
      float: right;
      width: 100%;
    }
  }

}
