// Entity headers
//
// Styleguide modules.entity-header

.entity__header {
  padding: 3rem 0;

  @include media($med) {
    .entity__term {
      max-width: 200px;
    }
  }
}

.entity__header--map {
  position: relative;

  .map {
    height: 30rem;
    width: 100%;

    a {
      color: $primary;
    }
  }
  
  @include media($med) {
    height: 30rem;
    
    .entity__header--info {
      width: 50%;
    }

    .map {
      position: absolute;
      width: 50%;
      height: 34rem;
      top: 0;
      bottom: 0;
      right: 0; 
    }
  }
}

.entity__header__top {
  border-bottom: 2px solid;
  padding-bottom: .5rem;
}

.entity__name {
  border-bottom: none;
  font-weight: bold;
  margin-bottom: 0;
}

.entity__type {
  display: inline-block;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid;
}


.entity__info {
  @include clearfix(); 
  font-family: $sans-serif;
  padding-top: 1rem;
  width: 100%;

  @include media($med) {
    display: table;
    max-width: 100%;
    padding-top: 2rem;
    width: auto;
  }
}

.entity__term {
  @include clearfix();
  width: 100%;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
  
  @include media($med) {
    display: table-cell;
    width: auto;
    margin-bottom: 0;
    padding-right: 3rem;
  }
}

.entity__term--aligned {
  @include media($med) {
    vertical-align: top;
  }
}

.entity__term--icon {
  min-width: 3rem;
  width: 3rem;
  text-align: center;
}

.entity__term__label {
  @include span-columns(6);
  font-weight: bold;

  @include media($med) {
    float: none;
    width: 100%;
    margin: 0;
  }
}

.entity__term__data {
  @include span-columns(6);

  @include media($med) {
    float: none;
    width: 100%;
    margin: 0;
  }
}

// Color rules

.entity__header--neutral {
  @include u-bg--neutral();

  .entity__header__top,
  .entity__type  {
    border-color: $primary;
  }
}

.entity__header--primary {
  @include u-bg--primary();
  border-top: 1px solid $primary-contrast;

  .entity__header__top,
  .entity__type {
    border-color: $primary-contrast;
  }
}