// Feedback module

.feedback {
  background-color: $base;
  bottom: .5rem;
  color: $inverse;
  display: block;
  left: .5rem;
  overflow-y: scroll;
  padding: 2rem .5rem;
  position: fixed;
  right: .5rem;
  top: .5rem;
  z-index: $z-feedback;

  legend {
    color: $inverse;
  }

  textarea {
    height: 7rem;
    margin-bottom: 2rem;
    border-color: $inverse;

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }

  a {
    border-color: $inverse;
  }

  .label {
    &:first-of-type {
      margin-top: 2rem;
    }
  }

  .feedback__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  @include media($lg) {
    @include transition(top .5s);
    height: 95vh;
    left: auto;
    overflow: auto;
    padding: 3rem 3rem 0 3rem;
    right: 4rem;
    top: 5vh;
    width: 52rem;

    &[aria-hidden='true'] {
      display: block !important;
      top: 100%;
    }
  }
}

.feedback__title {
  @include heading(h2);
  margin-bottom: .5rem;
}

.feedback__toggle {
  bottom: 0;
  border-radius: 2px 2px 0 0;
  position: fixed;
  right: 4rem;
  z-index: $z-feedback;
}

.feedback__button {
  margin-top: 1rem;
}
