// Filters Panel
//
// Markup:
// <section class="layout--browse">
// <div class="filters is-open">
//   <button class="filters__toggle">
//     <span class="filters__toggle__text">Show filters</span>
//   </button>
//   <div class="filters__hider">
//     <h4 class="filter__header">Filters</h4>
//     <div class="filter">
//      Some filter
//     </div>
//     <div class="filter">
//      Some filter
//     </div>
//   </div>
//  </div>
// </section>
//
// Styleguide modules.filters

.filters {
  @include clearfix();
  @include transition(margin-left .2s);  
  @include u-bg--neutral();
  bottom: 0;
  height: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;

  // Styles for when the filters are open
  &.is-open {
    position: relative;
    left: 0;
    height: auto;
    margin-left: 0%;
    
    .filters__hider {
      height: auto;
      overflow: visible;
    }

    .filters__toggle {
      @include u-background-image('i-up-2--primary', 1rem 50%);
    }
  }

  @include media($lg) {
    float: left;
    margin-left: -30rem;
    padding: 2rem;
    position: relative;
    width: 30rem;
    vertical-align: top;

    &.is-open {
      float: left;

      .filters__toggle {
        @include u-background-image('i-left-2--primary', 1rem 50%);    
      }
    }
  }
}

.filters__hider {
  height: 0;
  overflow: hidden;

  @include media($lg) {
    overflow: visible;
  }
}


.filters__toggle {
  @include transform(translateX(-50%));
  @include transition(width, .1s);
  @include u-background-image('i-down-2--primary', 1rem 50%);
  background-color: $neutral;
  border: 2px solid transparent;
  left: 50%;
  position: absolute;
  z-index: $z4;
  top: 100%;
  height: 4rem;
  padding: 1rem 1rem 1rem 3rem;

  &:focus {
    outline: none;
    border-color: $primary;
  }

  @include media($lg) {
    @include transform(translateX(0));
    @include transition(width, .1s);
    @include u-background-image('i-right-2--primary', 1rem 50%);
    left: 100%;
    top: 0;
    width: 3rem;
    overflow: hidden;

    &:hover, &:focus {
      width: 13rem;

      .filters__toggle__text {
        display: block;
        margin-left: 0;
        width: 8rem;
      }
    }
  }
} 

.filters__toggle__text {
  font-size: 1.4rem;
  white-space: nowrap;

  @include media($lg) {
    display: block;
    margin-left: 2rem; // Hides it out of the box
  }
}

.filters__subheader {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 2px solid $primary;

  & + .filter {
    padding-top: 0;
  }
}

.filter {
  border-bottom: 1px solid darken($neutral, 10%);
  padding: 2rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .tt-dropdown-menu {
    font-size: 1.2rem;
    width: 100%;
  }
}

// Horizontal layout 

.filters--horizontal {
  background-color: $neutral;
  margin-bottom: 2rem;
  padding: 2rem;

  @include media($lg) {
    form {
      @include display(flex);
      @include justify-content(flex-start);
    }

    .filter {
      border-bottom: none;
      border-top: none;
      border-right: 1px solid $cream;
      margin-right: 0;
      padding: 0 1rem;
      width: 100%;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

// BREAKPOINT: MEDIUM 
// Use flexbox to get the filters into rows of equal height

@include media($med) {
  .filters {
    form {
      @include display(flex);
      @include justify-content(flex-start);    
      @include flex-wrap(wrap);
    }
  }

  .filter {
    border-bottom: none;
    border-right: 1px solid darken($neutral, 10%);
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    width: 33.3333%;

    &:nth-child(3n) {
      border-right: none;
    }
  }
}

// BREAKPOINT: LARGE
// Stack filters vertically

@include media($lg) {
  .filters {
    form {
      display: block;
    }
  }

  .filter {
    border-bottom: 1px solid darken($neutral, 10%);
    border-right: none;
    margin-bottom: 0;
    padding: 2rem 0;
    width: 100%;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}