// Filters Panel
//
// Markup:
// <section class="layout--browse">
// <div class="filters is-open">
//   <button class="filters__toggle">
//     <span class="filters__toggle__text">Show filters</span>
//   </button>
//   <div class="filters__hider">
//     <h4 class="filter__header">Filters</h4>
//     <div class="filter">
//      Some filter
//     </div>
//     <div class="filter">
//      Some filter
//     </div>
//   </div>
//  </div>
// </section>
//
// Styleguide modules.filters

.filters {
  @include clearfix();
  @include u-bg--neutral();
  bottom: 0;
  height: 0;
  top: 0;
  width: 100%;

  // Styles for when the filters are open
  &.is-open {
    position: relative;
    left: 0;
    height: auto;
    padding: u(1rem 0);

    .filters__hider {
      height: auto;
      overflow: visible;
    }
  }

  .accordion__button {
    padding-left: u(2rem);
    padding-right: u(5rem);
  }

  .accordion__content {
    padding: u(2rem 2rem 1rem 2rem);
  }

  .toggles {
    margin: u(1rem 0);
  }
}

.filters--fixed {
  margin-right: u(2rem);
}

.filters__hider {
  height: 0;
  overflow: hidden;
}

.filters__toggle {
  background-color: $primary;
  border: 1px solid $primary-contrast;
  border-radius: 3px;
  font-size: u(1.4rem);
  color: $primary-contrast;
  padding: u(.5rem);
  float: left;
  margin-right: u(1rem);

  &[aria-hidden="false"] {
    display: block;
  }
}

.filters__close {
  position: absolute;
  top: 0;
  right: 0;
}

.filters__clear {
  @include u-icon-bg($x, $primary-contrast);
  background-size: u(1.4rem);
  background-position: 95% 50%;
  padding-right: u(2.5rem);
}

.filter__header {
  margin-bottom: u(1rem);

  @include media($lg) {
    margin-bottom: u(1.5rem);
  }
}

.filters__subheader {
  border-top: 2px solid $primary;
  display: block;
  font-family: $sans-serif;
  font-size: u(1.8rem);
  font-weight: bold;
  margin: u(3rem 0 1rem 0);
  padding: u(2rem 0 0 0);
  text-transform: uppercase;
  width: 100%;

  & + .filter {
    padding-top: 0;
  }
}

.filters__inner {
  padding: u(1rem 2rem);
}

.filters__message-container {
  padding: u(0 2rem 2rem 2rem);

  .message {
    margin: 0;
  }
}

.filter {
  border-bottom: 1px solid darken($neutral, 10%);
  margin-top: u(1.5rem);
  padding-bottom: u(.5rem);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .twitter-typeahead {
    height: auto;
  }

  label {
    line-height: 1;
  }

  [type="text"],
  select,
  .dropdown__button {
    margin-bottom: u(1rem);
  }
}

.filter__instructions {
  display: block;
  font-family: $sans-serif;
  font-size: u(1.2rem);
  line-height: 1;
  padding: u(.5rem);
}

.filter__message {
  font-family: $sans-serif;
  font-size: u(1.4rem);
}

.filter__message--success {
  color: $green-dark;
}

// Horizontal layout

.filters--horizontal {
  background-color: $neutral;
  margin-bottom: u(2rem);
  padding: u(2rem);
}

// BREAKPOINT: MEDIUM
// Use flexbox to get the filters into rows of equal height

@include media($med) {
  // .filters {
  //   form {
  //     @include display(flex);
  //     @include justify-content(flex-start);
  //     @include flex-wrap(wrap);
  //   }
  // }

  // .filter {
  //   border-bottom: none;
  //   border-right: 1px solid darken($neutral, 10%);
  //   margin-bottom: 2rem;
  //   padding: 1rem 2rem;
  //   width: 33.3333%;

  //   &:nth-child(3n) {
  //     border-right: none;
  //   }
  // }

  .filter {
    max-width: 50%;
  }
}

// BREAKPOINT: LARGE
// Stack filters vertically

@include media($lg) {
  .filters {
    display: table-cell;
    left: u(-30rem);
    padding: u(2rem 0);
    position: relative;
    width: u(30rem);
    vertical-align: top;

    form {
      display: block;
    }

    &[aria-hidden="true"] {
      padding: 0;
    }
  }

  .filters__hider {
    overflow: visible;
  }

  .filter {
    border-bottom: 1px solid darken($neutral, 10%);
    border-right: none;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .filters--horizontal {
    form {
      @include display(flex);
      @include justify-content(flex-start);
    }

    .filter {
      border-bottom: none;
      border-top: none;
      border-right: 1px solid $inverse;
      margin-right: 0;
      padding: u(0 1rem);
      width: 100%;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}
