// Site Footer
//
// Markup:
// <footer class="footer">
//   <div class="container">
//     <div class="seal">
//       <img class="seal__img" src="img/seal--reversed@2x.png" alt="Seal of the Federal Election Commission">
//     </div>
//     <div class="address">
//       <p class="address__title">Federal Election Commission</p>
//       <p>999 E Street, NW, Washington, DC 20463</p>
//       <p>(800) 424-9530</p>
//       <p><a href="mailto:info@FEC.gov">info@FEC.gov</a></p>
//     </div>
//   </div>
// </footer>
//
// Styleguide modules.footer

.footer-links {
  background-color: $navy;
  color: $inverse;
  font-family: $sans-serif;
  padding: u(1rem 0);

  a {
    border-bottom-color: $inverse;
    color: $inverse;
  }

  .footer-links__column li {
    font-size: u(1.8rem);
  }

  @include media($med) {
    .footer-links__column {
      @include span-columns(6);
      float: right;

      ul {
        @include span-columns(3 of 6);
        padding: u(1rem 0);
        display: block;
      }

      li {
        font-size: u(1.6rem);
        padding: u(.5rem 0);
      }
    }
  }
}

.footer {
  @include u-bg--primary();
  @include u-font-color($neutral);
  padding: u(5rem 0);

  .address__title {
    font-size: u(2.2rem);
    font-weight: bold;
  }

  .social-media {
    margin-bottom: u(2rem);

    .icon--twitter {
      @include u-icon($twitter-circle, $inverse, 3rem, 3rem, contain);
    }

    .icon--youtube {
      @include u-icon($youtube-circle, $inverse, 3rem, 3rem, contain);
    }

    li {
      margin-right: u(1.5rem);
      display: inline-block;
    }

    a {
      width: inherit;
      height: inherit;
      border: none;
      display: block;
    }
  }

  @include media($med) {
    .seal {
      @include span-columns(9);
    }

    .address {
      @include span-columns(3);
    }
  }
}

.seal__img {
  max-width: 140px;
  height: auto;
  margin-bottom: u(2.5rem);
}

// Beta content disclaimer on CMS pages
.footer-disclaimer {
  border-top: 1px solid $base;

  p {
    font-family: $sans-serif;
    font-size: u(1.4rem);
    letter-spacing: -.3px;
    color: $base;
  }
}
