// Glossary
//
// Styleguide modules.glossary

.glossary {
  @include transition(right, .3s);
  background-color: $base;
  /*border-left: 4px solid $primary-contrast;*/
  bottom: 0;
  max-width: 30rem;
  overflow-y: scroll;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 75%;
  z-index: $z-glossary;

  &[aria-hidden='true'] {
    display: block !important;
    right: -100%;
  }

  &[aria-hidden='false'] {
    @include transition(right, .3s);
    right: 0;
  }

  .button--close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.glossary__content {
  padding: 4rem 0;
}

.glossary__definition {
  font-family: $sans-serif;
}

// Term classes
//
// Wrap glossary terms with these classes
//
// .term          - Standard class -- adds the book icon
// .term--p       - Used when the term is in a body paragaraph of text, reduces padding and adds margin

.term {
  @include u-background-image('i-term--primary', 100% 50%);
  @include transition(background-color, .2s, box-shadow, .2s, color, .2s);
  background-color: transparent;
  box-shadow: 0 0 0 4px transparent;
  border-bottom: none;
  cursor: pointer;
  margin-right: 2px;
  padding-right: .9em;
  color: $white;

  &:focus,
  &:hover {
    @include u-background-image('i-term--secondary', 100% 50%);
    box-shadow: 0 0 0 4px rgba($white, .7);
    background-color: rgba($white, .7);
    color: $white;
  }
}

.term--p {
  margin-right: .5rem;
  box-shadow: none;
}
