// Hero
//
// <div class="kss-description">
//  <p>Hero units are special solid-colored slabs that have a thin image slice at the top. They are used on landing pages for top-level sections.</p>
// </div>
// <div class="kss-modifier__wrapper">
//   <div class="kss-modifier__heading kss-style"
//          Examples        
//          <button class="js-toggle-markup markup-toggle">Show markup</button>
//   </div>
//   <div class="kss-modifier__name kss-style">
//     <pre>.hero--primary</pre>
//   </div>
//   <div class="kss-modifier__description kss-style">
//   Hero panel for the campaign finance data section.
//   </div>
//   <div class="kss-modifier__example clearfix">
//      <section class="hero hero--primary hero--data">
//        <div class="hero__image"></div> 
//        <div class="container">
//          <h1 id="hero-heading" class="hero__title">Campaign finance data</h1>
//          <p class="hero__content">See how candidates and committees raise and spend money in federal elections. This financial data helps voters make informed decisions.</p>
//        </div>
//      </section>
//   </div>
//   <div class="kss-modifier__name kss-style">
//     <pre>.hero--primary</pre>
//   </div>
//   <div class="kss-modifier__description kss-style">
//   Hero panel for the legal resources section.
//   </div>
//   <div class="kss-modifier__example clearfix">
//      <section class="hero hero--primary hero--legal">
//        <div class="hero__image"></div> 
//        <div class="container">
//          <h1 id="hero-heading" class="hero__title">Legal resources</h1>
//          <p class="hero__content">Explore relevant statutes, regulations, Commission actions and court cases. Making these resources public clarifies campaign finance legal requirements.</p>
//        </div>
//      </section>
//   </div>
//   <div class="kss-modifier__name kss-style">
//     <pre>.hero--secondary</pre>
//   </div>
//   <div class="kss-modifier__description kss-style">
//   Hero panel for the registration and reporting section.
//   </div>
//   <div class="kss-modifier__example clearfix">
//      <section class="hero hero--secondary hero--registration">
//        <div class="hero__image"></div> 
//        <div class="container">
//          <h1 id="hero-heading" class="hero__title">Registration and reporting</h1>
//          <p class="hero__content">Federal candidates and political committees must register with the FEC when they reach certain thresholds. Once registered, they file regular reports about their financial activity. Learn more about these groups and the requirements that apply to them.</p>
//        </div>
//      </section>
//   </div>
//   <div class="kss-modifier__name kss-style">
//     <pre>.hero--secondary</pre>
//   </div>
//   <div class="kss-modifier__description kss-style">
//   Hero panel for the press section.
//   </div>
//   <div class="kss-modifier__example clearfix">
//      <section class="hero hero--secondary hero--press">
//        <div class="hero__image"></div> 
//        <div class="container">
//          <h1 id="hero-heading" class="hero__title">Press</h1>
//          <p class="hero__content">The Press Office educates reporters about Commission actions and campaign finance activity, law and regulations. The Office keeps the public up-to-date on Commission activities through press releases and a Weekly Digest.</p>
//        </div>
//      </section>
//   </div>
// </div>
//
// Styleguide modules.hero

.hero {
  padding-bottom: u(2rem);
  text-align: left;
}

.hero--primary {
  @include u-bg--primary();
  @include u-font-color($gray-lightest);
}

.hero--secondary {
  @include u-bg--secondary();
  @include u-font-color($gray-lightest);

  .hero__action {
    color: $secondary-contrast;
  }
}

.hero__image {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  height: u(3rem);
  width: 100%;
}

.hero__title {
  margin: u(2rem) 0 0 0;
}

.hero--data {
  .hero__image {
    background-image: url('../img/hero-data.jpg');
  }
}

.hero--registration {
  .hero__image {
    background-image: url('../img/hero-registration.jpg');
  }
}

.hero--legal {
  .hero__image {
    background-image: url('../img/hero-legal.jpg');
  }
}

.hero--press {
  .hero__image {
    background-image: url('../img/hero-press.jpg');
  }
}

.hero__content {
  padding-top: u(1rem);

  @include media($lg) {
    @include span-columns(8);
  }
}

.hero--home {
  @include u-bg--neutral();
  padding: 0;

  .hero__content {
    @include span-columns(8);
    @include shift(2);
    padding: u(2rem 0);
    text-align: center;
  }
}

.hero__banner {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: u(32rem);
  position: relative;
  text-align: center;

  .hero__title {
    border-bottom: 2px solid $primary;
  }

  .hero__subtitle {
    padding: u(2rem 0);
  }

  .hero__heading {
    padding-top: u(4rem);
  }

  .photo-credit {
    background: rgba($gray-lightest, .6);
    font-size: u(1rem);
    font-family: $sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: u(.5rem);
  }

  @include media($lg) {
    .hero__heading {
      @include span-columns(6);
      @include shift(3);
    }
  }
}

.hero__banner--monument {
  background-image: url('../img/monument.jpg');
}

.hero__banner--office {
  display: none;

  @include media($med) {
    display: block;
    background-image: url('../img/fec-office.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: u(20rem);
  }

  @include media($lg) {
    background-size: cover;
    height: u(28rem);
  }
}

@media print {
  .hero--primary,
  .hero--secondary {
    @include u-font-color($base);
    background: $inverse;
    border-bottom: 1px solid $base;
  }

  .hero__image {
    display: none;
  }
}
