//This is homepage specific styles

// Campaign Finance Data Homepage Styles
.slab.slab--primary .blue {
  color: $primary-contrast;
  border-bottom: 1px dotted $gray-dark;

  &:active,
  &:hover {
    border-bottom-color: $inverse;
  }
}

.grid__item.horizontal-bar {
  border-top: 1px solid $gray-medium;
  padding-top: 33px;
}

.home-data-search .combo__button.button--search {
	@include u-icon-bg($magnifying-glass, $gray-dark);
	background-color: $gray;
	border: 2px solid $gray;
	width: 4rem;
} 

.home-data-search .combo--search select {
  @include u-icon-bg($arrow-down, $federal-blue);
  border: 2px solid $gray;
  color: $federal-blue;
  font-weight: bold;
  background-color: $gray-lightest;
  width: 16rem;

  &:hover:not(.is-disabled):not([disabled]) {
    border-color: $inverse;
    background-color: $neutral;
  }

  &:active:not(.is-disabled):not([disabled]),
  &:focus,
  &.is-active {
    background-color: $neutral;
    border-color: $inverse;
    color: $federal-blue;
  }

  &:focus {
    color: $federal-blue;
  }

  option {
    background-color: $neutral;
    color: $federal-blue;
    padding: u(.5rem);
  }
}

.home-data-search .js-search-input {
	border: 2px solid $gray;
	color: $federal-blue;
	background-color: $gray-light;
	width: calc(100% - 20rem);
}
