//This is homepage specific styles

// Campaign Finance Data Homepage Styles
.slab.slab--primary .blue {
  color: $primary-contrast;
  border-bottom: 1px dotted $gray-dark;

  &:active,
  &:hover {
    border-bottom-color: $inverse;
  }
}

.grid__item.horizontal-bar {
  border-top: 1px solid $gray-medium;
  padding-top: 33px;
}

.combo--search .button--search {
	@include u-icon-bg($info-person, $secondary-contrast);
}
