// Navigation
//
// Primary site navigation
//
// Markup:
// <nav class="site-nav">
//   <button class="site-nav__button site-nav__button--left">Glossary</button>
//   <ul class="site-nav__list">
//     <li class="site-nav__item">
//       <a href="#" class="site-nav__link is-current">Campaign Finance Data</a>
//     </li>
//     <li class="site-nav__item">
//       <a href="#" class="site-nav__link">Reporting &amp; Registration</a>
//     </li>
//     <li class="site-nav__item">
//       <a href="#" class="site-nav__link is-disabled">TBD</a>
//     </li>
//   </ul>
//   <button class="site-nav__button site-nav__button--right">Glossary</button>
// </nav>
//
// Styleguide modules.navigation

.site-nav {
  @include clearfix();
  position: relative;
}

.site-nav__list {
  display: none;
  background-color: $neutral;
  position: absolute;
  left: 0;
  top: 6rem;

  @include media($med) {
    @include clearfix();
    background: none;
    display: block;
    float: left;
    position: relative;
    top: 0;
  }
}

.site-nav__item {
  border-bottom: 1px solid $beige;
  position: relative;

  &:hover,
  &:focus {
    background-color: $ivory;

    & > .site-nav__dropdown {
      display: block;
    }
  }

  @include media($med) {
    float: left;
    border-bottom: none;
  }
}

.site-nav__link {
  @include transition(background-color, .1s);
  border-bottom: .5rem solid transparent;
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 2rem 2rem 1.5rem 2rem;

  &:hover,
  &:focus
  &:active {
    border-bottom-color: transparent;
    background-color: $ivory;
  }

  &.is-current {
    border-bottom-color: $aqua;
  }

  &.is-active {
    background-color: $primary;
    color: $primary-contrast;
  }

  &.is-disabled {

    &:hover,
    &:active {
      background: none;
      border-bottom-color: transparent;
    }
  }
}

.site-nav__dropdown {
  @include u-font-color($primary);
  display: none;
  background-color: $cream;
  border: 1px solid $beige;
  border-top: none;
  position: absolute;
  top: 6rem;
  z-index: $z-navigation;

  .site-nav__item {
    width: 100%;
  }

  .site-nav__link {
    border-bottom: 1px solid $beige;
    padding: 1rem;
    width: 100%;
  }
}


// Nav Buttons
//
// For the mobile menu toggle and glossary toggle
//
// .site-nav__button--left      - Mobile toggle
// .site-nav__button--right     - Glossary toggle

.site-nav__button {
  background-color: $ivory;
  border-radius: 0;
  line-height: 2rem;
  padding: 1.8rem 3rem;
  text-indent: -99999px;
}

.site-nav__button--left {
  @include u-background-image('i-menu--primary');
  float: left;

  &:hover {
    background-color: $cream;
  }  

  @include media($med) {
    display: none;
  }
}

.site-nav__button--right {
  @include u-background-image('i-book--secondary');
  float: right;
  
  &:hover {
    @include u-background-image('i-book--neutral');    
    background-color: lighten($secondary, 10%);
  }  
}