// Navigation
//
// Primary site navigation
//
// Elements:
// .site-nav                  - The outer nav element
// .site-nav__list            - ul that displays horizontally on desktop and is hidden on mobile until revealed
// .site-nav__item            - Each li inside the ul
// .site-nav__link            - Styles for the links inside the items
// .site-nav__dropdown        - A ul inside a site-nav__item li. On mobile, this expands on tap (see below) and on desktop, shows on hover
//
// Styleguide modules.navigation

.site-nav {
  @include clearfix();
}

.site-nav__list {
  @include u-bg--primary();
  @include transform(translateX(-100%));
  @include transition(transform, .2s);
  border-right: 1px solid $primary-contrast;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  top: 7rem;
  bottom: 0;
  z-index: $z-navigation;

  .utility-nav__item {
    padding: 0;
  }

  @include media($med) {
    top: 17rem;
  }

  @include media($lg) {
    @include clearfix();
    @include u-bg--neutral();
    @include transform(translateX(0));
    background: none;
    border: none;
    display: block;
    float: left;
    padding: 0;
    position: relative;
    top: 0;

    .utility-nav__item {
      display: none;
    }
  }
}

.site-nav__item {
  position: relative;
  border-bottom: 1px solid $primary-contrast;

  &:last-child .site-nav__link {
    border-bottom: 0;
  }

  @include media($lg) {
    float: left;
    border-bottom: none;
    
    &:hover,
    &:focus {
      background-color: $ivory;
    }

    &:hover {
      & > .site-nav__dropdown {
        display: block;
      }
    }
  }
}

// .site-nav__link 
.site-nav__link {
  @include transition(background-color, .1s);
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem;
  border-bottom: none;

  &.is-current {
    border-bottom-color: $aqua;
  }

  &.is-active {
    background-color: $primary;
    color: $primary-contrast;
  }

  &.is-disabled {

    &:hover,
    &:active {
      background: none;
      border-bottom-color: transparent;
    }
  }

  @include media($lg) {
    padding: 2rem;

    &:hover,
    &:focus
    &:active {
      border-bottom-color: transparent;
      background-color: $ivory;
    }
  }
}


.site-nav__dropdown {
  display: none;
  padding-bottom: 2rem;

  .site-nav__item {
    border-bottom: 0;
  }

  .site-nav__link {
    padding: .5rem 1rem;
  }

  @include media($lg) {
    @include u-bg--neutral();
    border: 1px solid $beige;
    border-top: none;
    padding-bottom: 0;
    position: absolute;
    top: 6rem;
    z-index: $z-navigation;

    .site-nav__item {
      width: 100%;
    }

    .site-nav__link {
      border-bottom: 1px solid $beige;
      padding: 1rem;
      width: 100%;

      &:hover,
      &:focus {
        border-bottom: 1px solid $primary;
        background-color: $primary;
        color: $ivory;
      }
    }    
  }
}


// Nav Buttons
//
// For the mobile menu toggle and glossary toggle
//
// .site-nav__button--left      - Mobile toggle
// .site-nav__button--right     - Glossary toggle

.site-nav__button {
  background-color: $ivory;
  border-radius: 0;
  margin: 0;
  padding: 1.8rem 2rem;
  text-indent: -99999px;

  @include media($med) {
    width: 9rem;
  }

  @include media($lg) {
    height: 6rem;
  }
}

.site-nav__button--left {
  @include u-background-image('i-menu--primary');
  float: left;
  height: 4rem;

  &:hover {
    background-color: $cream;
  }  

  @include media($med) {
    background-position: 90% 1rem;
    text-indent: 0;
    padding: 1rem 4rem 1rem 1rem;
  }

  @include media($lg) {
    display: none;
  }
}

.site-nav__button--right {
  @include u-background-image('i-book--secondary');
  float: right;
  height: 3.6rem;

  &:hover {
    @include u-background-image('i-book--neutral');    
    background-color: lighten($secondary, 10%);
  }  

  @include media($lg) {
    height: 6rem;
  }
}

// Toggle controls for the mobile menu
// 
// We use the same logic to show the entire menu as well as the sub-menus (site-nav__dropdown)
// When on mobile, we hide the site-nav__link in the site-nav__item--with-dropdown elements so that tapping on the toggle opens the dropdown, instead of taking you to the page
//
// Elements:
// .nav-toggle__input                       - The checkbox that controls whether adjacent lists are shown or hidden
// .nav-toggle__label                       - The label attached to the checkbox (not applied to the main menu button)
// .site-nav__item--with-dropdown           - The outer li that contains the dropdown list and toggle

.site-nav__item--with-dropdown {
  & > a.site-nav__link {
    display: none;
  }

  @include media($lg) {
    & > a.site-nav__link {
      display: block;
    }

    & > .nav-toggle__input,
    & > .nav-toggle__label {
      display: none;
    }
  }
}

.nav-toggle__label {
  position: relative;
  font-family: $serif;

  &::after {
    @include u-background-image('i-right--neutral');
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: -1rem;
    top: 1rem;
  }
}

.nav-toggle__input {
  @include u-visually-hidden();

  & + label {
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  &:checked {
    & + .site-nav__button {
      @include u-background-image('i-menu--neutral');
      background-color: $primary;
      color: $neutral;

      @include media($med) {
        background-position: 90% 1rem;
      }
    }

    & + .nav-toggle__label {
      color: $primary-contrast;

      &::after {
        @include u-background-image('i-down--primary-contrast');
      }
    }

    & ~ .site-nav__list {
      @include transform(translateX(0));
    }

    & ~ .site-nav__dropdown {
      display: block;
    }
  }
}


  