// Page Controls & Tabs
//
// The bar at the top of pages that contains the page title and tabs. The page title shows when scrolled below the page-controls.
//
// .page-controls--primary    - On blue background
// .page-controls--secondary  - On crimson background
//
// Markup:
// <div class="page-controls {{modifier_class}}">
//   <div class="page-controls__top">
//     <div class="container">
//       <span class="page-controls__title">Page Title</span>
//     </div>
//   </div>
//   <div class="page-controls__bottom">
//     <div class="container">
//        <nav class="page-tabs list--flat">
//           <ul role="tablist" data-name="tab">
//             <li role="presentation" class="page-tabs__item"><a role="tab" data-name="summary" tabindex="0" aria-controls="panel1" aria-selected="true" href="#section-1">Financial Summary</a></li>
//             <li role="presentation" class="page-tabs__item"><a role="tab" data-name="receipts" tabindex="-1" aria-controls="panel2" href="#section-2">Receipts</a></li>
//             <li role="presentation" class="page-tabs__item"><a role="tab" data-name="disbursements" tabindex="-1" aria-controls="panel3" href="#section-3">Disbursements</a></li>
//             <li role="presentation" class="page-tabs__item"><a role="tab" data-name="filings" tabindex="-1" aria-controls="panel4" href="#section-4">Filings</a></li>
//           </ul>
//       </nav>
//     </div>
//   </div>
// </div>
//
// Styleguide modules.page-controls

.page-controls {
  @include clearfix();
  padding: u(0 2rem); 
  .container {
    padding: 0;
  }
}

.page-controls__bottom {
  width: 100%;
}

.page-controls__top {
  display: none;
  padding: u(1rem 0);
}

.page-tabs {
  text-align: left;
  padding: 0;
  overflow-x: scroll;
}

.page-tabs__years {
  padding: u(.5rem);
}

.page-tabs__list {
  white-space: nowrap;
}

.page-tabs__item {
  display: inline-block;
  margin-left: -4px;

  a {
    @include heading(h3);
    color: $gray-lightest;
    border-bottom: 0;
    border-color: $inverse;
    border-top-width: 1px;
    border-right-width: 0;
    border-left-width: 1px;
    border-style: solid;
    font-family: $sans-serif;
    font-size: u(1.4rem);
    display: block;
    letter-spacing: u(-.05rem);
    line-height: u(2rem);
    margin-bottom: 0;
    padding: u(.5rem);
    text-decoration: none;

    &[aria-selected="true"] {
      background-color: $inverse;
    }
  }

  &:last-of-type {
    margin-right: 0;

    a {
      border-right-width: 1px;
    }
  }
}

// Show the hidden top part when stuck
.is-stuck {
  .page-controls__top {
    display: block;
  }
}

// Primary and secondary styles
.page-controls--primary {
  @include u-bg--primary();

  .page-tabs__item {
    a[aria-selected="true"]  {
      color: $primary;
    }
  }

  &.is-stuck {
    border-bottom: 1px solid $primary;
  }
}

.page-controls--secondary {
  @include u-bg--secondary();

  .page-tabs__item {
    a[aria-selected="true"]  {
      color: $secondary;
    }
  }
}

.page-controls--neutral {
  @include u-bg--neutral();
}

// BREAKPOINT: MEDIUM
// - Display tabs in a row
@include media($med) {

  .page-tabs__item {
    a {
      padding: u(1rem);
    }
  }
}

// BREAKPOINT: LARGE
// - More padding
@include media($lg) {
  .page-tabs {
    overflow-x: visible;
  }

  .page-controls {
    padding: 0;
  }

  .page-tabs__years {
    padding: u(1rem 2rem 1rem 0);

    h2 {
      margin: 0;
    }
  }

  .page-tabs__item {
    a {
      padding: u(1rem 2rem);
    }
  }
}
