// Results Info
//
// The box of controls and info above and below datatables.
//
// Styleguide modules.results-info

.results-info {
  @include clearfix();
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  padding: 1rem 1rem;
}

.results-info__left {
  @include clearfix();
  margin-bottom: 1rem;
}

.results-info__right {
  @include clearfix();
}

.results-info__title {
  border: none;
  margin: 0;
}

.results-info__download {
  margin-top: 1rem;
}

.results-info__details {
  line-height: 2;
  font-family: $sans-serif;
}

.results-info--simple {
  border-top: none;
}

.dataTables_wrapper {
  .results-info {
    font-family: $sans-serif;

    .dataTables_paginate {
      float: right;
      padding: .5rem 0;
    }

    .dataTables_length {
      float: left;
      line-height: 2rem;

      select {
        display: inline;
      }
    }
  }
}

// BREAKPOINT: MEDIUM

@include media($med) {
  .results-info__left {
    float: left;
    margin-bottom: 0;
  }

  .results-info__right {
    float: right;
  }

  .results-info__download {
    float: right;
    margin: 0;
    position: relative;
  }

  .dataTables_wrapper {
    .results-info {
      .dataTables_length,
      .dataTables_paginate {
        float: left;
        margin-left: 0;
      }

      .dataTables_info {
        margin-left: 1.5em;
        float: right;
        clear: right;
      }
    }

    .dataTables_length {
      padding: 0 1rem 0 0;
    }

    .dataTables_paginate {
      padding: .5rem 0;
    }
  }
}

// BREAKPOINT: LARGE
@include media($lg) {
  .results-info {
    padding: 1rem 0;
  }
}
