// Section headings
//
// Contain the title, date select and action button
//
// Markup:
// <div class="section__heading">
//  <h2 class="heading__title">Heading title
//     <select class="cycle-select">
//       <option>Option 1</option>
//     </select>
//   </h2>
//   <a class="heading__action button--neutral button--browse">Browse</a>
// </div>
//
// Styleguide modules.section-headings

.section__heading {
  @include clearfix();
  border-bottom: 2px solid;
  margin-bottom: 1rem;

  .cycle-select {
    display: block;
    margin-top: 1rem;
  }
}

.heading__title {
  border-bottom: 0;
  margin-bottom: 0;
}

.heading__subtitle {
  margin-bottom: 1rem;
}

.heading__action {
  margin-bottom: 1rem;
}

// BREAKPOINT: LARGE
// Float the action button to the right
// Cycle select goes inline with the title

@include media($lg) {
  .section__heading {
    .cycle-select {
      display: inline-block;
      margin-top: 0;
    }
  }

  .heading__title {
    float: left;
  }

  .heading__action {
    float: right;
    margin-bottom: 0;
  }
}