// Section headings
//
// Contain the title, date select and action button.
//
// Markup:
// <div class="section__heading">
//  <h2 class="heading__title">Heading title</h2>
// </div>
//
// Styleguide modules.section-headings.0

.section__heading {
  @include clearfix();
  border-bottom: 2px solid;
  margin-bottom: u(1rem);
}

// With action
//
// When the heading title includes an action.
//
// Markup:
// <div class="section__heading">
//  <h2 class="heading__title heading__title--with-action">A heading with an action</h2>
//  <div class="heading__action">
//    <ul class="list--buttons">
//      <li><a class="button button--standard button--table" href="#">Explore data</a></li>
//      <li><button class="button button--standard button--share">Share</button></li>
//    </ul>
//  </div>
//
// Styleguide modules.section-headings.1
//
.heading__title {
  border-bottom: 0;
  margin-bottom: u(1rem);

  &.heading__title--with-action {
    line-height: u(3.4rem);
    margin: 0;
  }
}

// Heading main
//
// When the heading title is also the title of the page.
//
// Markup:
// <div class="section__heading">
//  <h1 class="heading__title heading__title--main">Page title</h1>
//  <span class="heading__subtitle">A subtitle</span>
// </div>
//
// Styleguide modules.section-headings.2

.heading__title--main {
  @include heading(display);
  margin: 0;
  padding: 0;
}

.heading__subtitle {
  font-family: $sans-serif;
  font-weight: bold;
  letter-spacing: -.3px;
  margin-bottom: u(1rem);
  text-transform: uppercase;
}

.heading__action {
  margin-bottom: u(1rem);
}

.heading__action__top {
  margin-top: u(-1rem);
  margin-bottom: u(1rem);
  text-align: right;
}

.heading__action__left {
  float: left;
  margin-right: u(1rem);
}

.heading__action__right {
  float: left;
  text-align: right;
}

.heading__link-name {
  display: block;
  font-size: u(1.2rem);
}

.heading__message {
  border-top: 0;
}

// BREAKPOINT: MEDIUM
// Float the action button to the right
// Cycle select goes inline with the title

@include media($med) {
  .section__heading {
    .cycle-select {
      display: inline-block;
      margin-top: 0;
    }
  }

  .heading__title--with-action {
    float: left;
  }

  .heading__action {
    float: right;
  }
}

@media print {
  .heading__action {
    display: none;
  }
}
