// Site Header
//
// Styleguide modules.site-header

// Staging banner
.banner {
  display: none;
  background-color: $navy;
  color: $inverse;
  font-family: $sans-serif;
  padding: 1rem 0;
  width: 100%;

  a {
    border-bottom-color: $inverse;
    color: $inverse;
  }
}

// Skip nav
.skip-nav {
  @include transition(top, .2s);
  background-color: $primary;
  border: 2px solid $primary-contrast;
  color: $inverse;
  font-family: $sans-serif;
  left: 2rem;
  padding: 1rem 2rem;
  position: absolute;
  top: -10rem;
  z-index: $z4;

  &:focus {
    border-bottom-color: $primary-contrast;
    top: 0;
  }
}

// US Bar
//
// Markup:
// <div class="disclaimer">
//   <span class="disclaimer__left">Looking for fec.gov? <a href="http://www.fec.gov">Click here.</a></span>
//   <span class="disclaimer__center">
//     An official website of the United States Government.
//     <img alt="US flag signifying that this is a United States Federal Government website" src="../img/us_flag_small.png">
//   </span>
//   <span class="disclaimer__right">This site is currently in <a href="https://18f.gsa.gov/dashboard/stages/#beta">beta</a>.</span>
// </div>
//
// Styleguide modules.site-header.disclaimer

.disclaimer {
  @include clearfix();
  border-bottom: 1px solid $primary;
  font-family: $sans-serif;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  text-align: center;
}

.disclaimer__left {
  display: none;
  float: left;

  @include media($med) {
    display: block;
  }
}

.disclaimer__center {
  display: none;

  img {
    vertical-align: middle;
  }

  @include media($med) {
    display: inline-block;
  }
}

.disclaimer__right {
  text-align: center;

  @include media($med) {
    float: right;
  }
}

// Masthead
//
// The combination of the logo, site title and utility nav
//
// Markup:
// <div class="masthead">
//   <a href="/" title="Home" class="site-title"><span class="u-visually-hidden">Federal Election Commission | United States of America</span></a>
//   <ul class="utility-nav list--flat">
//     <li class="utility-nav__item">About</li>
//     <li class="utility-nav__item">Contact</li>
//   </ul>
// </div>
//
// Styleguide modules.site-header.masthead

.masthead {
  @include clearfix();
  border-bottom: 2px solid $neutral;
  padding: 1.9rem 2rem 0 0;
  display: none;

  @include media($med) {
    display: block;

    .site-title {
      @include u-background-image('lockup', 0% 0%);
      background-size: contain;
      height: 8rem;
      width: 70%;
    }
  }
}

.utility-nav {
  font-family: $sans-serif;
  display: none;
  float: right;
  padding: .55rem 0;

  @include media($lg) {
    display: block;
  }
}

.utility-nav__item {
  padding: 0 2rem;

  &:last-child {
    padding-right: 0;
  }

  a {
    border: none;
  }
}

.site-header {
  @include media($lg) {
    position: relative;
    z-index: $z-header;
  }
}

.site-title {
  margin-bottom: 0;
  border-bottom: 0;
  display: block;
  float: left;
}

// Mobile site title is included in the .site-nav nav element
.site-nav {
  .site-title {
    @include u-background-image('wordmark', 0% 50%);
    background-size: contain;
    height: 3rem;
    margin: .5rem 1rem;
    width: calc(100% - 15rem);
    max-width: 40rem;
    @include media($med) {
      display: none;
    }
  }
}
