// Totals Tables
//
// Simple tables, often paired with accordion components to expand and collapse.
// This component is focused on the styling.
//
// Styleguide modules.totals-tables


.totals-table {
  font-family: $sans-serif;
  font-size: u(1.6rem);
  letter-spacing: -.3px;
}

.totals-table__row {
  @include clearfix();

  .row {
    display: table;
    width: 100%;
  }
}

.totals-table__cell {
  display: table-cell;
  padding: u(1rem 0);

  &:first-child {
    font-weight: bold;
  }

  &:nth-child(2) {
    text-align: right;
  }
}

.totals-table__cell--bar {
  width: 100%;
  padding: 0;
  background-color: $gray-lightest;
}

.totals-table__label {
  font-weight: bold;
  display: block;
}

.totals-table__header-label {
  display: block;
  font-weight: bold;
  padding-bottom: u(1rem);
}

.totals-table__header-data {
  border-bottom: 1px solid $primary;
  font-size: u(2rem);
  font-weight: bold;
  padding-bottom: u(1rem);
  margin-bottom: u(2rem);
}

.totals-table__row--nested {
  font-size: u(1.4rem);
  padding: u(.5rem 2rem);
}

@include media($med) {
  .totals-table__row,
  .totals-table__row--nested {
    .totals-table__cell,
    .totals-table__cell:first-child {
      padding: .5em 0;
    }
  }
}

@include media($lg) {
  .totals-table__row--nested {
    padding: u(1rem 4rem);
    width: 50%;
    float: left;
  }
}
