// Elements
//
// Base styles 
//
// Styleguide 1

@import "mixins";
@import "variables";
@import "typography";
@import "links";
@import "lists";
@import "forms";
@import "tables";
@import "images";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
// @import "grid-settings";

// Base styles
/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

.lt-ie9 {
  // Hack for clearfixes
  * {
    filter: none !important;
  }
}

[aria-hidden=true] {
  display: none !important;
}