// Forms
// 
// .slab--primary     - When the form is on a primary background
// .slab--secondary   - When the form is on a secondary background
// .slab--neutral     - When the form is on a neutral background
//
// Markup:
// <div class="slab {{modifier_class}}">
//   <div class="container">
//     <label class="label" for="input">Label</label>
//     <input type="text" id="input">
//     <label class="label" for="select">Label</label>
//     <select>
//      <option>Option 1</option>
//     </select>
//   </div>
// </div>
//
// Styleguide elements.forms

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
label,
select {
  display: block;
}

label {
  margin: 0;
  font-family: $sans-serif;

  abbr {
    display: none;
  }
}

input,
select[multiple=multiple],
textarea,
select {
  background-color: $cream;
  border-color: $brown;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  font-family: $sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 1rem;
  transition: border-color;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $primary;
    color: $primary;
  }
}

select {
  @include appearance(none);
  width: auto;
  background-image: url('../img/i-down--primary.png');
  background-image: url('../img/i-down--primary.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 12px;
  padding: .6rem 3rem .6rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="file"] {
  padding-bottom: 1rem;
  width: 100%;
}

// Checkboxes and Radio Buttons
//
// Custom checkboxes and radio buttons
//
// .slab--primary     - When the form is on a primary background
// .slab--secondary   - When the form is on a secondary background
// .slab--neutral     - When the form is on a neutral background
//
// Markup:
// <div class="slab {{modifier_class}}">
//  <div class="container">
//   <fieldset>
//     <legend class="label">Select any</legend>
//     <ul>
//       <li>
//         <input type="checkbox" id="checkbox-{{modifier_class}}-A" checked>
//         <label for="checkbox-{{modifier_class}}-A">Option 1</label>
//       </li>
//       <li>
//         <input type="checkbox" id="checkbox-{{modifier_class}}-B">
//         <label for="checkbox-{{modifier_class}}-B">Option 2</label>
//       </li>
//     </ul>
//   </fieldset>
//   <fieldset>
//     <legend class="label">Select one</legend>
//     <ul>
//       <li>
//         <input type="radio" id="radio-{{modifier_class}}-A" name="radio" tab-index="0" checked>
//         <label for="radio-{{modifier_class}}-A">Option 1</label>
//       </li>
//       <li>
//         <input type="radio" id="radio-{{modifier_class}}-B" name="radio" tab-index="0">
//         <label for="radio-{{modifier_class}}-B" >Option 2</label>
//       </li>
//     </ul>
//   </fieldset>
//  </div>
// </div>
//
// Styleguide elements.forms.checkboxes

[type="checkbox"],
[type="radio"] {
  @include u-visually-hidden();
}

[type="checkbox"] + label,
[type="radio"] + label {
  cursor: pointer;
  line-height: 2rem;
  margin-bottom: 1rem;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  background: $cream;
  border: 2px solid $primary;
  border-radius: 2px;
  content: '';
  display: inline-block;
  height: 1.6rem;
  margin-right: .6em;
  text-indent: .15em;
  width: 1.6rem;
  vertical-align: -4px;
}

[type="radio"] + label::before {  
  height: 1.6rem;  
  width: 1.6rem;  
}

[type="radio"] + label::before {
  border-radius: 1.6rem;
}

[type="checkbox"]:checked + label::before,
[type="radio"]:checked + label::before {
  background-color: $primary;
}

[type="checkbox"]:checked + label::before {
  background-image: url('../img/i-check--neutral.png');
  background-image: url('../img/i-check--neutral.svg');
  background-position: 50%;
  background-size: 12px;
  background-repeat: no-repeat;
}

[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px $primary-contrast;
}

[type="checkbox"]:disabled + label::before,
[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

// Basic button reset
// 
// Markup:
// <button>Unstyled button</button>
//
// Styleguide elements.forms.buttons

[type="submit"],
[type="reset"],
[type="button"],
button {
  @include appearance(none);
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  line-height: 1;
  text-decoration: none;
  user-select: none;

  &:hover,
  &:focus {
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
