// Links
// 
// Use them like this
//
// Markup:
// <a href="...">Link</a>
// 
// Styleguide elements.links

a {
  border-bottom: 2px dotted $primary;
  color: $primary;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:hover {
    border-bottom-color: $primary-contrast;
  }

  img {
    border: none;
  }
}
